Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

feat(agents): Task 2.4 - Consolidate Agent Cards (1,518 lines archived)
  apps/vital-system/_archive/2025-12-14/agent-cards-consolidated/VitalAgentCard.tsx
  apps/vital-system/_archive/2025-12-14/agent-cards-consolidated/VitalAgentCardEnhanced.tsx
  apps/vital-system/_archive/2025-12-14/agent-cards-consolidated/agent-preview-card.tsx
  apps/vital-system/_archive/2025-12-14/agent-cards-consolidated/enhanced-agent-card.tsx
  apps/vital-system/_archive/2025-12-14/agent-cards-consolidated/selected-agent-card.tsx
  apps/vital-system/src/components/vital-ai-ui/agents/index.ts
  apps/vital-system/src/features/agents/components/index.ts
  docs/audits/FRONTEND_IMPLEMENTATION_PLAN.md
Owners: @vital-path/team, @vital-path/docs-team

fix(vital-ai-ui): resolve TS2308 duplicate export conflicts
  apps/vital-system/_archive/2025-12-14/unused-infrastructure/deployment/blue-green-deployment.ts
  apps/vital-system/_archive/2025-12-14/unused-infrastructure/optimization/database-optimizer.ts
  apps/vital-system/_archive/2025-12-14/unused-infrastructure/security/owasp-validator.ts
  apps/vital-system/_archive/2025-12-14/unused-infrastructure/security/threat-detector.ts
  apps/vital-system/src/components/vital-ai-ui/index.ts
Owners: @vital-path/team

fix(ui): restore correct sidebar component implementations
  packages/ui/package.json
  packages/ui/src/components/sidebar.tsx
  pnpm-lock.yaml
Owners: @vital-path/team, @vital-path/frontend-team

fix(services): add type safety to LLM provider service
  apps/vital-system/src/hooks/useLLMProviders.ts
  apps/vital-system/src/services/llm-provider.service.ts
  apps/vital-system/src/types/llm-provider.types.ts
Owners: @vital-path/team

fix: workflow execution endpoint routing and validation
  apps/vital-system/src/app/api/agents/route.ts
  apps/vital-system/src/app/api/user-panels/route.ts
  apps/vital-system/src/components/sidebar-view-content.tsx
  apps/vital-system/src/features/ask-panel/services/agent-service.ts
  apps/vital-system/src/features/workflow-designer/components/designer/WorkflowDesignerEnhanced.tsx
  apps/vital-system/src/features/workflow-designer/components/modals/WorkflowTestModal.tsx
  database/migrations/20251211_create_panel_response_templates.sql
  database/migrations/20251211_create_user_panels_table.sql
  database/migrations/20251212_create_ask_panel_tables.sql
  pnpm-lock.yaml
  services/ai-engine/AI_ENGINE_ANALYSIS_REPORT.md
  services/ai-engine/src/api/routes/ask_panel_streaming.py
  services/ai-engine/src/api/routes/register.py
  services/ai-engine/src/langgraph_workflows/ask_expert/config.py
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced/__init__.py
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced/workflow.py
  services/ai-engine/src/services/agent_service.py
  services/ai-engine/src/services/ask_panel_config.py
  services/ai-engine/src/services/llm_service.py
  services/ai-engine/src/services/panel_response_template_service.py
  supabase/migrations/20251211_create_user_panels_table.sql
Owners: @vital-path/team, @vital-path/docs-team, @vital-path/database-team

feat: pull ask_panel updates from fix/workflow-execution-routing
  apps/vital-system/src/app/(app)/ask-panel/[slug]/page.tsx
  apps/vital-system/src/app/(app)/ask-panel/components/action-items-display.tsx
  apps/vital-system/src/app/(app)/ask-panel/components/panel-templates.tsx
  apps/vital-system/src/app/(app)/ask-panel/page.tsx
  apps/vital-system/src/components/ask-panel/StreamingPanelConsultation.tsx
  apps/vital-system/src/features/ask-panel/components/PanelExecutionView.tsx
  apps/vital-system/src/features/ask-panel/services/agent-service.ts
  database/migrations/20251212_create_ask_panel_tables.sql
  services/ai-engine/src/api/routes/ask_panel_streaming.py
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced/__init__.py
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced/workflow.py
  services/ai-engine/src/services/ask_panel_config.py
Owners: @vital-path/team

feat: pull designer updates from fix/workflow-execution-routing
  apps/vital-system/src/app/(app)/designer/agent/page.tsx
  apps/vital-system/src/app/(app)/designer/knowledge/page.tsx
  apps/vital-system/src/app/(app)/designer/page.tsx
  apps/vital-system/src/components/app-sidebar.tsx
  apps/vital-system/src/components/panel-designer.tsx
  apps/vital-system/src/components/sidebar-view-content.tsx
  apps/vital-system/src/components/sidebar/views/SidebarDesignerContent.tsx
  apps/vital-system/src/components/sidebar/views/index.ts
  apps/vital-system/src/features/designer/hooks/index.ts
  apps/vital-system/src/features/designer/hooks/useExternalEvidence.tsx
  apps/vital-system/src/features/designer/hooks/useKnowledgeDesigner.ts
  apps/vital-system/src/features/designer/hooks/useKnowledgeQuery.ts
  apps/vital-system/src/features/designer/types/knowledge-designer.types.ts
  apps/vital-system/src/features/workflow-designer/components/designer/WorkflowDesignerEnhanced.tsx
  apps/vital-system/src/features/workflow-designer/components/modals/WorkflowTestModal.tsx
Owners: @vital-path/team

chore: update ask_expert_autonomous route
  services/ai-engine/src/api/routes/ask_expert_autonomous.py
Owners: @vital-path/team

feat: register ask-panel-enhanced routes and add running guide
  docs/guides/ASK_PANEL_SERVICES_GUIDE.md
  services/ai-engine/src/api/routes/register.py
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve 403 Forbidden error for ask-panel-enhanced
  apps/vital-system/src/app/api/ask-panel-enhanced/stream/route.ts
  services/ai-engine/src/api/middleware/auth.py
Owners: @vital-path/team

fix: add missing AgentService and LLMService for ask-panel-enhanced
  services/ai-engine/src/services/agent_service.py
  services/ai-engine/src/services/llm_service.py
Owners: @vital-path/team

fix: exempt ask-panel-enhanced routes from CSRF validation
  apps/vital-system/src/proxy.ts
Owners: @vital-path/team

fix: remove duplicate authHeader variable declaration
  apps/vital-system/src/app/api/ask-panel-enhanced/stream/route.ts
Owners: @vital-path/team

fix: forward authToken to backend when extracted from session
  apps/vital-system/src/app/api/ask-panel-enhanced/stream/route.ts
Owners: @vital-path/team

Update ask-expert streaming UX and add smoke tests
  apps/vital-system/src/app/api/ask-expert/missions/templates/route.ts
  apps/vital-system/src/app/globals.css
  apps/vital-system/src/features/ask-expert/components/VitalWorkspace.tsx
  apps/vital-system/src/features/ask-expert/components/autonomous/MissionTemplateSelector.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/StreamingMessage.tsx
  apps/vital-system/src/features/ask-expert/hooks/streamReducer.ts
  apps/vital-system/src/features/ask-expert/hooks/useSSEStream.ts
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
  docs/ask-expert/ASK_EXPERT_END_TO_END_AUDIT_2025_01_27.md
  docs/ask-expert/MODE_1-4_100_PERCENT_ROADMAP.md
  services/ai-engine/src/api/routes/ask_expert_interactive.py
  services/ai-engine/src/tests/integration/test_api_smoke.py
  services/ai-engine/src/tests/test_hybrid_search_performance.py
  services/ai-engine/src/tests/test_memory_integration.py
  services/ai-engine/src/tests/test_phase2_memory.py
  services/ai-engine/src/tests/test_rag_config.py
  services/ai-engine/src/tests/test_services.py
  services/ai-engine/src/tests/test_templates_registry.py
Owners: @vital-path/team, @vital-path/docs-team

fix: Breadcrumb alignment and use Lucide icons for agent header
  apps/vital-system/src/components/dashboard/unified-dashboard-layout.tsx
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
Owners: @vital-path/team

fix: Breadcrumb separator vertical alignment
  apps/vital-system/src/components/ui/breadcrumb.tsx
Owners: @vital-path/team

docs: Add streaming implementation guide to prevent regressions
  docs/ask-expert/STREAMING_IMPLEMENTATION_GUIDE.md
Owners: @vital-path/docs-team

docs: Add comprehensive frontend and backend component inventory
  docs/ask-expert/STREAMING_IMPLEMENTATION_GUIDE.md
Owners: @vital-path/docs-team

docs: Add directory tree structures for frontend and backend components
  docs/ask-expert/STREAMING_IMPLEMENTATION_GUIDE.md
Owners: @vital-path/docs-team

docs: Update roadmap with GraphRAG operational status
  docs/ask-expert/MODE_1-4_100_PERCENT_ROADMAP.md
Owners: @vital-path/docs-team

docs: Add Neo4j GraphRAG integration changelog entry
  docs/ask-expert/RAG_IMPLEMENTATION_CHANGELOG_2025_01_27.md
Owners: @vital-path/docs-team

feat: Unify Mode 1 & Mode 2 to identical UI via shared interactive route
  apps/vital-system/src/app/(app)/ask-expert/mode-1/page.tsx
  apps/vital-system/src/app/(app)/ask-expert/mode-2/page.tsx
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
Owners: @vital-path/team

fix: Handle stream completion/error when no content received
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
Owners: @vital-path/team

feat: integrate Cytoscape network graph for agent hierarchy visualization
  apps/vital-system/src/app/(app)/agents/[slug]/page.tsx
Owners: @vital-path/team

fix: use shared SidebarAgentsContent component with view mode buttons
  apps/vital-system/src/components/app-sidebar.tsx
Owners: @vital-path/team

fix: Improve Mode 2 streaming fallback and add diagnostic logging
  services/ai-engine/src/api/routes/expert.py
Owners: @vital-path/team

fix: update agents grid view to use VitalAssetView with 3 columns
  apps/vital-system/src/app/(app)/agents/page.tsx
Owners: @vital-path/team

fix: limit /discover grid views to 3 columns max
  apps/vital-system/src/app/(app)/discover/skills/page.tsx
  apps/vital-system/src/app/(app)/discover/tools/page.tsx
Owners: @vital-path/team

fix: enforce 3 columns max across all grid views
  apps/vital-system/src/app/(app)/prompts/page.tsx
  apps/vital-system/src/app/(app)/prompts/suites/[suite]/[subSuite]/page.tsx
  apps/vital-system/src/app/(app)/prompts/suites/[suite]/page.tsx
  packages/vital-ai-ui/src/assets/VitalAssetGrid.tsx
Owners: @vital-path/team

feat: enhance skill detail page with related agents and statistics
  apps/vital-system/src/app/(app)/discover/skills/[slug]/page.tsx
  apps/vital-system/src/app/api/skills/[id]/agents/route.ts
Owners: @vital-path/team

refactor: remove header from skill detail page
  apps/vital-system/src/app/(app)/discover/skills/[slug]/page.tsx
Owners: @vital-path/team

feat(skills): add detailed description field and documentation tab
  apps/vital-system/src/app/(app)/discover/skills/[slug]/page.tsx
  database/postgres/migrations/20251215_add_detailed_description_to_skills.sql
  scripts/populate-skill-detailed-descriptions.ts
Owners: @vital-path/team

feat(skills): add admin API and improve populate script
  apps/vital-system/src/app/api/admin/skills/populate-descriptions/route.ts
  scripts/populate-skill-detailed-descriptions.ts
Owners: @vital-path/team

feat(skills): add editing for detailed description and documentation links
  apps/vital-system/src/app/(app)/discover/skills/[slug]/page.tsx
  apps/vital-system/src/app/api/skills/[id]/route.ts
Owners: @vital-path/team

feat(skills): add comprehensive skill seed script
  scripts/seed-all-skills.ts
Owners: @vital-path/team

fix(streaming): enable real-time token-by-token rendering in Mode 1
  apps/vital-system/src/components/vital-ai-ui/conversation/VitalStreamText.tsx
  docs/ask-expert/ASK_EXPERT_UNIFIED_BACKEND_OVERVIEW.md
  docs/ask-expert/ASK_EXPERT_UNIFIED_FRONTEND_OVERVIEW.md
  services/ai-engine/src/langgraph_workflows/__init__.py
  services/ai-engine/src/langgraph_workflows/ask_expert/__init__.py
Owners: @vital-path/team, @vital-path/docs-team

fix(ask-expert): Mode 2 agent_selected event + chat input alignment
  apps/vital-system/src/features/ask-expert/hooks/useSSEStream.ts
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
Owners: @vital-path/team

fix(ask-expert): Mode 2 expert selection via fusion + agent_selected events
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
Owners: @vital-path/team

fix(ask-expert): Mode 2 BFF accepts session_id and tenant_id from frontend
  apps/vital-system/src/app/api/expert/mode2/stream/route.ts
Owners: @vital-path/team
