Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

docs: Add comprehensive PR description for Sprint 1
  PR_DESCRIPTION.md
Owners: @vital-path/docs-team

docs: Add merge checklist and testing guide
  MERGE_CHECKLIST.md
Owners: @vital-path/docs-team

refactor: Sprint 2 - Create CapabilitiesTab, KnowledgeTab, and ToolsTab components
  403_ERROR_FINAL_RESOLUTION.md
  PHASE_A_ANALYTICS_FOUNDATION_COMPLETE.md
  PROMPT_STARTERS_API_FIX.md
  RLS_POLICIES_FIX_403.md
  SPRINT2_COMPONENTS_CREATED.md
  TESTING_COMPLETE.md
  apps/digital-health-startup/src/app/api/prompt-starters/route.ts
  apps/digital-health-startup/src/components/admin/AbuseDetectionDashboard.tsx
  apps/digital-health-startup/src/components/admin/CostAnalyticsDashboard.tsx
  apps/digital-health-startup/src/components/admin/RateLimitMonitoring.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/CapabilitiesTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/KnowledgeTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/ToolsTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/index.ts
  apps/digital-health-startup/src/lib/analytics/UnifiedAnalyticsService.ts
  apps/digital-health-startup/src/lib/analytics/integration-examples.ts
  database/sql/migrations/2025/20251104000000_unified_analytics_schema.sql
  database/sql/migrations/2025/execute_analytics_migration.sh
  tests/TEST_DOCUMENTATION.md
  tests/integration/full-flow.test.js
  tests/run-all-tests.js
  tests/unit/prompt-detail-api.test.js
  tests/unit/prompt-starters-api.test.js
Owners: @vital-path/docs-team, @vital-path/team

refactor: Sprint 2 - Create CapabilitiesTab, KnowledgeTab, and ToolsTab components
  403_ERROR_FINAL_RESOLUTION.md
  PHASE_A_ANALYTICS_FOUNDATION_COMPLETE.md
  PROMPT_STARTERS_API_FIX.md
  RLS_POLICIES_FIX_403.md
  SPRINT2_COMPONENTS_CREATED.md
  TESTING_COMPLETE.md
  apps/digital-health-startup/src/app/api/prompt-starters/route.ts
  apps/digital-health-startup/src/components/admin/AbuseDetectionDashboard.tsx
  apps/digital-health-startup/src/components/admin/CostAnalyticsDashboard.tsx
  apps/digital-health-startup/src/components/admin/RateLimitMonitoring.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/CapabilitiesTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/KnowledgeTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/ToolsTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/index.ts
  apps/digital-health-startup/src/lib/analytics/UnifiedAnalyticsService.ts
  apps/digital-health-startup/src/lib/analytics/integration-examples.ts
  database/sql/migrations/2025/20251104000000_unified_analytics_schema.sql
  database/sql/migrations/2025/execute_analytics_migration.sh
  tests/TEST_DOCUMENTATION.md
  tests/integration/full-flow.test.js
  tests/run-all-tests.js
  tests/unit/prompt-detail-api.test.js
  tests/unit/prompt-starters-api.test.js
Owners: @vital-path/docs-team, @vital-path/team

refactor: Sprint 2 - Integrate CapabilitiesTab, KnowledgeTab, and ToolsTab
  IMPLEMENTATION_COMPLETE_SUMMARY.md
  PHASE_B_SERVICE_INTEGRATION_COMPLETE.md
  PHASE_B_SERVICE_INTEGRATION_PROGRESS.md
  QUICK_START_GUIDE.md
  SYSTEM_ARCHITECTURE_DIAGRAM.md
  TOOLS_LOADING_FIX.md
  apps/digital-health-startup/src/app/api/ask-expert/route.ts
  apps/digital-health-startup/src/app/api/knowledge/upload/route.ts
  apps/digital-health-startup/src/app/api/prompt-starters/route.ts
  apps/digital-health-startup/src/components/admin/AuditLogs.tsx
  apps/digital-health-startup/src/components/admin/WorkflowManagement.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/KnowledgeTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/ToolsTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/index.ts
  apps/digital-health-startup/src/features/chat/components/agent-creator/types.ts
  apps/digital-health-startup/src/features/chat/services/ask-expert-graph.ts
  apps/digital-health-startup/src/lib/analytics/auth-tracking.ts
  apps/digital-health-startup/src/lib/analytics/workflow-tracking.ts
  apps/digital-health-startup/src/lib/middleware/analytics-middleware.ts
  apps/digital-health-startup/src/shared/services/supabase/client.ts
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

refactor: Sprint 2 - Integrate CapabilitiesTab, KnowledgeTab, and ToolsTab
  IMPLEMENTATION_COMPLETE_SUMMARY.md
  PHASE_B_SERVICE_INTEGRATION_COMPLETE.md
  PHASE_B_SERVICE_INTEGRATION_PROGRESS.md
  QUICK_START_GUIDE.md
  SYSTEM_ARCHITECTURE_DIAGRAM.md
  TOOLS_LOADING_FIX.md
  apps/digital-health-startup/src/app/api/ask-expert/route.ts
  apps/digital-health-startup/src/app/api/knowledge/upload/route.ts
  apps/digital-health-startup/src/app/api/prompt-starters/route.ts
  apps/digital-health-startup/src/components/admin/AuditLogs.tsx
  apps/digital-health-startup/src/components/admin/WorkflowManagement.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/KnowledgeTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/ToolsTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/index.ts
  apps/digital-health-startup/src/features/chat/components/agent-creator/types.ts
  apps/digital-health-startup/src/features/chat/services/ask-expert-graph.ts
  apps/digital-health-startup/src/lib/analytics/auth-tracking.ts
  apps/digital-health-startup/src/lib/analytics/workflow-tracking.ts
  apps/digital-health-startup/src/lib/middleware/analytics-middleware.ts
  apps/digital-health-startup/src/shared/services/supabase/client.ts
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

docs: Add Sprint 2 PR description and testing checklist
  SPRINT2_PR_DESCRIPTION.md
  SPRINT2_TESTING_CHECKLIST.md
Owners: @vital-path/docs-team

docs: Add Sprint 2 PR description and testing checklist
  SPRINT2_PR_DESCRIPTION.md
  SPRINT2_TESTING_CHECKLIST.md
Owners: @vital-path/docs-team

docs: Add final Sprint 2 testing documentation and setup files
  apps/digital-health-startup/.env.local.COMPLETE
  apps/digital-health-startup/.env.local.FIXED
  apps/digital-health-startup/.env.local.template
  apps/digital-health-startup/SPRINT2_TESTING_COMPLETE.md
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/__tests__/setup.ts
  apps/digital-health-startup/validate-env.sh
  services/ai-engine/src/main.py
  services/api-gateway/src/index.js
  start-all-services.sh
Owners: @vital-path/team, @vital-path/docs-team

docs: Add final Sprint 2 testing documentation and setup files
  apps/digital-health-startup/.env.local.COMPLETE
  apps/digital-health-startup/.env.local.FIXED
  apps/digital-health-startup/.env.local.template
  apps/digital-health-startup/SPRINT2_TESTING_COMPLETE.md
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/__tests__/setup.ts
  apps/digital-health-startup/validate-env.sh
  services/ai-engine/src/main.py
  services/api-gateway/src/index.js
  start-all-services.sh
Owners: @vital-path/team, @vital-path/docs-team

docs: Add Sprint 2 final status summary
  SPRINT2_FINAL_STATUS.md
Owners: @vital-path/docs-team

docs: Add Sprint 2 final status summary
  SPRINT2_FINAL_STATUS.md
Owners: @vital-path/docs-team

docs: Add comprehensive PR creation guide for Sprint 1 & 2
  CREATE_PR_NOW.md
Owners: @vital-path/docs-team

docs: Add comprehensive PR creation guide for Sprint 1 & 2
  CREATE_PR_NOW.md
Owners: @vital-path/docs-team

docs: Add clean PR description ready to copy
  PR_DESCRIPTION_COPY_THIS.md
Owners: @vital-path/docs-team

docs: Add clean PR description ready to copy
  PR_DESCRIPTION_COPY_THIS.md
Owners: @vital-path/docs-team

docs: Add simple copy-paste PR creation instructions
  CREATE_PR_INSTRUCTIONS.md
Owners: @vital-path/docs-team

docs: Add simple copy-paste PR creation instructions
  CREATE_PR_INSTRUCTIONS.md
Owners: @vital-path/docs-team

docs: Add final completion summary for Sprint 1 & 2
  SPRINT_1_2_FINAL_SUMMARY.md
Owners: @vital-path/docs-team

docs: Add final completion summary for Sprint 1 & 2
  SPRINT_1_2_FINAL_SUMMARY.md
Owners: @vital-path/docs-team

docs: Add comprehensive frontend audit for Ask Expert and Knowledge RAG
  ASK_PANEL_ENHANCED_FEATURES_COMPLETE.md
  ASK_PANEL_TOOLS_DESIGN_COMPLETE.md
  COMPLETE_IMPLEMENTATION_SUMMARY.md
  FRONTEND_AUDIT_ASK_EXPERT_RAG.md
  SPRINT3_DECISION_POINT.md
  SPRINT3_EXECUTION.md
  SPRINT3_PROGRESS.md
  SPRINT3_REVISED_APPROACH.md
  TOOL_DETAIL_MODAL_FEATURE.md
  TOOL_MODAL_QUICK_GUIDE.md
  TOOL_MODAL_TASKS_ENHANCEMENT.md
  apps/digital-health-startup/src/app/(app)/AppLayoutClient.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/tools/page.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/components/tools/ToolDetailModal.tsx
  apps/digital-health-startup/src/contexts/ask-panel-context.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/types-sprint3.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Add comprehensive frontend audit for Ask Expert and Knowledge RAG
  ASK_PANEL_ENHANCED_FEATURES_COMPLETE.md
  ASK_PANEL_TOOLS_DESIGN_COMPLETE.md
  COMPLETE_IMPLEMENTATION_SUMMARY.md
  FRONTEND_AUDIT_ASK_EXPERT_RAG.md
  SPRINT3_DECISION_POINT.md
  SPRINT3_EXECUTION.md
  SPRINT3_PROGRESS.md
  SPRINT3_REVISED_APPROACH.md
  TOOL_DETAIL_MODAL_FEATURE.md
  TOOL_MODAL_QUICK_GUIDE.md
  TOOL_MODAL_TASKS_ENHANCEMENT.md
  apps/digital-health-startup/src/app/(app)/AppLayoutClient.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/tools/page.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/components/tools/ToolDetailModal.tsx
  apps/digital-health-startup/src/contexts/ask-panel-context.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/types-sprint3.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Add honest, comprehensive audit of entire frontend codebase
  COMPREHENSIVE_FRONTEND_AUDIT.md
Owners: @vital-path/docs-team

docs: Add honest, comprehensive audit of entire frontend codebase
  COMPREHENSIVE_FRONTEND_AUDIT.md
Owners: @vital-path/docs-team

fix: Resolve TypeScript syntax errors in WelcomeScreen, AgentLibrary, and popover components
  AGENT_AVATAR_CONSISTENCY.md
  AGENT_CARDS_MINIMAL_DESIGN.md
  AGENT_LIST_AVATAR_ENHANCEMENT.md
  ASK_PANEL_CUSTOMIZE_RUN_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/components/chat/WelcomeScreen.tsx
  apps/digital-health-startup/src/components/sidebar/AgentLibrary.tsx
  apps/digital-health-startup/src/components/tools/ToolDetailModal.tsx
  apps/digital-health-startup/src/components/ui/popover.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelExecutionView.tsx
  apps/digital-health-startup/src/shared/components/ui/popover.tsx
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team

fix: Resolve TypeScript syntax errors in WelcomeScreen, AgentLibrary, and popover components
  AGENT_AVATAR_CONSISTENCY.md
  AGENT_CARDS_MINIMAL_DESIGN.md
  AGENT_LIST_AVATAR_ENHANCEMENT.md
  ASK_PANEL_CUSTOMIZE_RUN_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/components/chat/WelcomeScreen.tsx
  apps/digital-health-startup/src/components/sidebar/AgentLibrary.tsx
  apps/digital-health-startup/src/components/tools/ToolDetailModal.tsx
  apps/digital-health-startup/src/components/ui/popover.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelExecutionView.tsx
  apps/digital-health-startup/src/shared/components/ui/popover.tsx
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team

docs: Add Phase 1 TypeScript fixes progress report
  TYPESCRIPT_FIXES_PROGRESS_REPORT_1.md
Owners: @vital-path/docs-team

docs: Add Phase 1 TypeScript fixes progress report
  TYPESCRIPT_FIXES_PROGRESS_REPORT_1.md
Owners: @vital-path/docs-team

fix: Resolve 148 TypeScript errors in prompt-generation-service and test setup
  apps/digital-health-startup/src/app/(app)/agents/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge/page.tsx
  apps/digital-health-startup/src/app/(app)/solution-builder/page.tsx
  apps/digital-health-startup/src/app/(app)/workflows/page.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/__tests__/setup.ts
  apps/digital-health-startup/src/features/chat/components/agent-creator/__tests__/setup.tsx
  apps/digital-health-startup/src/shared/services/prompt-generation-service.ts
Owners: @vital-path/team

fix: Resolve 148 TypeScript errors in prompt-generation-service and test setup
  apps/digital-health-startup/src/app/(app)/agents/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge/page.tsx
  apps/digital-health-startup/src/app/(app)/solution-builder/page.tsx
  apps/digital-health-startup/src/app/(app)/workflows/page.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/__tests__/setup.ts
  apps/digital-health-startup/src/features/chat/components/agent-creator/__tests__/setup.tsx
  apps/digital-health-startup/src/shared/services/prompt-generation-service.ts
Owners: @vital-path/team

fix: Resolve 59 TypeScript errors in LLM orchestrator
  AGENT_AVATAR_DATABASE_FIX.md
  apps/digital-health-startup/src/components/tools/ToolDetailModal.tsx
  apps/digital-health-startup/src/shared/services/llm/orchestrator.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: Resolve 59 TypeScript errors in LLM orchestrator
  AGENT_AVATAR_DATABASE_FIX.md
  apps/digital-health-startup/src/components/tools/ToolDetailModal.tsx
  apps/digital-health-startup/src/shared/services/llm/orchestrator.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: Resolve 57 TypeScript errors in enhanced-capability-management.tsx
  apps/digital-health-startup/src/features/agents/components/enhanced-capability-management.tsx
Owners: @vital-path/team

fix: Resolve 57 TypeScript errors in enhanced-capability-management.tsx
  apps/digital-health-startup/src/features/agents/components/enhanced-capability-management.tsx
Owners: @vital-path/team

fix: Resolve 74 TypeScript errors in response-synthesizer.ts
  TYPESCRIPT_FIXES_PHASE2_PROGRESS.md
  apps/digital-health-startup/src/shared/services/orchestration/response-synthesizer.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: Resolve 74 TypeScript errors in response-synthesizer.ts
  TYPESCRIPT_FIXES_PHASE2_PROGRESS.md
  apps/digital-health-startup/src/shared/services/orchestration/response-synthesizer.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Add comprehensive Session 1 completion report
  TYPESCRIPT_FIXES_SESSION1_COMPLETE.md
Owners: @vital-path/docs-team

docs: Add comprehensive Session 1 completion report
  TYPESCRIPT_FIXES_SESSION1_COMPLETE.md
Owners: @vital-path/docs-team

fix: Resolve 40 TypeScript errors in monitoring and orchestration services
  AVATAR_LIBRARY_EXPLORATION.md
  MONOCHROMATIC_AVATAR_OPTIONS.md
  apps/digital-health-startup/src/app/(app)/agents/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge/page.tsx
  apps/digital-health-startup/src/app/(app)/tools/page.tsx
  apps/digital-health-startup/src/app/(app)/workflows/page.tsx
  apps/digital-health-startup/src/shared/services/monitoring/real-time-metrics.ts
  apps/digital-health-startup/src/shared/services/orchestration/confidence-calculator.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: Resolve 40 TypeScript errors in monitoring and orchestration services
  AVATAR_LIBRARY_EXPLORATION.md
  MONOCHROMATIC_AVATAR_OPTIONS.md
  apps/digital-health-startup/src/app/(app)/agents/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge/page.tsx
  apps/digital-health-startup/src/app/(app)/tools/page.tsx
  apps/digital-health-startup/src/app/(app)/workflows/page.tsx
  apps/digital-health-startup/src/shared/services/monitoring/real-time-metrics.ts
  apps/digital-health-startup/src/shared/services/orchestration/confidence-calculator.ts
Owners: @vital-path/docs-team, @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
