Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

feat(ask-panel): improve UX and add conversation history detail
  apps/vital-system/src/app/(app)/ask-panel/history/[conversationId]/page.tsx
  apps/vital-system/src/app/(app)/ask-panel/history/page.tsx
  apps/vital-system/src/app/(app)/ask-panel/interactive/page.tsx
Owners: @vital-path/team

fix(mode3): use structlog instead of Python logging in L4/L5 wrappers
  services/ai-engine/src/langgraph_workflows/modes34/wrappers/l4_wrapper.py
  services/ai-engine/src/langgraph_workflows/modes34/wrappers/l5_tool_mapper.py
Owners: @vital-path/team

fix(mode3): store extra event metadata in JSONB instead of missing columns
  services/ai-engine/src/services/mission_repository.py
Owners: @vital-path/team

feat(mode3): add missions status constraint migration
  database/postgres/migrations/012_fix_missions_status_constraint.sql
Owners: @vital-path/team

fix(mode3): fix routing bug causing execution to stop at 20%
  services/ai-engine/src/langgraph_workflows/modes34/unified_autonomous_workflow.py
  services/ai-engine/src/langgraph_workflows/shared/events.py
Owners: @vital-path/team

fix(mode2): enable PostgreSQL fulltext search for Fusion Search
  apps/vital-system/src/app/(app)/admin/page.tsx
  apps/vital-system/src/app/api/medical-strategy/route.ts
  apps/vital-system/src/app/api/value/insights/route.ts
  apps/vital-system/src/app/api/value/investigate/route.ts
  apps/vital-system/src/components/panel-workflow-diagram.tsx
  apps/vital-system/src/contexts/tenant-context-subdomain.tsx
  services/ai-engine/src/api/routes/missions.py
  services/ai-engine/src/langgraph_workflows/modes34/unified_autonomous_workflow.py
  services/ai-engine/src/langgraph_workflows/modes34/wrappers/l4_wrapper.py
  services/ai-engine/src/langgraph_workflows/modes34/wrappers/l5_tool_mapper.py
  services/ai-engine/src/langgraph_workflows/shared/events.py
  services/ai-engine/src/services/supabase_client.py
Owners: @vital-path/team

feat(ask-expert): add AI prompt enhancer to all Ask Expert modes
  apps/vital-system/src/features/ask-expert/components/MissionInput.tsx
  apps/vital-system/src/features/ask-expert/views/AutonomousView.tsx
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
  packages/vital-ai-ui/src/mission/VitalMissionGoalInput.tsx
Owners: @vital-path/team

fix(streaming): prevent React re-mount on every token in VitalStreamText
  apps/vital-system/src/components/vital-ai-ui/conversation/VitalStreamText.tsx
  services/ai-engine/src/api/routes/missions.py
  services/ai-engine/src/langgraph_workflows/modes34/unified_autonomous_workflow.py
  services/ai-engine/src/langgraph_workflows/modes34/wrappers/l4_wrapper.py
  services/ai-engine/src/langgraph_workflows/modes34/wrappers/l5_tool_mapper.py
  services/ai-engine/src/langgraph_workflows/shared/events.py
Owners: @vital-path/team

docs(streaming): document VitalStreamText key fix and add regression prevention
  docs/ask-expert/STREAMING_IMPLEMENTATION_GUIDE.md
Owners: @vital-path/docs-team

feat(agents): add action buttons and hide Add to Chat for superadmin
  apps/vital-system/src/app/(app)/agents/[slug]/page.tsx
  apps/vital-system/src/app/(app)/agents/page.tsx
  apps/vital-system/src/app/(app)/ask-expert/interactive/mode1/page.tsx
  apps/vital-system/src/features/agents/components/detail/AgentDetailHeader.tsx
  packages/vital-ai-ui/src/assets/VitalAssetCard.tsx
  packages/vital-ai-ui/src/assets/VitalAssetGrid.tsx
  packages/vital-ai-ui/src/assets/VitalAssetView.tsx
  packages/vital-ai-ui/src/assets/types.ts
Owners: @vital-path/team

feat(streaming): improve Activity Feed immediate feedback and remove header spinner
  apps/vital-system/src/features/ask-expert/components/autonomous/AIInterviewWizard.tsx
  apps/vital-system/src/features/ask-expert/views/AutonomousView.tsx
  packages/vital-ai-ui/src/mission/VitalMissionExecution.tsx
Owners: @vital-path/team

feat(activity-feed): implement persistent event history for Activity Feed
  apps/vital-system/src/features/ask-expert/views/AutonomousView.tsx
Owners: @vital-path/team

feat(ask-expert): enhance message UI with Chicago citations and RAG/WEB source badges
  apps/vital-system/src/components/sidebar-ask-expert.tsx
  apps/vital-system/src/components/ui/breadcrumb.tsx
  apps/vital-system/src/components/vital-ai-ui/reasoning/VitalSources.tsx
  apps/vital-system/src/components/vital-ai-ui/reasoning/index.ts
  apps/vital-system/src/contexts/ask-expert-context.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/CitationList.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/VitalMessage.tsx
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
  packages/vital-ai-ui/src/conversation/VitalStreamText.tsx
  packages/vital-ai-ui/src/reasoning/index.ts
Owners: @vital-path/team

feat(ask-expert): UI improvements for Mode 3 missions and message components
  apps/vital-system/src/app/api/ask-expert/route.ts
  apps/vital-system/src/components/sidebar-ask-expert.tsx
  apps/vital-system/src/components/vital-ai-ui/conversation/VitalStreamText.tsx
  apps/vital-system/src/contexts/ask-expert-context.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/VitalThinking.tsx
  apps/vital-system/src/features/ask-expert/views/AutonomousView.tsx
  packages/vital-ai-ui/src/mission/VitalMissionGoalInput.tsx
Owners: @vital-path/team

feat(runners): upgrade 4 family runners to A+ grade with Bayesian/MCDA patterns
  docs/ask-expert/ASK_EXPERT_UNIFIED_STRUCTURE.md
  docs/ask-expert/AUDIT_CODE_QUALITY_MODES_3_4.md
  docs/ask-expert/AUDIT_CORRECTION_MODE_3_4_ARCHITECTURE.md
  docs/ask-expert/AUDIT_EXECUTIVE_SUMMARY_MODES_3_4.md
  docs/ask-expert/AUDIT_FRONTEND_UI_MODES_3_4.md
  docs/ask-expert/AUDIT_LANGGRAPH_WORKFLOW_MODES_3_4.md
  docs/ask-expert/MODES_3_4_COMPREHENSIVE_AUDIT_REPORT.md
  services/ai-engine/src/langgraph_compilation/patterns/__init__.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/evaluation_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/investigation_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/monitoring_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/strategy_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/templates/evaluation_rubric.yaml
  services/ai-engine/tests/enterprise_ontology/conftest.py
  services/ai-engine/tests/graphrag/test_graphrag_integration.py
  services/ai-engine/tests/integration/test_budget_enforcement.py
  services/ai-engine/tests/integration/test_workflows_enhanced.py
  services/ai-engine/tests/services/test_evidence_based_selector.py
  services/ai-engine/tests/test_frameworks.py
  services/ai-engine/tests/unit/test_evaluation_template.py
  services/ai-engine/tests/unit/test_l5_tools.py
  services/ai-engine/tests/unit/test_monitoring_template.py
  services/ai-engine/tests/unit/test_strategy_template.py
Owners: @vital-path/docs-team, @vital-path/team

feat(runners): upgrade final 3 family runners to A+ grade
  services/ai-engine/src/langgraph_workflows/modes34/runners/communication_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/generic_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/problem_solving_runner.py
Owners: @vital-path/team

feat(runners): upgrade DeepResearchRunner from A- to A+ grade
  services/ai-engine/src/langgraph_workflows/modes34/runners/deep_research_runner.py
Owners: @vital-path/team

feat(task-runners): implement Task Runner architecture with UNDERSTAND category
  services/ai-engine/src/langgraph_workflows/task_runners/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/adapt/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/align/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/base_task_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/create/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/decide/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/design/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/discover/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/engage/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/evaluate/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/execute/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/govern/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/influence/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/investigate/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/plan/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/predict/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/prepare/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/refine/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/registry.py
  services/ai-engine/src/langgraph_workflows/task_runners/secure/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/solve/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/synthesize/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/understand/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/understand/explore_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/understand/extract_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/understand/gap_detect_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/understand/scan_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/validate/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/watch/__init__.py
Owners: @vital-path/team

feat(task-runners): implement EVALUATE, DECIDE, and WATCH categories (12 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/decide/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/decide/frame_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/decide/option_gen_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/decide/recommend_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/decide/tradeoff_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/evaluate/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/evaluate/benchmark_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/evaluate/compare_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/evaluate/critique_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/evaluate/score_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/watch/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/watch/alert_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/watch/baseline_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/watch/delta_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/watch/trend_runner.py
Owners: @vital-path/team

feat(task-runners): implement SOLVE category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/solve/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/solve/alternative_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/solve/diagnose_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/solve/pathfind_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/solve/unblock_runner.py
Owners: @vital-path/team

feat(task-runners): implement PREPARE category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/prepare/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/prepare/anticipate_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/prepare/brief_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/prepare/context_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/prepare/talking_point_runner.py
Owners: @vital-path/team

feat(task-runners): implement CREATE category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/create/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/create/citation_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/create/draft_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/create/expand_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/create/format_runner.py
Owners: @vital-path/team

feat(task-runners): implement REFINE category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/refine/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/refine/critic_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/refine/mutate_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/refine/select_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/refine/verify_runner.py
Owners: @vital-path/team

feat(task-runners): implement VALIDATE category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/validate/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/validate/citation_check_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/validate/compliance_check_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/validate/consistency_check_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/validate/fact_check_runner.py
Owners: @vital-path/team

feat(task-runners): implement SYNTHESIZE category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/synthesize/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/synthesize/collect_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/synthesize/narrate_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/synthesize/resolve_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/synthesize/theme_runner.py
Owners: @vital-path/team

feat(task-runners): implement PLAN category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/plan/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/plan/decompose_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/plan/dependency_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/plan/resource_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/plan/schedule_runner.py
Owners: @vital-path/team

feat(task-runners): implement PREDICT category (4 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/predict/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/predict/project_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/predict/scenario_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/predict/trend_analyze_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/predict/uncertainty_runner.py
Owners: @vital-path/team

feat(task-runners): implement ENGAGE category (4 runners, 1448 lines)
  services/ai-engine/src/langgraph_workflows/task_runners/engage/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/engage/interest_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/engage/message_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/engage/profile_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/engage/touchpoint_runner.py
Owners: @vital-path/team

feat(task-runners): implement ALIGN category (4 runners, 1565 lines)
  services/ai-engine/src/langgraph_workflows/task_runners/align/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/align/alignment_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/align/consensus_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/align/objective_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/align/stakeholder_runner.py
Owners: @vital-path/team

feat(task-runners): implement INFLUENCE category (4 runners, 1501 lines)
  services/ai-engine/src/langgraph_workflows/task_runners/influence/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/influence/argument_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/influence/frame_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/influence/negotiate_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/influence/story_runner.py
Owners: @vital-path/team

feat(task-runners): implement ADAPT category (4 runners, ~1400 lines)
  services/ai-engine/src/langgraph_workflows/task_runners/adapt/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/adapt/context_sense_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/adapt/learn_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/adapt/pivot_runner.py
  services/ai-engine/src/langgraph_workflows/task_runners/adapt/resilience_runner.py
Owners: @vital-path/team

feat(task-runners): implement DISCOVER and DESIGN categories (8 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/design/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/discover/__init__.py
Owners: @vital-path/team

feat(task-runners): implement final 4 categories - EXECUTE, GOVERN, SECURE, INVESTIGATE (16 runners)
  services/ai-engine/src/langgraph_workflows/task_runners/execute/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/govern/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/investigate/__init__.py
  services/ai-engine/src/langgraph_workflows/task_runners/secure/__init__.py
Owners: @vital-path/team

feat(task-runners): add 4 structural DESIGN runners (92 total)
  services/ai-engine/src/langgraph_workflows/task_runners/design/__init__.py
Owners: @vital-path/team

feat(task-runners): add 4 governance interception runners (Super-Ego/Zero Trust)
  services/ai-engine/src/langgraph_workflows/task_runners/govern/__init__.py
Owners: @vital-path/team

feat(task-runners): add 4 OODA Loop defense runners (Immune System)
  services/ai-engine/src/langgraph_workflows/task_runners/secure/__init__.py
Owners: @vital-path/team

feat(task-runners): expand EXECUTE with 4 FSM/BPA runners (state_read, transition, action, hitl_escalate)
  services/ai-engine/src/langgraph_workflows/task_runners/execute/__init__.py
Owners: @vital-path/team

feat(family-runners): add FORESIGHT family with Portfolio Foresight sub-workflow (5 runners)
  services/ai-engine/src/langgraph_workflows/modes34/runners/__init__.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/base_family_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/foresight_runner.py
Owners: @vital-path/team

feat(foresight): complete all 15 runners across 3 sub-workflows
  services/ai-engine/src/langgraph_workflows/modes34/runners/foresight_runner.py
Owners: @vital-path/team

feat(runners): add BRAND_STRATEGY family runner with 22 runners
  services/ai-engine/src/langgraph_workflows/modes34/runners/__init__.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/base_family_runner.py
  services/ai-engine/src/langgraph_workflows/modes34/runners/brand_strategy_runner.py
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
