Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

Improve agent card layout and button design
  src/features/agents/components/agents-board.tsx
  src/features/chat/components/nav-ai-agents.tsx
Owners: @vital-path/team

Enhance agent cards with tier numbers and action buttons
  src/features/agents/components/agents-board.tsx
  src/features/chat/components/nav-ai-agents.tsx
Owners: @vital-path/team

Fix reverted chat view changes
  src/features/chat/components/nav-ai-agents.tsx
Owners: @vital-path/team

Fix root cause: Update correct grid view section with action buttons
  src/features/agents/components/agents-board.tsx
Owners: @vital-path/team

Fix agents loading: Add useEffect to load agents on page mount
  src/app/(app)/agents/page.tsx
Owners: @vital-path/team

Fix store mismatch: Use consistent agents store across components
  src/app/(app)/agents/page.tsx
Owners: @vital-path/team

Clean up codebase: Remove unused store and mock data
  src/app/(app)/ask-panel/page.tsx
  src/app/(app)/chat/page.tsx
  src/app/(app)/jobs-to-be-done/page.tsx
  src/app/(app)/solution-builder/page.tsx
  src/app/prompts/page.tsx
  src/components/llm/LLMProviderDashboard.tsx
  src/features/chat/components/agent-creator.tsx
  src/features/knowledge/components/knowledge-viewer.tsx
  src/lib/stores/agents-store-simple.ts
  src/lib/stores/chat-store.ts
  tsconfig.core.json
  tsconfig.minimal.json
Owners: @vital-path/team

Fix add-to-chat functionality with confirmation messages
  src/app/(app)/agents/page.tsx
Owners: @vital-path/team

Fix agent persistence in chat sidebar
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Add status and tier badges to agent cards
  src/features/agents/components/agents-board.tsx
Owners: @vital-path/team

Fix chat sidebar persistence with useMemo and debugging
  src/app/(app)/chat/page.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

COMPREHENSIVE FIX: Resolve chat sidebar persistence root cause
  src/lib/stores/agents-store.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

DEBUG: Add comprehensive logging to trace persistence issue
  src/lib/stores/agents-store.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

FIX: Correct Add to Chat vs Duplicate functionality
  src/app/(app)/agents/page.tsx
  src/features/agents/components/agents-board.tsx
Owners: @vital-path/team

Phase 1 & 2 Ask Expert: Restore LangChain services, tools, and APIs
  run-memory-migration.js
  src/app/(app)/ask-expert/page.tsx
  src/app/api/ask-expert/route.ts
  src/app/api/chat/autonomous/route.ts
  src/app/api/chat/langchain-enhanced/route.ts
  src/app/api/migrate-memory/route.ts
  src/features/chat/agents/autonomous-expert-agent.ts
  src/features/chat/memory/advanced-memory.ts
  src/features/chat/memory/long-term-memory.ts
  src/features/chat/memory/memory-learner.ts
  src/features/chat/parsers/structured-output.ts
  src/features/chat/prompts/agent-prompt-builder.ts
  src/features/chat/retrievers/advanced-retrievers.ts
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/automatic-orchestrator.ts
  src/features/chat/services/enhanced-agent-orchestrator.ts
  src/features/chat/services/enhanced-langchain-service.ts
  src/features/chat/services/intelligent-agent-router.ts
  src/features/chat/services/langchain-service.ts
  src/features/chat/services/supabase-rag-service.ts
  src/lib/stores/chat-store.ts
  src/middleware.ts
Owners: @vital-path/team

Add comprehensive Ask Expert documentation
  ASK_EXPERT_DEPLOYMENT_STATUS.md
  ASK_EXPERT_ENV_SETUP_GUIDE.md
  ASK_EXPERT_REACTIVATION_COMPLETE.md
Owners: @vital-path/docs-team

Add debugging logs to ask-expert page to diagnose streaming issue
  src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

Fix agent data structure issues in ask-expert page
  src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

Add dual-mode chat functionality to Ask Expert
  src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

Fix missing User icon import in ask-expert page
  src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

Move chat mode toggle to sidebar next to Auto/Manual controls
  src/app/(app)/ask-expert/page.tsx
  src/app/(app)/chat/page.tsx
  src/features/chat/components/chat-sidebar.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Fix missing useChatStore import in ask-expert page
  src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

Fix Direct LLM mode functionality
  src/app/(app)/ask-expert/page.tsx
  src/app/api/ask-expert/route.ts
Owners: @vital-path/team

Fix null reference errors in chat store for direct LLM mode
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Replace demo chat route with full LangChain/LangGraph implementation
  src/app/api/chat/route.ts
Owners: @vital-path/team

Fix build errors in LangChain implementation
  src/features/chat/services/enhanced-agent-orchestrator.ts
  src/lib/supabase/admin.ts
Owners: @vital-path/team, @vital-path/database-team

Add missing module re-exports for LangChain dependencies
  src/shared/services/rag/rag-service.ts
  src/shared/utils/supabase/client.ts
Owners: @vital-path/team, @vital-path/database-team

Fix re-export path for supabase client
  src/shared/utils/supabase/client.ts
Owners: @vital-path/database-team

Fix missing exports in LangChain services
  src/features/chat/services/enhanced-agent-orchestrator.ts
  src/features/chat/services/enhanced-langchain-service.ts
  src/shared/services/rag/rag-service.ts
Owners: @vital-path/team

Add selected agent display and prompt starters to chat page
  src/app/(app)/chat/page.tsx
Owners: @vital-path/team

Complete Ask Expert reactivation with full LangChain integration
  ASK_EXPERT_ENVIRONMENT_SETUP.md
  src/app/api/ask-expert/route.ts
  src/app/api/chat/autonomous/route.ts
  src/app/api/chat/langchain-enhanced/route.ts
  src/features/chat/services/enhanced-langchain-service.ts
Owners: @vital-path/docs-team, @vital-path/team

Fix TypeError: e.slice(...).map is not a function
  src/app/(app)/chat/page.tsx
  src/features/chat/components/nav-ai-agents.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Disable Direct LLM vs Expert Agent toggle
  src/app/(app)/ask-expert/page.tsx
  src/app/(app)/chat/page.tsx
  src/features/chat/components/chat-sidebar.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Phase 1: Manual Expert Selection + Basic Chat
  src/app/api/chat/route.ts
Owners: @vital-path/team

Phase 3: Automatic Orchestration
  src/app/api/migrate-memory/route.ts
  src/features/chat/services/enhanced-agent-orchestrator.ts
Owners: @vital-path/team

Complete Phase 4: Integration & Testing
  ASK_EXPERT_FINAL_STATUS.md
  ASK_EXPERT_REACTIVATION_COMPLETE.md
  src/app/(app)/ask-expert/page.tsx
  src/app/api/ask-expert/route.ts
  src/app/api/migrate-memory/route.ts
  src/app/api/panel/orchestrate/route.ts
  src/middleware.ts
Owners: @vital-path/docs-team, @vital-path/team

Fix Autonomous and LangChain Enhanced endpoints
  src/app/api/chat/autonomous/route.ts
  src/app/api/chat/langchain-enhanced/route.ts
Owners: @vital-path/team

Fix client-side SSE parsing error
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Fix streaming response format mismatch
  src/app/api/chat/route.ts
Owners: @vital-path/team

Fix agent selection requirement in automatic mode
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
