Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

fix: resolve JSX syntax error in AlertConfigPanel
  src/app/admin/health/components/AlertConfigPanel.tsx
Owners: @vital-path/team

fix: resolve admin access issues for authenticated users
  docs/ADMIN_DASHBOARD_ASSESSMENT.md
  src/app/admin/forbidden/page.tsx
  src/app/api/debug/user-profile/route.ts
  src/lib/auth/requireAdmin.ts
  src/services/system-settings.service.ts
  supabase/migrations/20250110000000_phase4_admin_enterprise_features.sql
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

feat: add complete SettingsDashboard component
  src/app/admin/settings/components/SettingsDashboard.tsx
Owners: @vital-path/team

feat: add comprehensive pre-production testing suite
  src/app/admin/page.tsx
  src/app/admin/settings/components/AnnouncementManager.tsx
  src/app/admin/settings/components/FeatureFlagsManager.tsx
  src/app/admin/settings/components/MaintenanceMode.tsx
  src/app/admin/settings/components/SystemConfiguration.tsx
  src/app/admin/settings/page.tsx
  src/app/api/admin/settings/announcements/[id]/route.ts
  src/app/api/admin/settings/announcements/route.ts
  src/app/api/admin/settings/feature-flags/[id]/route.ts
  src/app/api/admin/settings/feature-flags/route.ts
  src/app/api/admin/settings/system-config/route.ts
  src/app/api/auth/status/route.ts
  src/app/test-preproduction/page.tsx
Owners: @vital-path/team

fix: resolve login redirect issue
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

fix: resolve critical pre-production issues
  admin-complete-plan.md
  docs/ADMIN_DASHBOARD_ASSESSMENT.md
  src/app/(app)/ask-panel/components/action-items-display.tsx
  src/app/(app)/ask-panel/components/enhanced-panel-results.tsx
  src/app/(app)/ask-panel/components/panel-builder.tsx
  src/app/(app)/ask-panel/components/panel-interface.tsx
  src/app/(app)/ask-panel/components/panel-navbar.tsx
  src/app/(app)/ask-panel/components/panel-sidebar.tsx
  src/app/(app)/ask-panel/components/panel-templates.tsx
  src/app/(app)/ask-panel/components/risk-matrix.tsx
  src/app/admin/backup/components/BackupDashboard.tsx
  src/app/admin/backup/components/BackupHealthMonitor.tsx
  src/app/admin/backup/components/BackupHistory.tsx
  src/app/admin/backup/components/BackupScheduler.tsx
  src/app/admin/backup/components/RestoreManager.tsx
  src/app/admin/backup/page.tsx
  src/app/admin/costs/components/BudgetManager.tsx
  src/app/admin/costs/components/CostAllocation.tsx
  src/app/admin/costs/components/CostAnomalies.tsx
  src/app/admin/costs/components/CostByTenant.tsx
  src/app/admin/costs/components/CostDashboard.tsx
  src/app/admin/costs/components/UsageForecast.tsx
  src/app/admin/costs/page.tsx
  src/app/admin/page.tsx
  src/app/api/admin/backup/history/route.ts
  src/app/api/admin/backup/restore/route.ts
  src/app/api/admin/backup/schedules/[id]/route.ts
  src/app/api/admin/backup/schedules/route.ts
  src/app/api/admin/backup/trigger/route.ts
  src/app/api/admin/compliance/reports/route.ts
  src/app/api/admin/costs/allocation/[id]/route.ts
  src/app/api/admin/costs/allocation/route.ts
  src/app/api/admin/costs/anomalies/route.ts
  src/app/api/admin/costs/budgets/[id]/route.ts
  src/app/api/admin/costs/budgets/route.ts
  src/app/api/admin/costs/forecast/route.ts
  src/app/api/admin/costs/overview/route.ts
  src/app/api/admin/users/route.ts
  src/services/backup-recovery.service.ts
  src/services/cost-analytics.service.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve admin redirect loop issue
  docs/ADMIN_DASHBOARD_ASSESSMENT.md
  src/app/admin/layout.tsx
  src/app/admin/page.tsx
  src/app/admin/security/page.tsx
  src/components/admin/AdminClientWrapper.tsx
  src/services/rate-limit-manager.service.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve security page build error
  src/app/admin/security/page.tsx
Owners: @vital-path/team

fix: resolve admin page user reference error
  src/app/admin/page.tsx
Owners: @vital-path/team

feat: Complete Phase 4D - Security & Monitoring implementation
  admin.plan.md
  docs/ADMIN_DASHBOARD_ASSESSMENT.md
  src/app/admin/alerts/components/AlertDashboard.tsx
  src/app/admin/alerts/components/AlertHistory.tsx
  src/app/admin/alerts/components/AlertRuleManager.tsx
  src/app/admin/alerts/components/NotificationChannels.tsx
  src/app/admin/alerts/page.tsx
  src/app/admin/page.tsx
  src/app/admin/security/components/AbuseDetection.tsx
  src/app/admin/security/components/IPManagement.tsx
  src/app/admin/security/components/RateLimitManager.tsx
  src/app/admin/security/components/SecurityDashboard.tsx
  src/app/admin/security/components/SecurityIncidents.tsx
  src/app/admin/security/page.tsx
  src/app/api/admin/alerts/channels/[id]/route.ts
  src/app/api/admin/alerts/channels/[id]/test/route.ts
  src/app/api/admin/alerts/channels/route.ts
  src/app/api/admin/alerts/instances/[id]/acknowledge/route.ts
  src/app/api/admin/alerts/instances/[id]/resolve/route.ts
  src/app/api/admin/alerts/instances/route.ts
  src/app/api/admin/alerts/rules/[id]/route.ts
  src/app/api/admin/alerts/rules/route.ts
  src/app/api/admin/alerts/stats/route.ts
  src/app/api/admin/security/abuse-patterns/[id]/route.ts
  src/app/api/admin/security/abuse-patterns/route.ts
  src/app/api/admin/security/abuse-stats/route.ts
  src/app/api/admin/security/incidents/[id]/route.ts
  src/app/api/admin/security/incidents/route.ts
  src/app/api/admin/security/ip-rules/[id]/route.ts
  src/app/api/admin/security/ip-rules/route.ts
  src/app/api/admin/security/ip-stats/route.ts
  src/app/api/admin/security/rate-limits/[id]/route.ts
  src/app/api/admin/security/rate-limits/route.ts
  src/app/api/admin/security/stats/route.ts
  src/app/api/admin/security/violations/route.ts
  src/services/alert-manager.service.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: Correct import paths for requireAdmin module
  src/app/admin/alerts/page.tsx
  src/app/admin/security/page.tsx
  src/app/api/admin/alerts/channels/[id]/route.ts
  src/app/api/admin/alerts/channels/[id]/test/route.ts
  src/app/api/admin/alerts/channels/route.ts
  src/app/api/admin/alerts/instances/[id]/acknowledge/route.ts
  src/app/api/admin/alerts/instances/[id]/resolve/route.ts
  src/app/api/admin/alerts/instances/route.ts
  src/app/api/admin/alerts/rules/[id]/route.ts
  src/app/api/admin/alerts/rules/route.ts
  src/app/api/admin/alerts/stats/route.ts
  src/app/api/admin/security/abuse-patterns/[id]/route.ts
  src/app/api/admin/security/abuse-patterns/route.ts
  src/app/api/admin/security/abuse-stats/route.ts
  src/app/api/admin/security/incidents/[id]/route.ts
  src/app/api/admin/security/incidents/route.ts
  src/app/api/admin/security/ip-rules/[id]/route.ts
  src/app/api/admin/security/ip-rules/route.ts
  src/app/api/admin/security/ip-stats/route.ts
  src/app/api/admin/security/rate-limits/[id]/route.ts
  src/app/api/admin/security/rate-limits/route.ts
  src/app/api/admin/security/stats/route.ts
  src/app/api/admin/security/violations/route.ts
Owners: @vital-path/team

fix: resolve unstable display and authentication issues
  src/app/(auth)/login/page.tsx
  src/components/admin/AdminClientWrapper.tsx
Owners: @vital-path/team

fix: resolve login form instability and validation issues
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

Fix syntax errors in SettingsDashboard and IncidentPlaybooks components
  src/app/admin/audit-immutable/components/ImmutableAuditDashboard.tsx
  src/app/admin/audit-immutable/components/IntegrityManagement.tsx
  src/app/admin/audit-immutable/components/SIEMExportManagement.tsx
  src/app/admin/audit-immutable/components/WORMConfigManagement.tsx
  src/app/admin/audit-immutable/page.tsx
  src/app/admin/backup/components/BackupDashboard.tsx
  src/app/admin/backup/components/BackupHealthMonitor.tsx
  src/app/admin/backup/components/BackupHistory.tsx
  src/app/admin/backup/components/BackupScheduler.tsx
  src/app/admin/backup/components/RestoreManager.tsx
  src/app/admin/backup/page.tsx
  src/app/admin/compliance/components/ComplianceDashboard.tsx
  src/app/admin/compliance/components/IncidentPlaybooks.tsx
  src/app/admin/compliance/page.tsx
  src/app/admin/governance/components/ApprovalWorkflows.tsx
  src/app/admin/governance/components/GovernanceDashboard.tsx
  src/app/admin/governance/components/PolicyManager.tsx
  src/app/admin/governance/page.tsx
  src/app/admin/health/components/HealthDashboard.tsx
  src/app/admin/health/page.tsx
  src/app/admin/identity/components/IdentityDashboard.tsx
  src/app/admin/identity/components/SSOManagement.tsx
  src/app/admin/identity/page.tsx
  src/app/admin/settings/components/AnnouncementManager.tsx
  src/app/admin/settings/components/FeatureFlagsManager.tsx
  src/app/admin/settings/components/MaintenanceMode.tsx
  src/app/admin/settings/components/SettingsDashboard.tsx
  src/app/admin/settings/components/SystemConfiguration.tsx
  src/app/admin/settings/page.tsx
  src/app/admin/tenants/components/TenantManagementViewer.tsx
  src/app/admin/tenants/page.tsx
  src/app/admin/users/components/UserManagementViewer.tsx
  src/app/admin/users/components/UserRoleDialog.tsx
  src/app/admin/users/components/UserTable.tsx
  src/app/admin/users/page.tsx
  src/services/compliance-reporting.service.ts
Owners: @vital-path/team

Continue fixing TypeScript compilation errors
  src/shared/services/conversation/enhanced-conversation-manager.ts
  src/shared/services/database/migration-runner.ts
  src/shared/services/icon-service.ts
  src/shared/services/openai-usage.service.ts
  src/types/enhanced-agent-types.ts
  src/types/llm-provider.types.ts
  src/types/sidebar.types.ts
  supabase/migrations/20250100_000000_create_session_store.sql
  supabase/migrations/20250103_000000_create_missing_tables.sql
  supabase/migrations/20250103_000001_setup_auth_trigger.sql
Owners: @vital-path/team, @vital-path/database-team

fix: Correct import path for AgentResponse type
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update multi-agent-coordinator to use DigitalHealthAgent type
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Complete type updates for multi-agent-coordinator
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update calculateStrategyScore method signature
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update property access for DigitalHealthAgent
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Use public getter methods for DigitalHealthAgent properties
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update remaining agent.name references
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update agent.id references to use getStatus().name
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Simplify master agent selection to avoid tier property access
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update agent.id comparison to use getStatus().name
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update groupAgentsBySpecialization method signature and implementation
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update remaining agent.name reference in specialist error logging
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update agent.capabilities to use getCapabilities() method
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update analyzeAgentCapabilities to use getCapabilities() method
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Add local AgentResponse interface for multi-agent coordination
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Replace AgentResponse with CoordinationAgentResponse interface
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update detectConflicts calls to include all required parameters
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update resolveConflicts calls to use correct parameter count
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Replace protected property access with public methods
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Replace tier calculation with default value
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Remove all remaining protected config property access
  src/agents/collaboration/multi-agent-coordinator.ts
Owners: @vital-path/team

fix: Update import path in response-synthesizer.ts
  src/agents/collaboration/response-synthesizer.ts
Owners: @vital-path/team

fix: Add local AgentResponse interface for response-synthesizer
  src/agents/collaboration/response-synthesizer.ts
Owners: @vital-path/team

fix: Remove extra argument from validateResponse call
  src/agents/core/DigitalHealthAgent.ts
Owners: @vital-path/team

fix: correct import path for DigitalHealthAgent in multi-agent coordinator
  src/agents/collaboration/multi-agent-coordinator-fixed.ts
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
