Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

fix: Remove nested DECLARE block in RAG domains migration
  database/sql/migrations/2025/20250201000001_migrate_all_rag_domains.sql
Owners: @vital-path/team

fix: Remove recommended_models column reference from SELECT statement
  database/sql/migrations/2025/20250201000001_migrate_all_rag_domains.sql
Owners: @vital-path/team

fix: Use dynamic SQL for RAG domains migration to handle missing columns
  database/sql/migrations/2025/20250201000001_migrate_all_rag_domains.sql
Owners: @vital-path/team

feat: Add verification script for RAG domains migration
  database/sql/migrations/2025/20250201000002_verify_rag_domains_migration.sql
Owners: @vital-path/team

feat: Add cleanup script for RAG domains migration
  database/sql/migrations/2025/20250201000003_cleanup_rag_domains.sql
Owners: @vital-path/team

feat: Complete Phase 2.1 - ReAct & Chain-of-Thought Engines Audit
  apps/digital-health-startup/src/features/chat/services/chain-of-thought-engine.ts
  apps/digital-health-startup/src/features/chat/services/mode3-autonomous-automatic.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
  apps/digital-health-startup/src/features/chat/services/react-engine.ts
Owners: @vital-path/team

feat: Phase 3.1 - Ask Panel Service Migration to Python
  apps/digital-health-startup/src/app/api/panel/orchestrate/route.ts
  services/ai-engine/src/main.py
  services/api-gateway/src/index.js
Owners: @vital-path/team

feat: Phase 4 - Remaining Violations Audit Complete
  docs/PHASE_4_REMAINING_VIOLATIONS.md
Owners: @vital-path/docs-team

feat: Phase 4 Complete - Remaining Services & RAG Routes Audit
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
Owners: @vital-path/team

feat: Phase 5 - Add Deprecation Notices to Remaining Services
  apps/digital-health-startup/src/features/chat/services/cloud-rag-service.ts
  apps/digital-health-startup/src/features/chat/services/enhanced-langchain-service.ts
  apps/digital-health-startup/src/features/chat/services/unified-langgraph-orchestrator.ts
  apps/digital-health-startup/src/lib/services/board-composer.ts
  apps/digital-health-startup/src/lib/services/langgraph-orchestrator.ts
Owners: @vital-path/team

fix: Improve error handling in ask-expert page for fetch failures
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/proxy.ts
Owners: @vital-path/team

fix: Improve error handling for API Gateway fetch failures
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/features/chat/services/mode1-manual-interactive.ts
Owners: @vital-path/team

fix: Enhanced error handling for API Gateway connection failures
  apps/digital-health-startup/src/app/api/ask-expert/orchestrate/route.ts
Owners: @vital-path/team

fix: Add API Gateway connection error message
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

docs: Add start/stop scripts for API Gateway and Python AI Engine
  scripts/start-services.sh
  scripts/stop-services.sh
Owners: @vital-path/team

fix: Install setuptools and wheel before requirements in startup script
  scripts/start-services.sh
Owners: @vital-path/team

fix: Use Python 3.12/3.11 instead of 3.13 for better package compatibility
  scripts/start-services.sh
Owners: @vital-path/team

feat: Docker setup for full backend services
  docker-compose.backend.yml
  docker-compose.yml
  scripts/docker-backend-start.sh
  services/ai-engine/.dockerignore
  services/ai-engine/DEPLOY.md
  services/ai-engine/Dockerfile
  services/ai-engine/docker-build.sh
  services/ai-engine/requirements.txt
  services/ai-engine/start.py
  services/api-gateway/.dockerignore
  services/api-gateway/Dockerfile
Owners: @vital-path/team, @vital-path/docs-team

feat: Clean up Python AI Engine structure and add Docker deployment
  docker-compose.python-only.yml
  docs/PYTHON_AI_ENGINE_DEPLOYMENT.md
  scripts/docker-python-start.sh
  services/ai-engine/.gitignore
  services/ai-engine/README.md
  services/ai-engine/src/Dockerfile
  services/ai-engine/src/pytest.ini
  services/ai-engine/src/supabase/.temp/cli-latest
  services/ai-engine/src/supabase/.temp/gotrue-version
  services/ai-engine/src/supabase/.temp/pooler-url
  services/ai-engine/src/supabase/.temp/postgres-version
  services/ai-engine/src/supabase/.temp/project-ref
  services/ai-engine/src/supabase/.temp/rest-version
  services/ai-engine/src/supabase/.temp/storage-version
Owners: @vital-path/team, @vital-path/docs-team, @vital-path/database-team

feat: Add comprehensive environment variable configuration
  docker-compose.python-only.yml
  docs/ENVIRONMENT_VARIABLES_COMPLETE.md
Owners: @vital-path/team, @vital-path/docs-team

feat: Complete environment variable setup for all providers
  scripts/validate-env.sh
  services/ai-engine/src/core/config.py
Owners: @vital-path/team

feat: Add environment variable setup script and .env.example
  scripts/setup-env-from-local.sh
  services/ai-engine/.env.example
Owners: @vital-path/team

docs: Add pre-deployment plan update summary
  docs/PLAN_UPDATE_PRE_DEPLOYMENT.md
Owners: @vital-path/docs-team

feat(phase-7.1): Create tenant isolation database migrations
  database/sql/migrations/2025/20250201000004_create_tenants_table.sql
  database/sql/migrations/2025/20250201000005_add_tenant_isolation.sql
Owners: @vital-path/team

feat(phase-7.1-7.2): Complete tenant isolation and RLS policies
  database/sql/migrations/2025/20250201000004_seed_platform_tenant.sql
  database/sql/migrations/2025/20250201000006_update_rls_policies.sql
Owners: @vital-path/team

docs(phase-7.1-7.2): Add completion summary document
  docs/PHASE_7_1_7_2_COMPLETE.md
Owners: @vital-path/docs-team

feat(phase-7.3): Add tenant context middleware and tenant-aware clients
  services/ai-engine/src/main.py
  services/ai-engine/src/middleware/tenant_context.py
  services/api-gateway/package.json
  services/api-gateway/src/index.js
  services/api-gateway/src/middleware/tenant.js
  services/api-gateway/src/utils/supabase-client.js
Owners: @vital-path/team

fix(phase-7.3): Update Python AI Engine endpoint to use tenant context
  services/ai-engine/src/main.py
Owners: @vital-path/team

docs(phase-7.3): Add completion summary document
  docs/PHASE_7_3_COMPLETE.md
Owners: @vital-path/docs-team

feat(phase-7.4): Add unit and integration tests for tenant isolation
  services/ai-engine/pytest.ini
  services/ai-engine/src/tests/integration/test_tenant_isolation.py
  services/ai-engine/src/tests/middleware/test_tenant_context.py
  services/api-gateway/jest.config.js
  services/api-gateway/jest.setup.js
  services/api-gateway/package.json
  services/api-gateway/src/__tests__/integration/tenant-isolation.test.js
  services/api-gateway/src/middleware/__tests__/tenant.test.js
Owners: @vital-path/team

docs(phase-7.4): Add comprehensive testing guide
  docs/PHASE_7_4_TESTING_GUIDE.md
Owners: @vital-path/docs-team

fix(phase-7.4): Fix test files and add Phase 7 completion summary
  docs/PHASE_7_COMPLETE.md
  services/ai-engine/src/tests/integration/test_tenant_isolation.py
  services/api-gateway/src/__tests__/integration/tenant-isolation.test.js
  services/api-gateway/src/middleware/__tests__/tenant.test.js
Owners: @vital-path/docs-team, @vital-path/team

feat(phase-5): Complete Phase 5.1 and 5.2 migrations - Panel Services and API Routes
  apps/digital-health-startup/src/app/api/agents/recommend/route.ts
  apps/digital-health-startup/src/app/api/ask-expert/generate-document/route.ts
  apps/digital-health-startup/src/lib/services/action-item-extractor.ts
  apps/digital-health-startup/src/lib/services/risk-assessment.ts
Owners: @vital-path/team

docs(phase-6): Complete Phase 6 Final Verification & Testing
  docs/PHASE_5_COMPLETE.md
  docs/PHASE_6_VERIFICATION_REPORT.md
Owners: @vital-path/docs-team

docs(migration): Add complete migration summary
  docs/MIGRATION_COMPLETE_SUMMARY.md
Owners: @vital-path/docs-team

feat(phase-8.1): Complete Docker deployment optimization for Python AI Engine
  docker-compose.python-only.yml
  services/ai-engine/DEPLOYMENT.md
  services/ai-engine/Dockerfile
  services/ai-engine/modal_deploy.py
  services/ai-engine/railway.toml
Owners: @vital-path/team, @vital-path/docs-team

feat(phase-8.2): Complete Vercel deployment configuration
  apps/digital-health-startup/vercel.json
  docs/VERCEL_DEPLOYMENT_PRODUCTION.md
Owners: @vital-path/team, @vital-path/docs-team

feat(phase-8.3): Complete monitoring & observability setup
  docs/MONITORING_PRODUCTION_GUIDE.md
  monitoring/docker-compose.yml
  monitoring/grafana/dashboards/python-ai-engine.json
  monitoring/prometheus/alerts/python-ai-engine-alerts.yml
  monitoring/prometheus/prometheus.yml
  services/api-gateway/src/index.js
Owners: @vital-path/docs-team, @vital-path/team

feat(phase-8.4): Complete security hardening
  docs/SECURITY_HARDENING_GUIDE.md
  monitoring/docker-compose.yml
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team

fix(security): Remove duplicate CORS middleware configuration
  services/ai-engine/src/main.py
Owners: @vital-path/team
