Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

docs: organize Railway deployment documentation
  ASK_PANEL_COMPLETE_SUMMARY.md
  NEXT_STEP_RAILWAY.md
  RAILWAY_DEPLOYMENT_IN_PROGRESS.md
  RAILWAY_DIAGNOSTIC_IN_PROGRESS.md
  RAILWAY_MONOREPO_FIX_COMPLETE.md
  RAILWAY_NEXT_STEPS.md
  RAILWAY_ROOT_DIRECTORY_FIX.md
  README.md
  docs/deployment/railway/README.md
  docs/deployment/railway/guides/RAILWAY_ENVIRONMENT_VARIABLES_GUIDE.md
  docs/deployment/railway/guides/RAILWAY_ENV_SETUP_COMPLETE.md
  docs/deployment/railway/guides/RAILWAY_PORT_FIX_APPLIED.md
  docs/deployment/railway/guides/setup-railway-env.sh
  docs/deployment/railway/troubleshooting/RAILWAY_BUILD_ERROR_FIX.md
  docs/deployment/railway/troubleshooting/RAILWAY_DEPLOYMENT_FAILURE_REPORT.md
  docs/deployment/railway/troubleshooting/RAILWAY_HEALTH_CHECK_FAILURE_DIAGNOSIS.md
  docs/deployment/railway/troubleshooting/RAILWAY_URGENT_DEBUG_GUIDE.md
Owners: @vital-path/docs-team

docs: organize Railway deployment documentation
  ASK_PANEL_COMPLETE_SUMMARY.md
  NEXT_STEP_RAILWAY.md
  RAILWAY_DEPLOYMENT_IN_PROGRESS.md
  RAILWAY_DIAGNOSTIC_IN_PROGRESS.md
  RAILWAY_MONOREPO_FIX_COMPLETE.md
  RAILWAY_NEXT_STEPS.md
  RAILWAY_ROOT_DIRECTORY_FIX.md
  README.md
  docs/deployment/railway/README.md
  docs/deployment/railway/guides/RAILWAY_ENVIRONMENT_VARIABLES_GUIDE.md
  docs/deployment/railway/guides/RAILWAY_ENV_SETUP_COMPLETE.md
  docs/deployment/railway/guides/RAILWAY_PORT_FIX_APPLIED.md
  docs/deployment/railway/guides/setup-railway-env.sh
  docs/deployment/railway/troubleshooting/RAILWAY_BUILD_ERROR_FIX.md
  docs/deployment/railway/troubleshooting/RAILWAY_DEPLOYMENT_FAILURE_REPORT.md
  docs/deployment/railway/troubleshooting/RAILWAY_HEALTH_CHECK_FAILURE_DIAGNOSIS.md
  docs/deployment/railway/troubleshooting/RAILWAY_URGENT_DEBUG_GUIDE.md
Owners: @vital-path/docs-team

docs: add comprehensive AI Engine backend quality status report
  services/ai-engine/BACKEND_QUALITY_STATUS.md
Owners: @vital-path/docs-team

docs: add comprehensive AI Engine backend quality status report
  services/ai-engine/BACKEND_QUALITY_STATUS.md
Owners: @vital-path/docs-team

docs: clarify AI Engine configuration status
  services/ai-engine/ENGINE_STATUS_CURRENT.md
Owners: @vital-path/docs-team

docs: clarify AI Engine configuration status
  services/ai-engine/ENGINE_STATUS_CURRENT.md
Owners: @vital-path/docs-team

feat: update agent creator to load tools from database and properly sync agent-tool assignments
  ASK_PANEL_RAILWAY_INTEGRATION.md
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  deploy-ask-panel-railway.sh
Owners: @vital-path/docs-team, @vital-path/team

feat: update agent creator to load tools from database and properly sync agent-tool assignments
  ASK_PANEL_RAILWAY_INTEGRATION.md
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  deploy-ask-panel-railway.sh
Owners: @vital-path/docs-team, @vital-path/team

refactor: remove minimal AI engine - frontend uses Railway production
  services/ai-engine/FRONTEND_BACKEND_CONNECTION.md
  services/ai-engine/MINIMAL_VS_FULL_ENGINE.md
  services/ai-engine/minimal_ai_engine.py
Owners: @vital-path/docs-team, @vital-path/team

refactor: remove minimal AI engine - frontend uses Railway production
  services/ai-engine/FRONTEND_BACKEND_CONNECTION.md
  services/ai-engine/MINIMAL_VS_FULL_ENGINE.md
  services/ai-engine/minimal_ai_engine.py
Owners: @vital-path/docs-team, @vital-path/team

docs: add quality check report - all checks passed
  QUALITY_CHECK_REPORT.md
Owners: @vital-path/docs-team

docs: add quality check report - all checks passed
  QUALITY_CHECK_REPORT.md
Owners: @vital-path/docs-team

refactor: organize environment files - centralized .env-configs
  .env-configs/README.md
  .env-configs/restore-env-files.sh
  .gitignore
Owners: @vital-path/docs-team, @vital-path/team

refactor: organize environment files - centralized .env-configs
  .env-configs/README.md
  .env-configs/restore-env-files.sh
  .gitignore
Owners: @vital-path/docs-team, @vital-path/team

docs: add environment cleanup completion report
  ENV_CLEANUP_COMPLETE.md
Owners: @vital-path/docs-team

docs: add environment cleanup completion report
  ENV_CLEANUP_COMPLETE.md
Owners: @vital-path/docs-team

docs: add comprehensive production readiness assessment
  PRODUCTION_READINESS_REPORT.md
Owners: @vital-path/docs-team

docs: add comprehensive production readiness assessment
  PRODUCTION_READINESS_REPORT.md
Owners: @vital-path/docs-team

fix: configure pytest to run tests successfully
  HONEST_AUDIT_CORRECTION.md
  services/ai-engine/conftest.py
  services/ai-engine/pytest.ini
Owners: @vital-path/docs-team, @vital-path/team

fix: configure pytest to run tests successfully
  HONEST_AUDIT_CORRECTION.md
  services/ai-engine/conftest.py
  services/ai-engine/pytest.ini
Owners: @vital-path/docs-team, @vital-path/team

docs: testing gap fixed - tests now running!
  TESTING_GAP_FIXED.md
Owners: @vital-path/docs-team

docs: testing gap fixed - tests now running!
  TESTING_GAP_FIXED.md
Owners: @vital-path/docs-team

Add frameworks.py for shared multi-framework execution
  services/ai-engine/src/api/frameworks.py
  services/ai-engine/src/main.py
Owners: @vital-path/team

Add frameworks.py for shared multi-framework execution
  services/ai-engine/src/api/frameworks.py
  services/ai-engine/src/main.py
Owners: @vital-path/team

fix: all 9 failing unit tests now passing! 🎉
  TESTING_COVERAGE_ANALYSIS.md
  services/ai-engine/tests/unit/test_core_services.py
Owners: @vital-path/docs-team, @vital-path/team

fix: all 9 failing unit tests now passing! 🎉
  TESTING_COVERAGE_ANALYSIS.md
  services/ai-engine/tests/unit/test_core_services.py
Owners: @vital-path/docs-team, @vital-path/team

docs: complete test fix summary - 100% success!
  TESTS_FIXED_COMPLETE.md
Owners: @vital-path/docs-team

docs: complete test fix summary - 100% success!
  TESTS_FIXED_COMPLETE.md
Owners: @vital-path/docs-team

feat: add 16 new integration tests - coverage increased!
  services/ai-engine/tests/api/test_endpoints.py
  services/ai-engine/tests/integration/test_core_services.py
Owners: @vital-path/team

feat: add 16 new integration tests - coverage increased!
  services/ai-engine/tests/api/test_endpoints.py
  services/ai-engine/tests/integration/test_core_services.py
Owners: @vital-path/team

docs: Phase 1 testing complete summary
  PHASE1_TESTING_COMPLETE.md
Owners: @vital-path/docs-team

docs: Phase 1 testing complete summary
  PHASE1_TESTING_COMPLETE.md
Owners: @vital-path/docs-team

Fix: import sys for frameworks debug logging
  services/ai-engine/src/main.py
Owners: @vital-path/team

Fix: import sys for frameworks debug logging
  services/ai-engine/src/main.py
Owners: @vital-path/team

feat: Phase 2 complete - coverage DOUBLED to 14.65%! 🎉
  services/ai-engine/conftest.py
  services/ai-engine/tests/integration/test_core_services.py
  services/ai-engine/tests/integration/test_workflows_simple.py
Owners: @vital-path/team

feat: Phase 2 complete - coverage DOUBLED to 14.65%! 🎉
  services/ai-engine/conftest.py
  services/ai-engine/tests/integration/test_core_services.py
  services/ai-engine/tests/integration/test_workflows_simple.py
Owners: @vital-path/team

docs: Phase 2 complete summary - EPIC WIN! 🏆
  PHASE2_COMPLETE_COVERAGE_DOUBLED.md
Owners: @vital-path/docs-team

docs: Phase 2 complete summary - EPIC WIN! 🏆
  PHASE2_COMPLETE_COVERAGE_DOUBLED.md
Owners: @vital-path/docs-team

feat: Add 27 critical path tests - coverage increased to 17%!
  services/ai-engine/pytest.ini
  services/ai-engine/tests/critical/test_core_business_logic.py
  services/ai-engine/tests/critical/test_health_endpoint.py
Owners: @vital-path/team

feat: Add 27 critical path tests - coverage increased to 17%!
  services/ai-engine/pytest.ini
  services/ai-engine/tests/critical/test_core_business_logic.py
  services/ai-engine/tests/critical/test_health_endpoint.py
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
