Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

feat: implement global dark/light mode theme system across all 3 tenant apps
  .claude/vital-expert-docs/05-architecture/frontend/ASK_EXPERT_SIDEBAR_ALIGNMENT.md
  .claude/vital-expert-docs/05-architecture/frontend/GLOBAL_THEME_IMPLEMENTATION_COMPLETE.md
  .claude/vital-expert-docs/05-architecture/frontend/GLOBAL_THEME_SYSTEM.md
  .claude/vital-expert-docs/05-architecture/frontend/NAVBAR_TENANT_SWITCHER_DATABASE_MIGRATION.md
  .claude/vital-expert-docs/05-architecture/frontend/TENANT_AND_THEME_COMPARISON.md
  .claude/vital-expert-docs/05-architecture/frontend/TENANT_SWITCHER_LOGO_UPDATE.md
  .claude/vital-expert-docs/05-architecture/frontend/VITAL_SYSTEM_ANALYSIS.md
  apps/digital-health-startup/public/logos/vital-expert-logo.svg
  apps/digital-health-startup/public/logos/vital-pharma-logo.svg
  apps/digital-health-startup/public/logos/vital-startup-logo.svg
  apps/digital-health-startup/src/components/theme-toggle.tsx
  apps/digital-health-startup/src/providers/theme-provider.tsx
  apps/pharma/src/app/layout.tsx
  apps/pharma/src/components/navbar/MainNavbar.tsx
  apps/pharma/src/components/theme-toggle.tsx
  apps/pharma/src/providers/theme-provider.tsx
  apps/vital-system/src/app/layout.tsx
  apps/vital-system/src/components/navbar/MainNavbar.tsx
  apps/vital-system/src/components/theme-toggle.tsx
  apps/vital-system/src/providers/theme-provider.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: add missing hover-card component and dependency for Phase 2
  .claude/vital-expert-docs/SESSION_DELIVERABLES_INDEX.md
  apps/digital-health-startup/package.json
  apps/digital-health-startup/src/components/ui/hover-card.tsx
  apps/vital-system/package.json
  apps/vital-system/src/components/ui/hover-card.tsx
  pnpm-lock.yaml
  sql/migrations/004_tenant_data_migration.sql
  sql/migrations/005_post_migration_validation.sql
  sql/migrations/README_MIGRATION_EXECUTION.md
  supabase/migrations/20251118144319_create_multitenancy_system.sql
  supabase/migrations/CONSOLIDATED_MULTITENANCY_MIGRATION.sql
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

fix: gracefully handle missing user_agents table in API
  .claude/vital-expert-docs/05-architecture/data/README_JTBD_DOCUMENTATION.md
  MULTITENANCY_SETUP_COMPLETE.md
  apps/digital-health-startup/src/app/api/user-agents/route.ts
  apps/digital-health-startup/src/components/ui/collapsible.tsx
  apps/vital-system/src/app/api/tools-crud/route.ts
  apps/vital-system/src/app/api/user-agents/route.ts
  apps/vital-system/src/app/layout.tsx
  apps/vital-system/src/components/feature-gate.tsx
  apps/vital-system/src/components/navbar/MainNavbar.tsx
  apps/vital-system/src/components/tenant-logo.tsx
  apps/vital-system/src/components/tenant-switcher.tsx
  apps/vital-system/src/contexts/tenant-context.tsx
  apps/vital-system/src/hooks/use-feature-flag.ts
  apps/vital-system/src/hooks/use-tenant-config.ts
  apps/vital-system/src/lib/services/feature-flag.service.ts
  apps/vital-system/src/lib/services/tenant-configuration.service.ts
  apps/vital-system/src/types/multitenancy.types.ts
  make_amine_admin.js
  sql/migrations/000_pre_migration_validation.sql
  sql/migrations/001_schema_fixes.sql
  sql/migrations/002_tenant_setup.sql
  sql/migrations/003_platform_data_migration.sql
  sql/migrations/004_tenant_data_migration.sql
  sql/migrations/005_post_migration_validation.sql
  sql/migrations/MIGRATION_FIXES_SUMMARY.md
  sql/migrations/README.md
  sql/migrations/execute_migration.sh
  sql/migrations/run-migrations.sh
  sql/migrations/test-syntax.sh
Owners: @vital-path/docs-team, @vital-path/team

Add complete multitenancy system with tenant logos
  sql/migrations/000_create_migration_tracking.sql
  sql/migrations/RUN_MIGRATIONS.md
  sql/migrations/copy-for-dashboard.sh
Owners: @vital-path/team, @vital-path/docs-team

Fix agent API authentication to use organization_id from users table
  apps/vital-system/src/app/api/agents-crud/route.ts
  apps/vital-system/src/middleware/agent-auth.ts
  make_super_admins.sql
  sql/migrations/EXECUTE_MIGRATIONS_NOW.md
Owners: @vital-path/team, @vital-path/docs-team

Fix knowledge-domains API column names
  add_tenant_to_knowledge.sql
  apps/vital-system/src/app/api/knowledge-domains/route.ts
Owners: @vital-path/team

Fix knowledge page query - remove priority column reference
  apps/vital-system/src/app/(app)/knowledge/page.tsx
Owners: @vital-path/team

Simplify knowledge domains fetch - remove broken fallback
  apps/vital-system/src/app/(app)/knowledge/page.tsx
Owners: @vital-path/team

Fix knowledge domains - use API instead of direct Supabase query
  apps/vital-system/src/app/(app)/knowledge/page.tsx
Owners: @vital-path/team

Fix knowledge-domains API - remove tier column reference
  apps/vital-system/src/app/api/knowledge-domains/route.ts
Owners: @vital-path/team

Add RAG infrastructure migration
  supabase/migrations/20251118200000_rag_infrastructure.sql
Owners: @vital-path/database-team

Fix RAG migration: use HNSW index for 3072d vectors
  supabase/migrations/20251118200000_rag_infrastructure.sql
Owners: @vital-path/database-team

Fix RAG migration: use 1536d for pgvector compatibility
  supabase/migrations/20251118200000_rag_infrastructure.sql
Owners: @vital-path/database-team

Fix RAG migration: drop existing knowledge_sources table
  supabase/migrations/20251118200000_rag_infrastructure.sql
Owners: @vital-path/database-team

Add multitenancy and RAG infrastructure documentation
  .claude/vital-expert-docs/05-architecture/data/MULTITENANCY_AND_RAG_INFRASTRUCTURE.md
Owners: @vital-path/docs-team

feat: Update ask-expert to list all available tools and RAG domains
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/api/knowledge-domains/route.ts
  apps/pharma/src/app/(app)/ask-expert/page.tsx
  apps/pharma/src/app/api/knowledge-domains/route.ts
  apps/vital-system/src/app/(app)/ask-expert/page.tsx
  apps/vital-system/src/app/api/knowledge-domains/route.ts
  apps/vital-system/src/app/api/tools-crud/route.ts
Owners: @vital-path/team

fix: resolve all npm security vulnerabilities (2 high severity)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @vital-path/team

docs: add comprehensive security fixes summary
  SECURITY_FIXES_SUMMARY.md
Owners: @vital-path/docs-team

feat: Connect Agent Store with Ask Panel and Ask Expert services
  apps/digital-health-startup/AGENT_STORE_INTEGRATION.md
  apps/digital-health-startup/src/app/api/agent-store/verify/route.ts
  apps/digital-health-startup/src/app/api/ask-expert/orchestrate/route.ts
  apps/digital-health-startup/src/app/api/ask-panel/route.ts
  apps/digital-health-startup/src/components/langgraph-gui/Mode1Documentation.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/features/ask-expert/services/agent-store-integration.ts
  apps/digital-health-startup/src/features/ask-expert/utils/verify-agent-store.ts
  apps/digital-health-startup/src/features/ask-panel/services/agent-store-integration.ts
  apps/digital-health-startup/src/features/ask-panel/services/ask-panel-orchestrator.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: add Python security vulnerabilities analysis and fixes
  .vital-cockpit/.vital-ops/services/ai-engine/PYTHON_SECURITY_UPDATE.md
Owners: @vital-path/docs-team

docs: update security summary with Python vulnerability fixes
  SECURITY_FIXES_SUMMARY.md
Owners: @vital-path/docs-team

feat: DevOps restructure Phase 1 - create industry-standard structure
  .vital-cockpit/.vital-ops/CATALOG.md
  .vital-cockpit/.vital-ops/DEVOPS_RESTRUCTURE_PLAN.md
  .vital-cockpit/.vital-ops/IMPLEMENTATION_PROGRESS.md
  .vital-cockpit/.vital-ops/bin/README.md
  .vital-cockpit/.vital-ops/config/README.md
  .vital-cockpit/.vital-ops/database/queries/README.md
  .vital-cockpit/.vital-ops/docs/README.md
  .vital-cockpit/.vital-ops/docs/guides/setup-development.md
  .vital-cockpit/.vital-ops/docs/runbooks/deployment.md
  .vital-cockpit/.vital-ops/lib/README.md
  .vital-cockpit/.vital-ops/lib/shell/common.sh
  .vital-cockpit/.vital-ops/tools/README.md
Owners: @vital-path/docs-team, @vital-path/team

feat: DevOps restructure Phases 2-4 complete
  .vital-docs/vital-expert-docs/11-data-schema/04-views/jtbd_comprehensive_views.sql
  .vital-docs/vital-expert-docs/11-data-schema/06-migrations/MIGRATION_COMPLETE_SUMMARY.md
  .vital-docs/vital-expert-docs/11-data-schema/06-migrations/migrate_task_schemas.sql
  .vital-docs/vital-expert-docs/11-data-schema/06-migrations/workflow_normalization.sql
  .vital-docs/vital-expert-docs/11-data-schema/FINAL_IMPLEMENTATION_ROADMAP.md
  .vital-docs/vital-expert-docs/11-data-schema/GAP_ANALYSIS.md
  .vital-docs/vital-expert-docs/11-data-schema/IMPLEMENTATION_COMPLETE.md
  .vital-docs/vital-expert-docs/11-data-schema/jtbds/COMPLETE_JTBD_ARCHITECTURE.md
  .vital-docs/vital-expert-docs/11-data-schema/jtbds/DATA_OWNERSHIP_GUIDE.md
  .vital-docs/vital-expert-docs/11-data-schema/jtbds/QUERY_EXAMPLES.md
  .vital-docs/vital-expert-docs/11-data-schema/jtbds/README.md
  .vital-docs/vital-expert-docs/11-data-schema/workflows/WORKFLOW_ARCHITECTURE.md
  DATABASE_REORGANIZATION_PLAN.md
Owners: @vital-path/team, @vital-path/docs-team

fix: Improve workflow loading error handling with graceful fallback
  apps/digital-health-startup/src/components/langgraph-gui/WorkflowBuilder.tsx
Owners: @vital-path/team

feat: Complete DevOps restructure - Phases 5-7
  .vital-cockpit/.vital-ops/DEVOPS_RESTRUCTURE_COMPLETE.md
  .vital-cockpit/.vital-ops/bin/README.md
  .vital-cockpit/.vital-ops/bin/health-check
  .vital-cockpit/.vital-ops/bin/setup-environment
  .vital-cockpit/.vital-ops/config/README.md
  .vital-cockpit/.vital-ops/config/environments/dev.env.template
  .vital-cockpit/.vital-ops/config/environments/prod.env.template
  .vital-cockpit/.vital-ops/config/environments/staging.env.template
  .vital-cockpit/.vital-ops/docs/README.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/AI_ENGINE_DEPLOYMENT.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/DEPLOYMENT_PRODUCTION_CHECKLIST.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/README.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/UNIFIED_DEPLOYMENT_PLAN.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/VERCEL_DEPLOYMENT_STEPS.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/README.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/guides/RAILWAY_ENVIRONMENT_VARIABLES_GUIDE.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/guides/RAILWAY_ENV_SETUP_COMPLETE.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/guides/RAILWAY_PORT_FIX_APPLIED.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/guides/setup-railway-env.sh
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/troubleshooting/RAILWAY_BUILD_ERROR_FIX.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/troubleshooting/RAILWAY_DEPLOYMENT_FAILURE_REPORT.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/troubleshooting/RAILWAY_HEALTH_CHECK_FAILURE_DIAGNOSIS.md
  .vital-cockpit/.vital-ops/docs/deployment-guides/railway/troubleshooting/RAILWAY_URGENT_DEBUG_GUIDE.md
  .vital-cockpit/.vital-ops/docs/runbooks/incident-response.md
  .vital-cockpit/.vital-ops/docs/runbooks/rollback.md
  .vital-cockpit/.vital-ops/docs/testing/POSTMAN_TESTING_GUIDE.md
  .vital-cockpit/.vital-ops/docs/testing/SPRINT2_TESTING_CHECKLIST.md
  .vital-cockpit/.vital-ops/docs/testing/TESTING_COVERAGE_ANALYSIS.md
  .vital-cockpit/.vital-ops/docs/testing/TESTING_FINAL_MILESTONE.md
  .vital-cockpit/.vital-ops/docs/testing/TESTING_JOURNEY_FINAL.md
  .vital-cockpit/.vital-ops/tools/README.md
  .vital-cockpit/.vital-ops/tools/validation/validate-config.sh
  .vital-docs/vital-expert-docs/11-data-schema/07-utilities/cleanup/reset_all_data.sql
  .vital-docs/vital-expert-docs/11-data-schema/07-utilities/cleanup/reset_workflows_tasks_only.sql
Owners: @vital-path/docs-team, @vital-path/team

docs: Add CORRECT_STRUCTURE.md explaining proper organization
  CORRECT_STRUCTURE.md
Owners: @vital-path/docs-team

feat: Implement production-ready multi-tenant agent access with RLS
  apps/vital-system/src/app/api/agents/route.ts
  apps/vital-system/src/features/agents/services/agent-service.ts
Owners: @vital-path/team

feat: Add AI Agent Builder with YAML+MD system prompt editor
  apps/vital-system/src/app/(app)/agents/page.tsx
  apps/vital-system/src/app/api/generate-system-prompt/route.ts
  apps/vital-system/src/components/ui/labeled-slider.tsx
  apps/vital-system/src/features/agents/components/agent-edit-form-enhanced.tsx
  apps/vital-system/src/features/agents/components/agent-edit-form.tsx
  apps/vital-system/src/features/agents/components/index.ts
  apps/vital-system/src/features/agents/services/agent-service.ts
  apps/vital-system/src/features/agents/types/agent.types.ts
  apps/vital-system/src/middleware/agent-auth.ts
Owners: @vital-path/team

Fix agent matching and state synchronization in Ask Panel
  apps/vital-system/src/app/api/agents-crud/route.ts
  apps/vital-system/src/app/api/agents/route.ts
  apps/vital-system/src/app/api/ask-panel-enhanced/stream/route.ts
  apps/vital-system/src/components/ask-panel/StreamingPanelConsultation.tsx
  apps/vital-system/src/features/agents/services/agent-api.ts
  apps/vital-system/src/features/agents/services/agent-service.ts
  apps/vital-system/src/features/ask-panel/components/PanelExecutionView.tsx
  apps/vital-system/src/lib/auth/supabase-auth-context.tsx
  apps/vital-system/src/lib/stores/agents-store.ts
  apps/vital-system/src/middleware/tenant-middleware.ts
  services/ai-engine/src/api/routes/ask_panel_streaming.py
  services/ai-engine/src/langgraph_compilation/panel_service.py
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced.py
  services/ai-engine/src/services/agent_service.py
  services/ai-engine/src/services/llm_service.py
  services/ai-engine/src/services/panel_mode_router.py
  services/ai-engine/src/services/supabase_client.py
  services/ai-engine/src/services/unified_rag_service.py
  services/ai-engine/start.py
  supabase/migrations/20251201000001_fix_users_infinite_recursion_policy.sql
Owners: @vital-path/team, @vital-path/database-team

Add Ask Panel Enhanced with streaming, knowledge retrieval, and consensus calculation fixes
  apps/vital-system/src/app/api/agents/route.ts
  apps/vital-system/src/app/api/ask-panel-enhanced/stream/route.ts
  apps/vital-system/src/components/ask-panel/StreamingPanelConsultation.tsx
  apps/vital-system/src/features/agents/services/agent-api.ts
  apps/vital-system/src/features/ask-panel/components/PanelExecutionView.tsx
  apps/vital-system/src/lib/stores/agents-store.ts
  package.json
  pnpm-lock.yaml
  scripts/export-workflow-wf-fme-001.js
  services/ai-engine/src/api/routes/ask_panel_streaming.py
  services/ai-engine/src/langgraph_compilation/panel_service.py
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced.py
  services/ai-engine/src/main.py
  services/ai-engine/src/services/agent_service.py
  services/ai-engine/src/services/llm_service.py
  services/ai-engine/src/services/supabase_client.py
  services/api-gateway/package-lock.json
  workflows/WF-FME-001.json
Owners: @vital-path/team

feat: Make moderator messages visible as normal messages in panel debate
  apps/vital-system/src/features/workflow-designer/components/modals/WorkflowTestModal.tsx
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced.py
Owners: @vital-path/team

feat: Add enhanced panel workflow with moderator and debate
  services/ai-engine/src/api/frameworks.py
  services/ai-engine/src/langgraph_workflows/ask_panel_enhanced.py
  services/ai-engine/src/main.py
Owners: @vital-path/team

feat(ask-expert): Complete Phase 2 Interactive View components
  apps/vital-system/src/features/ask-expert/components/VitalWorkspace.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/AgentSelectionCard.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/ChatInput.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/CitationList.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/ExpertHeader.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/ExpertPicker.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/FusionSelector.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/StreamingMessage.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/ToolCallList.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/VitalMessage.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/VitalSuggestionChips.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/VitalThinking.tsx
  apps/vital-system/src/features/ask-expert/components/interactive/index.ts
  apps/vital-system/src/features/ask-expert/hooks/streamReducer.ts
  apps/vital-system/src/features/ask-expert/hooks/useAutonomousMode.ts
  apps/vital-system/src/features/ask-expert/views/InteractiveView.tsx
Owners: @vital-path/team

feat(landing): Add domain-agnostic landing page with brand v6.0 design
  apps/vital-system/src/app/page.tsx
  apps/vital-system/src/features/landing/AudienceSection.tsx
  apps/vital-system/src/features/landing/CTASection.tsx
  apps/vital-system/src/features/landing/HeroSection.tsx
  apps/vital-system/src/features/landing/LandingPage.tsx
  apps/vital-system/src/features/landing/ProblemSection.tsx
  apps/vital-system/src/features/landing/ServicesSection.tsx
  apps/vital-system/src/features/landing/SolutionSection.tsx
  apps/vital-system/src/features/landing/index.ts
Owners: @vital-path/team

docs: Update frontend documentation with Phase 1 completion status
  docs/architecture/DEPLOYMENT_READY_STRUCTURE.md
  docs/audits/FRONTEND_DESIGN_COMPREHENSIVE_AUDIT.md
  docs/audits/FRONTEND_IMPLEMENTATION_PLAN.md
Owners: @vital-path/docs-team

chore: remove deprecated and archived files
  apps/vital-system/src/components/auth/input.tsx
  apps/vital-system/src/components/auth/label.tsx
  services/ai-engine/src/api/routes/ontology_investigator.py
  services/ai-engine/src/api/routes/value_investigator.py
  services/ai-engine/src/langgraph_workflows/ask_expert/archive/README.md
  services/ai-engine/src/langgraph_workflows/ask_expert/archive/__init__.py
  services/ai-engine/src/langgraph_workflows/ask_expert/archive/ask_expert_mode3_workflow.py
  services/ai-engine/src/langgraph_workflows/ask_expert/archive/ask_expert_mode4_workflow.py
  services/ai-engine/src/langgraph_workflows/ask_expert/archive/unified_autonomous_workflow_deprecated.py
  services/ai-engine/src/langgraph_workflows/ontology_investigator.py
  services/ai-engine/src/langgraph_workflows/postgres_checkpointer.py
  services/ai-engine/src/langgraph_workflows/value_investigator.py
Owners: @vital-path/team, @vital-path/docs-team

feat(brand): harden Tailwind config to block blue/gray violations
  apps/vital-system/tailwind.config.ts
Owners: @vital-path/team

docs: update FRONTEND_IMPLEMENTATION_PLAN with Phase 1B completion
  docs/audits/FRONTEND_IMPLEMENTATION_PLAN.md
Owners: @vital-path/docs-team

docs: update architecture docs with Phase 1B completion
  docs/architecture/CODEBASE_FILE_STATUS_REGISTRY.md
  docs/architecture/DEPLOYMENT_READY_STRUCTURE.md
Owners: @vital-path/docs-team

docs: update FRONTEND_IMPLEMENTATION_PLAN with Phase 2A completion
  docs/audits/FRONTEND_IMPLEMENTATION_PLAN.md
Owners: @vital-path/docs-team
