Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

test: comprehensive unit and performance tests for Mode 1 UX improvements
  MODE1_TEST_REPORT.md
  services/ai-engine/coverage.xml
  services/ai-engine/src/tests/test_mode1_ux_improvements.py
Owners: @vital-path/docs-team, @vital-path/team

docs: comprehensive testing guide for Mode 1 manual testing
  MODE1_TESTING_GUIDE.md
Owners: @vital-path/docs-team

fix: resolve Response naming conflict in EnhancedMessageDisplay
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
Owners: @vital-path/team

docs: comprehensive analysis of 3 persisting issues
  MODE1_PERSISTING_ISSUES_ANALYSIS.md
Owners: @vital-path/docs-team

debug: add comprehensive logging to trace sources data flow
  MODE1_DEBUG_LOGGING.patch
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/team

debug: add RAG retrieval logging to trace empty sources
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/team

fix: make prompt enhancement service optional to avoid dependency conflicts
  services/ai-engine/src/main.py
Owners: @vital-path/team

docs: comprehensive Mode 1 diagnostic report
  REDIS_SETUP_COMPLETE.md
Owners: @vital-path/docs-team

docs: add detailed Mode 1 diagnostic report
  MODE1_DIAGNOSTIC_REPORT.md
Owners: @vital-path/docs-team

fix: comment out unavailable langgraph.config import
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/api/pipeline/search/route.ts
  apps/digital-health-startup/src/components/admin/KnowledgePipelineConfig.tsx
  apps/digital-health-startup/src/components/admin/KnowledgeSearchImport.tsx
  scripts/knowledge_search.py
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/team

fix: improve inline citations and clean up Chicago references
  KNOWLEDGE_SEARCH_ARCHITECTURE.md
  KNOWLEDGE_SEARCH_IMPLEMENTATION_COMPLETE.md
  KNOWLEDGE_SEARCH_IMPORT_GUIDE.md
  apps/digital-health-startup/src/components/admin/KnowledgePipelineConfig.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: remove all get_stream_writer() calls to fix NameError
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/team

fix: restore reasoning and sources streaming via state updates
  scripts/__pycache__/knowledge_search.cpython-313.pyc
  scripts/knowledge_search.py
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/team

fix: correct Python AI Engine port from 8080 to 8000
  KNOWLEDGE_SEARCH_PUBLIC_ONLY.md
  QUICK_START_PUBLIC_SEARCH.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/components/admin/KnowledgeSearchImport.tsx
  scripts/__pycache__/knowledge_search.cpython-313.pyc
  scripts/knowledge_search.py
Owners: @vital-path/docs-team, @vital-path/team

fix: standardize AI Engine port to 8080 with clear comments
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/api/pipeline/search/route.ts
  scripts/knowledge_search.py
  services/ai-engine/src/main.py
Owners: @vital-path/team

Fix LangGraph updates and inline citation UI
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
  packages/ai-components/src/index.ts
Owners: @vital-path/team

fix: Replace emoji and smart quotes in template literals
  EMBEDDING_MODEL_FIX_COMPLETE.md
  TOOL_ORCHESTRATION_INTEGRATION_GUIDE.md
  TOOL_ORCHESTRATION_SYSTEM_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/components/admin/KnowledgePipelineConfig.tsx
  apps/digital-health-startup/src/features/ask-expert/components/ConnectionStatus.tsx
  scripts/knowledge/imported/The World Federation of ADHD International Consensus Statement_ 208 Evidence-based Conclusions about_unknown.md
  scripts/knowledge/pipeline_report_20251108_085145.md
  scripts/knowledge/pipeline_report_20251108_085328.md
  services/ai-engine/src/services/knowledge_pipeline_integration.py
  services/ai-engine/src/services/unified_rag_service.py
Owners: @vital-path/docs-team, @vital-path/team

fix: Replace all remaining smart quotes in template literals
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

fix: Remove all emoji characters from console.log statements
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

fix: Replace ALL remaining template literals with smart quotes
  FINAL_COMPLETION_SUMMARY.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: Remove ALL emoji characters from template literals
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

fix: Replace smart quote template literal in previewText
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

chore: safety snapshot before Ask Expert complete refactoring
  ASK_EXPERT_REFACTORING_STRATEGY.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/docs-team, @vital-path/team

feat(vital-shared): Create package structure and service interfaces
  services/ai-engine/src/vital_shared/README.md
  services/ai-engine/src/vital_shared/__init__.py
  services/ai-engine/src/vital_shared/database/__init__.py
  services/ai-engine/src/vital_shared/errors/__init__.py
  services/ai-engine/src/vital_shared/interfaces/__init__.py
  services/ai-engine/src/vital_shared/interfaces/agent_service.py
  services/ai-engine/src/vital_shared/interfaces/artifact_service.py
  services/ai-engine/src/vital_shared/interfaces/memory_service.py
  services/ai-engine/src/vital_shared/interfaces/rag_service.py
  services/ai-engine/src/vital_shared/interfaces/streaming_service.py
  services/ai-engine/src/vital_shared/interfaces/tool_service.py
  services/ai-engine/src/vital_shared/monitoring/__init__.py
  services/ai-engine/src/vital_shared/pyproject.toml
  services/ai-engine/src/vital_shared/registry/__init__.py
  services/ai-engine/src/vital_shared/services/__init__.py
  services/ai-engine/src/vital_shared/setup.py
  services/ai-engine/src/vital_shared/testing/__init__.py
  services/ai-engine/src/vital_shared/utils/__init__.py
  services/ai-engine/src/vital_shared/workflows/__init__.py
Owners: @vital-path/docs-team, @vital-path/team

feat(vital-shared): Add comprehensive data models
  services/ai-engine/src/vital_shared/models/__init__.py
  services/ai-engine/src/vital_shared/models/agent.py
  services/ai-engine/src/vital_shared/models/artifact.py
  services/ai-engine/src/vital_shared/models/citation.py
  services/ai-engine/src/vital_shared/models/message.py
  services/ai-engine/src/vital_shared/models/tool.py
  services/ai-engine/src/vital_shared/models/workflow_state.py
Owners: @vital-path/team

feat(vital-shared): Implement core service layer
  services/ai-engine/src/vital_shared/services/__init__.py
  services/ai-engine/src/vital_shared/services/agent_service.py
  services/ai-engine/src/vital_shared/services/artifact_service.py
  services/ai-engine/src/vital_shared/services/memory_service.py
  services/ai-engine/src/vital_shared/services/streaming_service.py
  services/ai-engine/src/vital_shared/services/tool_service.py
  services/ai-engine/src/vital_shared/services/unified_rag_service.py
Owners: @vital-path/team

docs: Phase 1 Week 1 completion report
  PHASE1_WEEK1_COMPLETE.md
Owners: @vital-path/docs-team

feat(vital-shared): Add BaseWorkflow template and ServiceRegistry
  services/ai-engine/src/vital_shared/registry/__init__.py
  services/ai-engine/src/vital_shared/registry/service_registry.py
  services/ai-engine/src/vital_shared/workflows/__init__.py
  services/ai-engine/src/vital_shared/workflows/base_workflow.py
Owners: @vital-path/team

docs: Comprehensive session summary - Phase 1 progress
  SESSION_SUMMARY_20251108.md
Owners: @vital-path/docs-team

docs: Add comprehensive architecture & inventory (Single Source of Truth)
  VITAL_SHARED_ARCHITECTURE.md
Owners: @vital-path/docs-team

docs: Add Quick Reference Card for developers
  VITAL_SHARED_QUICK_REFERENCE.md
Owners: @vital-path/docs-team

docs: Phase 1 Week 2 completion report
  PHASE1_WEEK2_COMPLETE.md
Owners: @vital-path/docs-team

feat(workflows): Implement all 4 mode workflows using BaseWorkflow
  services/ai-engine/src/langgraph_workflows/modes/__init__.py
  services/ai-engine/src/langgraph_workflows/modes/mode1_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/modes/mode2_automatic_workflow.py
  services/ai-engine/src/langgraph_workflows/modes/mode3_chat_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/modes/mode4_chat_automatic_workflow.py
Owners: @vital-path/team

docs: Complete report for all 4 mode implementations
  ALL_4_MODES_COMPLETE.md
Owners: @vital-path/docs-team

docs: Add comprehensive testing and architecture review
  TESTING_AND_ARCHITECTURE_REVIEW.md
Owners: @vital-path/docs-team

fix: Remove invalid unittest-mock dependency
  services/ai-engine/test-requirements.txt
Owners: @vital-path/team

fix: Use python3 instead of python in test runner
  services/ai-engine/run_tests.sh
Owners: @vital-path/team

docs: Add Phase 1 complete summary for review
  PHASE1_COMPLETE_READY_FOR_REVIEW.md
Owners: @vital-path/docs-team

test: Test execution reveals architecture validation + expected gaps
  COMPLETE_NOTION_SUPABASE_INTEGRATION.md
  COMPLETE_SYNC_STRATEGY.md
  DOCUMENTATION_INDEX.md
  EXECUTION_PLAN.md
  FULL_SYNC_REPORT.md
  GET_STARTED.md
  INTEGRATION_COMPLETE.md
  INTEGRATION_STATUS.md
  MCP_NOTION_SUPABASE_GUIDE.md
  MCP_SYNC_COMPLETE.md
  NOTION_DATABASE_CREATION_GUIDE.md
  NOTION_INTEGRATION_INDEX.md
  NOTION_SYNC_COMPLETE.md
  NOTION_SYNC_GUIDE.md
  QUICK_REFERENCE.md
  README_NOTION_INTEGRATION.md
  TEST_EXECUTION_RESULTS.md
  database/migrations/20250108_notion_sync_tables.sql
  scripts/batch_sync_helper.py
  scripts/configure_env.sh
  scripts/create_notion_databases_from_supabase.py
  scripts/notion_sync_quickstart.sh
  scripts/setup_integration.sh
  scripts/sync_bidirectional.py
  scripts/sync_notion_to_supabase.py
  scripts/test_integration_connection.py
  services/ai-engine/pytest.ini
  services/ai-engine/src/vital_shared/__init__.py
  services/ai-engine/src/vital_shared/interfaces/streaming_service.py
  services/ai-engine/src/vital_shared/services/__init__.py
  services/ai-engine/src/vital_shared/services/tool_service_stub.py
  services/ai-engine/tests/__pycache__/conftest.cpython-313-pytest-7.4.3.pyc
Owners: @vital-path/docs-team, @vital-path/team

feat(tool-orchestration): Complete tool orchestration + hybrid state management
  FINAL_SYNC_REPORT.md
  MASSIVE_PROGRESS_REPORT.md
  SYNC_COMPLETE_STATUS.md
  SYNC_PROGRESS_REPORT.md
  TOOL_ORCHESTRATION_HYBRID_STATE_COMPLETE.md
  scripts/mcp_sync_all.py
  services/ai-engine/src/vital_shared/__init__.py
  services/ai-engine/src/vital_shared/models/__init__.py
  services/ai-engine/src/vital_shared/models/tool.py
  services/ai-engine/src/vital_shared/services/__init__.py
  services/ai-engine/src/vital_shared/services/tool_service.py
  services/ai-engine/src/vital_shared/workflows/base_workflow.py
  services/ai-engine/tests/__pycache__/test_unified_rag_service.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/api/__pycache__/test_endpoints.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/api/__pycache__/test_panel_routes.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint10_push_to_25.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint11_cross_20_push_22.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint12_massive_execution.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint13_final_push_to_25.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint14_fix_and_push_25.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint15_ultimate_push_25.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint16_push_to_22.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint7_healthcare_benchmark.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/critical/__pycache__/test_sprint9_push_to_22.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/domain/__pycache__/test_panel_models.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/integration/__pycache__/test_mode1_manual_interactive.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/security/__pycache__/test_anon_key_rls.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/security/__pycache__/test_tenant_isolation.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/services/__pycache__/test_agent_usage_tracker.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/services/__pycache__/test_consensus_calculator.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/services/__pycache__/test_tenant_aware_supabase.cpython-313-pytest-7.4.3.pyc
  services/ai-engine/tests/workflows/__pycache__/test_simple_panel_workflow.cpython-313-pytest-7.4.3.pyc
Owners: @vital-path/docs-team, @vital-path/team
