Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

Fix streaming response display issue
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Add debugging logs to identify streaming issue
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Add detailed debugging for message content updates
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

CRITICAL FIX: Fix ChatMessages component props mismatch
  src/app/(app)/chat/page.tsx
  src/features/chat/components/chat-messages.tsx
Owners: @vital-path/team

COMPREHENSIVE AUDIT: Add extensive debugging to identify root cause
  src/app/(app)/chat/page.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Fix syntax error in chat page IIFE
  src/app/(app)/chat/page.tsx
Owners: @vital-path/team

Fix syntax error by removing IIFE and simplifying debugging
  src/app/(app)/chat/page.tsx
Owners: @vital-path/team

feat: enhance chat system with improved agent navigation and reasoning
  src/app/(app)/chat/page.tsx
  src/app/api/chat/route.ts
  src/components/ai/reasoning.tsx
  src/features/chat/components/chat-messages.tsx
  src/features/chat/components/nav-ai-agents.tsx
  src/features/chat/services/enhanced-agent-orchestrator.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

✅ Fix RAG upload functionality and resolve Supabase client issues
  package-lock.json
  package.json
  src/app/(app)/chat/page.tsx
  src/app/(app)/knowledge-domains/page.tsx
  src/app/(app)/knowledge/page.tsx
  src/app/api/chat/route.ts
  src/app/api/knowledge/documents/route.ts
  src/app/api/knowledge/process/route.ts
  src/app/api/knowledge/upload/route.ts
  src/app/test-orchestrator/page.tsx
  src/app/test-simple/page.tsx
  src/features/chat/services/automatic-orchestrator.ts
  src/features/chat/services/enhanced-agent-orchestrator.ts
  src/features/knowledge/components/knowledge-uploader.tsx
  src/hooks/useUserRole.ts
  src/lib/optimization/performance-optimizer.ts
  src/lib/services/evidence-pack-builder.ts
  src/lib/services/model-selector.ts
  src/lib/services/tool-registry-service.ts
  src/lib/stores/agents-store.ts
  src/lib/stores/chat-store.ts
  src/lib/supabase/client.ts
  src/llm-provider.service.ts
  src/middleware.ts
  tsconfig.core.json
  tsconfig.deploy.json
  tsconfig.minimal.json
Owners: @vital-path/team, @vital-path/database-team

🔧 Fix production PDF parsing issue with dynamic imports
  src/app/api/knowledge/upload/route.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

feat: Add comprehensive analytics system with 6 API endpoints
  src/app/api/agent-metrics/route.ts
  src/app/api/healthcare-metrics/route.ts
  src/app/api/knowledge/analytics/route.ts
  src/app/api/metrics/route.ts
  src/app/api/rag-metrics/route.ts
  src/app/api/security-metrics/route.ts
  src/middleware.ts
Owners: @vital-path/team

feat: enhance chat services, knowledge processing, and agent selection
  scripts/.cursor/mcp.json
  src/app/api/agents-crud/route.ts
  src/app/api/chat/autonomous/route.ts
  src/app/api/chat/route.ts
  src/app/api/knowledge/process/route.ts
  src/components/ai/agent-selection.tsx
  src/components/ai/reasoning.tsx
  src/features/chat/components/chat-messages.tsx
  src/features/chat/services/automatic-orchestrator.ts
  src/features/knowledge/components/knowledge-uploader.tsx
  src/lib/stores/chat-store.ts
  test/data/05-versions-space.pdf
Owners: @vital-path/team

fix: resolve agent loading and orchestrator selection issues
  .eslintrc.js
  .eslintrc.json
  SUPABASE_AUTH_MIGRATION_GUIDE.md
  eslint.config.mjs
  next.config.js
  package-lock.json
  package.json
  scripts/update-deprecated-packages.js
  src/app/api/llm/available-models/route.ts
  src/app/layout.tsx
  src/features/chat/components/chat-messages.tsx
  src/features/chat/services/automatic-orchestrator.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team, @vital-path/docs-team

fix: enable agent selection click functionality
  DEPRECATED_PACKAGES_UPDATE_SUMMARY.md
  eslint.config.js
  src/components/ai/agent-selection.tsx
  src/features/chat/components/chat-messages.tsx
  src/hooks/useAuth.ts
  src/lib/stores/chat-store.ts
  src/middleware/auth.ts
  src/useAuth.ts
  supabase/.temp/cli-latest
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

fix: remove duplicate agent selection properties causing syntax error
  eslint.config.js
  eslint.config.mjs
  src/hooks/useAuth.ts
  src/lib/stores/chat-store.ts
  src/middleware/auth.ts
  src/useAuth.ts
Owners: @vital-path/team

debug: add logging to agent selection component to debug loading state
  src/components/ai/agent-selection.tsx
  src/useAuth.ts
Owners: @vital-path/team

fix: Add dynamic rendering to analytics API endpoints
  src/app/api/agent-metrics/route.ts
  src/app/api/healthcare-metrics/route.ts
  src/app/api/knowledge/analytics/route.ts
  src/app/api/metrics/route.ts
  src/app/api/rag-metrics/route.ts
  src/app/api/security-metrics/route.ts
Owners: @vital-path/team

fix: Add debugging to automatic orchestrator and create agent population endpoint
  src/app/api/admin/populate-agents/route.ts
  src/features/chat/services/automatic-orchestrator.ts
  src/middleware.ts
Owners: @vital-path/team

feat: redesign reasoning and agent selection components
  src/components/ai/agent-selection.tsx
  src/components/ai/reasoning-old.tsx
  src/components/ai/reasoning.tsx
Owners: @vital-path/team

fix: Resolve 500 error caused by state management issues
  src/components/ai/agent-selection.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: resolve reasoning duplication and agent selection issues
  src/components/ai/reasoning-old.tsx
  src/features/chat/components/chat-messages.tsx
Owners: @vital-path/team

fix: resolve all three UI and functionality issues
  .npmrc
  DEPRECATED_WARNINGS_SOLUTION.md
  package-lock.json
  package.json
  src/components/ai/agent-selection.tsx
  src/features/chat/components/chat-messages.tsx
  vercel.json
Owners: @vital-path/team, @vital-path/docs-team

fix: move tailwindcss and postcss to production dependencies
  package.json
Owners: @vital-path/team

fix: include missing components in tsconfig.core.json for build
  tsconfig.core.json
Owners: @vital-path/team

fix: force clean npm install in Vercel build
  vercel.json
Owners: @vital-path/team

fix: simplify build process to resolve dependency issues
  package.json
  vercel.json
Owners: @vital-path/team

fix: remove autoprefixer dependency to resolve build errors
  package.json
  postcss.config.js
Owners: @vital-path/team

fix: simplify tsconfig.core.json to include all source files
  tsconfig.core.json
Owners: @vital-path/team

fix: improve build configuration for module resolution
  tsconfig.core.json
  vercel.json
Owners: @vital-path/team

fix: force complete rebuild and use main tsconfig
  next.config.js
  vercel.json
Owners: @vital-path/team

fix: resolve build issues with multiple approaches
  next.config.js
  src/app/(app)/agents/create/page.tsx
  src/app/(app)/agents/page.tsx
  vercel.json
Owners: @vital-path/team

fix: improve agent selection functionality and card design
  src/components/ai/agent-selection.tsx
  src/features/chat/components/chat-messages.tsx
Owners: @vital-path/team

fix: add missing sendMessage import to fix agent selection
  src/features/chat/components/chat-messages.tsx
Owners: @vital-path/team

fix: resolve path alias issues in API routes causing SSE errors
  src/app/api/chat/route.ts
  src/features/chat/services/automatic-orchestrator.ts
  src/features/chat/services/enhanced-agent-orchestrator.ts
Owners: @vital-path/team

fix: resolve remaining SSE errors and make agent cards ultra-compact
  src/components/ai/agent-selection.tsx
  src/features/chat/components/chat-messages.tsx
  src/lib/services/agent-ranker.ts
  src/lib/services/dynamic-prompt-generator.ts
  src/lib/services/evidence-pack-builder.ts
  src/lib/services/expert-tools-rag-connector.ts
  src/lib/services/knowledge-domain-detector.ts
  src/lib/services/model-selector.ts
  src/lib/services/prompt-generation-service.ts
  src/lib/services/tool-registry-service.ts
Owners: @vital-path/team

debug: add detailed logging to automatic orchestrator import
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: replace complex orchestrator with simplified agent selection
  src/app/api/chat/route-backup.ts
  src/app/api/chat/route-simple.ts
Owners: @vital-path/team

fix: use existing Supabase client import
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: ensure agent selection interface shows properly
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: prevent AI Orchestrator from responding as selected agent
  src/app/api/chat/route.ts
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
