Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

perf(optimization): Add connection pooling + selective workflow caching
  CONNECTION_POOLING_CACHING_COMPLETE.md
  services/ai-engine/src/vital_shared/utils/connection_pool.py
  services/ai-engine/src/vital_shared/utils/workflow_cache.py
  services/ai-engine/src/vital_shared/workflows/base_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

feat(monitoring): Add comprehensive Prometheus metrics + Grafana dashboards
  AGENT_SYNC_READY_STATUS.md
  COMPLETE_SYNC_STATUS_REPORT.md
  MASSIVE_SYNC_PROGRESS.md
  PYTHON_SCRIPT_GUIDE.md
  WEEK1_MONITORING_COMPLETE.md
  scripts/complete_sync_mcp.py
  services/ai-engine/GRAFANA_DASHBOARDS_ALERTS.md
  services/ai-engine/src/vital_shared/__init__.py
  services/ai-engine/src/vital_shared/monitoring/__init__.py
  services/ai-engine/src/vital_shared/monitoring/metrics.py
  services/ai-engine/src/vital_shared/workflows/base_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

docs(monitoring): Add Week 1 completion summary and next steps
  PHASE3_WEEK1_COMPLETE_NEXT_STEPS.md
Owners: @vital-path/docs-team

feat(monitoring): Add comprehensive user, memory, panel & workflow analytics
  MASSIVE_SYNC_IN_PROGRESS.md
  services/ai-engine/src/vital_shared/monitoring/__init__.py
  services/ai-engine/src/vital_shared/monitoring/metrics.py
Owners: @vital-path/docs-team, @vital-path/team

feat(monitoring): Add Knowledge Analytics + Performance Analytics (Accuracy, Confidence, Latency)
  services/ai-engine/src/vital_shared/monitoring/__init__.py
  services/ai-engine/src/vital_shared/monitoring/metrics.py
Owners: @vital-path/team

feat(monitoring): Add TimescaleDB Integration for unified analytics warehouse
  AGENTS_SYNC_COMPLETE.md
  MONITORING_INTEGRATION_ROADMAP.md
  services/ai-engine/src/vital_shared/__init__.py
  services/ai-engine/src/vital_shared/monitoring/__init__.py
  services/ai-engine/src/vital_shared/monitoring/timescale_integration.py
Owners: @vital-path/docs-team, @vital-path/team

docs(monitoring): Add TimescaleDB integration completion report
  TIMESCALEDB_INTEGRATION_COMPLETE.md
Owners: @vital-path/docs-team

feat(observability): Add LangFuse Tracer for complete LLM observability
  services/ai-engine/src/vital_shared/__init__.py
  services/ai-engine/src/vital_shared/observability/__init__.py
  services/ai-engine/src/vital_shared/observability/langfuse_tracer.py
Owners: @vital-path/team

feat(monitoring): Add Cost Attribution Pipeline - Week 1 COMPLETE!
  SYNC_SEQUENCE_STATUS.md
  services/ai-engine/src/vital_shared/__init__.py
  services/ai-engine/src/vital_shared/monitoring/__init__.py
  services/ai-engine/src/vital_shared/monitoring/cost_attribution.py
Owners: @vital-path/docs-team, @vital-path/team

docs(phase1): Add comprehensive Phase 1 progress report
  COMPLETE_SYNC_SUMMARY.md
  PHASE1_MONITORING_PROGRESS.md
Owners: @vital-path/docs-team

feat(api): Add Metrics API endpoints - Week 2 Day 1-2 COMPLETE!
  CURRENT_SYNC_STATUS.md
  SYNC_DECISION_POINT.md
  TASKS_SYNC_PROGRESS.md
  services/ai-engine/src/api/__init__.py
  services/ai-engine/src/api/metrics_api.py
Owners: @vital-path/docs-team, @vital-path/team

feat(admin): Add AI Engine Monitoring Dashboard - Week 2 Day 3-4 COMPLETE!
  MAJOR_PROGRESS_MILESTONE.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/components/admin/AIEngineMonitoringDashboard.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs(monitoring): Complete Project A documentation - PHASE 1 COMPLETE! 🎉
  PROJECT_A_MONITORING_COMPLETE.md
  TASKS_50_PERCENT_MILESTONE.md
  TASKS_FINAL_SPRINT.md
Owners: @vital-path/docs-team

fix(ask-expert): Fix template literal syntax error for Turbopack
  COMPLETE_SYNC_100_PERCENT.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  services/ai-engine/test_metrics_server.py
Owners: @vital-path/docs-team, @vital-path/team

fix(ask-expert): Fix ALL template literals for Turbopack compatibility
  DATABASE_CLEANUP_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix(ask-expert): Fix ALL remaining string/syntax errors - COMPREHENSIVE
  AGENTS_PINECONE_RECONCILIATION.md
  SUPABASE_PINECONE_RECONCILIATION.md
  apps/digital-health-startup/src/app/(app)/ask-expert/fix_templates.py
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Add comprehensive build fix verification report
  COMPREHENSIVE_BUILD_FIX_COMPLETE.md
Owners: @vital-path/docs-team

fix(metrics-api): Fix Pydantic validation error in CostMetrics model
  services/ai-engine/src/api/metrics_api.py
Owners: @vital-path/team

docs: PROJECT A COMPLETE - Monitoring & Intelligence Integration ✅
  AGENTS_SYNC_COMPLETE.md
  PROJECT_A_COMPLETE_FINAL.md
Owners: @vital-path/docs-team

feat(week3): Parallel Node Execution Design - Day 1-2 Complete
  WEEK3_PARALLEL_EXECUTION_DESIGN.md
Owners: @vital-path/docs-team

feat(week3): Parallel Execution Phase 1 & 2 Complete - Implementation + Monitoring
  services/ai-engine/src/vital_shared/monitoring/__init__.py
  services/ai-engine/src/vital_shared/monitoring/metrics.py
  services/ai-engine/src/vital_shared/workflows/parallel_base_workflow.py
Owners: @vital-path/team

feat(week3): Phase 3 Progress - Mode 1 & 2 Updated with Parallel Execution
  PERSONAS_SYNC_COMPLETE.md
  services/ai-engine/src/langgraph_workflows/modes/mode1_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/modes/mode2_automatic_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

feat(week3): Phase 3 COMPLETE - All 4 Mode Workflows Updated
  PERSONA_ROLE_AGENT_RELATIONSHIPS.md
  services/ai-engine/src/langgraph_workflows/modes/mode3_chat_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/modes/mode4_chat_automatic_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

docs(week3): Comprehensive Implementation Complete Documentation
  PERSONA_ROLE_MAPPING_COMPLETE.md
  WEEK3_PARALLEL_EXECUTION_IMPLEMENTATION_COMPLETE.md
Owners: @vital-path/docs-team

fix(week3): Fix WorkflowState → BaseWorkflowState for parallel workflow
  COMPLETE_ORG_HIERARCHY_MAPPING.md
  ORG_TABLES_CLEANUP_COMPLETE.md
  services/ai-engine/src/tests/test_parallel_workflow.py
  services/ai-engine/src/vital_shared/workflows/parallel_base_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

fix(week3): Replace get_logger with structlog.get_logger
  DIGITAL_HEALTH_ORG_MAPPING.md
  services/ai-engine/src/vital_shared/workflows/parallel_base_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

feat(week3): Unit tests for parallel workflow - 75% complete
  ORG_ROLES_VS_PERSONAS_CLARIFICATION.md
  ORG_STRUCTURE_FINAL_NAMING.md
  ORG_TABLES_PERFECT_NAMING.md
  PERSONA_ROLE_USECASE_INTEGRATION.md
  services/ai-engine/src/tests/test_parallel_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

docs(week3): WEEK 3 COMPLETE - Final Summary & Status Report
  WEEK3_PARALLEL_EXECUTION_COMPLETE_FINAL.md
Owners: @vital-path/docs-team

audit: CRITICAL ISSUES FOUND - Production Readiness Audit Report
  CRITICAL_AUDIT_REPORT.md
  DIGITAL_HEALTH_HIERARCHY_COMPLETE.md
  INDUSTRY_CLASSIFICATION_SYSTEM_COMPLETE.md
Owners: @vital-path/docs-team

fix(parallel): PRODUCTION-READY - All Critical Bugs Fixed
  DH_JTBD_PARSING_COMPLETE.md
  JTBD_LIBRARY_COMPLETE_OVERVIEW.md
  JTBD_ORG_MAPPING_COMPLETE.md
  MULTI_INDUSTRY_ORG_MAPPING_STATUS.md
  data/dh_jtbd_library_20251108_191724.json
  data/dh_jtbd_library_20251108_191724.sql
  data/dh_jtbd_library_20251108_191829.json
  data/dh_jtbd_library_20251108_191829.sql
  scripts/extract_jtbd_simple.py
  scripts/parse_dh_jtbd_library.py
  scripts/parse_jtbd_document.py
  services/ai-engine/src/tests/test_parallel_workflow.py
  services/ai-engine/src/vital_shared/workflows/parallel_base_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

docs(audit): Production Audit Complete Report
  PRODUCTION_AUDIT_COMPLETE.md
Owners: @vital-path/docs-team

test(integration): All 4 Mode Workflows Integration Tests ✅
  DH_PERSONAS_JTBD_SCHEMA_COMPLETE.md
  data/dh_jtbd_library_enhanced_20251108_192510.json
  data/dh_jtbd_library_enhanced_20251108_192510.sql
  scripts/parse_dh_jtbd_library_enhanced.py
  services/ai-engine/src/tests/test_integration_parallel_workflows.py
  supabase/migrations/20251108_create_comprehensive_persona_jtbd_schema.sql
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

docs(final): Parallel Execution - Production Deployment Ready ✅
  PARALLEL_EXECUTION_DEPLOYMENT_READY.md
Owners: @vital-path/docs-team

fix(integration): Fix 6 critical bugs discovered during E2E testing
  DH_JTBD_FIELD_ANALYSIS_COMPLETE.md
  ENABLERS_DEEP_DIVE.md
  INTEGRATION_TEST_COMPLETE.md
  INTEGRATION_TEST_PLAN.md
  JTBD_LIBRARY_GAP_ANALYSIS.md
  scripts/import_dh_personas_jtbds.py
  services/ai-engine/scripts/test_integration_e2e.py
  services/ai-engine/scripts/test_simple_integration.py
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team

chore: configure gitignore to track only essential service code
  .gitignore
Owners: @vital-path/team

feat: add new application features and API routes
  apps/digital-health-startup/src/app/(app)/ask-panel-enhanced/page.tsx
  apps/digital-health-startup/src/app/(app)/personas/[id]/page.tsx
  apps/digital-health-startup/src/app/(app)/personas/enriched/page.tsx
  apps/digital-health-startup/src/app/(app)/personas/page.tsx
  apps/digital-health-startup/src/app/api/admin/migrate-jtbd-uuid/route.ts
  apps/digital-health-startup/src/app/api/mode1/manual/route.ts
  apps/digital-health-startup/src/app/api/personas/[id]/route.ts
  apps/digital-health-startup/src/app/api/personas/route.ts
  apps/digital-health-startup/src/app/api/personas/verify/route.ts
  apps/digital-health-startup/src/app/api/prompts/suites/[suiteId]/subsuites/route.ts
  apps/digital-health-startup/src/app/api/prompts/suites/route.ts
  apps/digital-health-startup/src/app/api/workflows/tasks/route.ts
  apps/digital-health-startup/src/components/personas/EnrichedPersonaCard.tsx
  apps/digital-health-startup/src/components/prompts/PromptDashboard.tsx
  apps/digital-health-startup/src/components/prompts/PromptSidebar.tsx
  apps/digital-health-startup/src/components/prompts/PromptViewManager.tsx
  apps/digital-health-startup/src/components/prompts/SuiteDetailView.tsx
  apps/digital-health-startup/src/components/prompts/views/BoardView.tsx
  apps/digital-health-startup/src/components/prompts/views/ListView.tsx
  apps/digital-health-startup/src/components/prompts/views/TableView.tsx
  apps/digital-health-startup/src/components/workflow-editor/libraries/TaskLibrary.tsx
  apps/digital-health-startup/src/features/ask-expert/components/SourceSkeleton.tsx
  apps/digital-health-startup/src/features/ask-expert/components/VirtualizedSourceList.tsx
  apps/digital-health-startup/src/features/ask-panel/components/CleanTemplateCard.tsx
  apps/digital-health-startup/src/features/ask-panel/components/ManagementTypeCard.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelCustomizer.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelManagementTypes.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelTemplatesLibrary.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelTypeCard.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelTypesShowcase.tsx
  apps/digital-health-startup/src/features/chat/components/ChatInputExample.tsx
  apps/digital-health-startup/src/hooks/usePersonaMappings.ts
  apps/digital-health-startup/src/services/panel-templates-api.ts
  apps/digital-health-startup/src/types/panel.types.ts
  apps/digital-health-startup/src/types/persona-mappings.ts
  apps/digital-health-startup/src/types/prompts.ts
  apps/digital-health-startup/src/types/supabase-generated.ts
  apps/digital-health-startup/supabase/.temp/cli-latest
Owners: @vital-path/team, @vital-path/database-team

chore: add secret-containing backup files to gitignore
  .gitignore
Owners: @vital-path/team

feat: add comprehensive persona/JTBD v3.0 schema and components
  apps/digital-health-startup/src/components/navbar/ROUTING-FIXES.md
  apps/digital-health-startup/src/components/workflow-editor/HIERARCHICAL_WORKFLOWS_README.md
  database/sql/seeds/2025/PRODUCTION_TEMPLATES/00_PREPARATION/COMPLETE_PERSONA_SCHEMA_REFERENCE.md
  database/sql/seeds/2025/PRODUCTION_TEMPLATES/00_foundation/README_ROLE_LOADING_PROCESS.md
  database/sql/seeds/2025/PRODUCTION_TEMPLATES/INDEX.md
  database/sql/seeds/2025/PRODUCTION_TEMPLATES/QUICKSTART.md
  database/sql/seeds/2025/PRODUCTION_TEMPLATES/README_PERSONA_LOADING_PROCESS.md
  database/sql/seeds/2025/PRODUCTION_TEMPLATES/ROLES_SYSTEM_SUMMARY.md
  database/sql/seeds/2025/PRODUCTION_TEMPLATES/SYSTEM_OVERVIEW.md
  scripts/utilities/cleanup-branches-safe.sh
  scripts/utilities/push-to-main.sh
  supabase/migrations/20251117000000_add_comprehensive_persona_jtbd_tables.sql
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

fix: resolve critical and high security vulnerabilities
  apps/ask-panel/package.json
  apps/consulting/package.json
  apps/digital-health-startup/package.json
  apps/marketing/package.json
  apps/payers/package.json
  apps/pharma/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Owners: @vital-path/team

fix: resolve ALL remaining security vulnerabilities (44 → 0)
  apps/ask-panel/package.json
  apps/consulting/package.json
  apps/digital-health-startup/package.json
  apps/marketing/package.json
  apps/payers/package.json
  apps/pharma/package.json
  package.json
  packages/shared/package.json
  pnpm-lock.yaml
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
