Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

fix: resolve useSidebar error by using correct sidebar imports
  README.md
  src/features/chat/components/chat-sidebar.tsx
  src/features/chat/components/nav-rag-categories.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve agent update and icon display issues
  src/app/api/agents/[id]/route.ts
  src/shared/components/ui/agent-avatar.tsx
Owners: @vital-path/team

fix: resolve 403 Supabase storage errors and 500 agents-crud errors
  CLOUD_SETUP_README.md
  scripts/import-agents-from-remote.js
  scripts/setup-supabase.ts
  src/app/(app)/chat/page.tsx
  src/app/api/agents-crud/route.ts
  src/app/api/agents/recommend/route.ts
  src/app/api/chat/autonomous/route.ts
  src/app/api/chat/route.ts
  src/components/ui/enhanced-agent-card.tsx
  src/lib/database/database-service.ts
  src/lib/stores/chat-store.ts
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  src/shared/components/ui/agent-avatar.tsx
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

feat: redesign agent selection cards with 3-column layout
  src/app/(app)/chat/page.tsx
Owners: @vital-path/team

Fix agent cards layout: 3 per row, proper avatars, smaller cards
  src/features/agents/components/agents-board.tsx
Owners: @vital-path/team

Fix avatar display issues in agent view mode
  reports/organizational-structure-analysis-summary.md
  reports/organizational-structure-analysis.json
  reports/verify-avatar-assignments-database-report.json
  reports/verify-avatar-assignments-database-summary.md
  scripts/analyze-organizational-structure.js
  src/app/(app)/chat/page.tsx
  src/app/api/chat/route.ts
  src/components/agents/AgentCapabilitiesDisplay.tsx
  src/components/chat/ChatSidebar.tsx
  src/components/chat/PromptEnhancementModal.tsx
  src/components/chat/minimal-chat-interface.tsx
  src/components/rag/RagKnowledgeBaseSelector.tsx
  src/components/ui/agent-avatar.tsx
  src/features/agents/components/agents-board.tsx
  src/shared/components/agent-avatar.tsx
  src/shared/components/ui/agent-avatar.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve Supabase configuration error in auth context
  src/lib/auth/supabase-auth-context.tsx
Owners: @vital-path/team

feat: implement comprehensive authentication improvements
  src/app/(app)/chat/page.tsx
  src/app/(app)/dashboard/page.tsx
  src/app/layout.tsx
  src/components/auth/auth-error-boundary.tsx
  src/components/auth/auth-loading-screen.tsx
  src/components/auth/client-auth-wrapper.tsx
  src/lib/auth/supabase-auth-context.tsx
Owners: @vital-path/team

fix: resolve Vercel deployment compatibility issues
  package-lock.json
  package.json
  src/components/ai/response.tsx
  src/features/rag/caching/redis-cache-service.ts
  src/lib/services/langgraph-orchestrator.ts
  src/shared/components/ui/ai/code-block.tsx
Owners: @vital-path/team

feat: add comprehensive Vercel environment configuration
  ENVIRONMENT_SETUP.md
  src/lib/services/langgraph-orchestrator.ts
  src/lib/services/redis-config.ts
  src/lib/services/supabase-session-store.ts
  supabase/migrations/20250102000000_create_session_store.sql
  vercel.json
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

feat: add optional Redis caching and LangSmith monitoring features
  DEPLOYMENT_CHECKLIST.md
  OPTIONAL_FEATURES_SETUP.md
  package-lock.json
  package.json
  scripts/enable-langsmith-monitoring.js
  scripts/enable-redis-caching.js
  src/components/monitoring/performance-dashboard.tsx
  src/features/rag/caching/redis-cache-service.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: add comprehensive environment variables setup tools
  QUICK_ENV_SETUP.md
  VERCEL_ENV_SETUP_GUIDE.md
  scripts/add-vercel-env.js
Owners: @vital-path/docs-team, @vital-path/team

Fix organizational structure API to use correct table names
  Departments 53028d9eb38d4371a2cdf97cc8ec9abe_all.csv
  scripts/add-vercel-env.js
  scripts/import-departments-from-csv.js
  scripts/manual-vercel-setup.sh
  src/app/api/organizational-structure/route.ts
Owners: @vital-path/team

Fix organizational structure API column names
  src/app/api/organizational-structure/route.ts
Owners: @vital-path/team

Add Vercel Analytics and Speed Insights for enhanced performance tracking
  PERFORMANCE_TRACKING_DOCUMENTATION.md
  package-lock.json
  package.json
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/app/layout.tsx
  src/lib/auth/supabase-auth-context.tsx
  src/lib/supabase/client.ts
  src/middleware.ts
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

Add Vercel Analytics integration to admin performance dashboard
  src/components/monitoring/performance-dashboard.tsx
  src/components/monitoring/vercel-analytics-dashboard.tsx
Owners: @vital-path/team

Fix organizational structure API column references
  src/app/api/organizational-structure/route.ts
Owners: @vital-path/team

Fix API routes authentication issue
  src/middleware.ts
Owners: @vital-path/team

Fix org_roles query to use only role_name column
  src/app/api/organizational-structure/route.ts
Owners: @vital-path/team

🔐 Fix authentication and profile management
  ADMIN_CLOUD_SETUP.md
  SUPABASE_EMAIL_TROUBLESHOOTING.md
  scripts/import-csv-organizational-data.js
  setup-admin-bypass.sql
  src/app/(app)/layout.tsx
  src/app/(app)/profile/page.tsx
  src/app/dashboard/layout.tsx
  src/lib/auth/supabase-auth-context.tsx
Owners: @vital-path/docs-team, @vital-path/team

Update performance tracking documentation with Vercel Analytics integration
  PERFORMANCE_TRACKING_DOCUMENTATION.md
Owners: @vital-path/docs-team

Remove competency_level column from org_roles query
  src/app/api/organizational-structure/route.ts
Owners: @vital-path/team

Complete organizational structure mapping implementation
  COMPLETE_3_STEP_ORG_MAPPING.md
  ORGANIZATIONAL_STRUCTURE_MAPPING_COMPLETE.md
  scripts/complete-3-step-org-mapping.sql
  scripts/complete-final-mappings.sql
  scripts/complete-org-mapping-3-steps.js
  scripts/complete-org-mapping-corrected.sql
  scripts/complete-org-mapping-final.sql
  scripts/comprehensive-organizational-mappings.sql
  scripts/create-missing-departments.sql
  scripts/create-org-mappings-via-api.js
  scripts/establish-complete-org-mappings.js
  scripts/establish-org-mappings.js
  scripts/execute-org-mappings-via-api.js
  scripts/final-corrected-mappings.sql
  scripts/fix-agents-table-schema.sql
  scripts/import-all-departments-from-csv.js
  scripts/import-csv-organizational-structure.js
  scripts/org-mapping-without-agents.sql
  scripts/organizational-mappings.sql
  scripts/step-by-step-execution.sql
  scripts/update-org-mappings-individual.js
  scripts/update-org-mappings-via-sql.js
  scripts/verify-and-fix-mappings.sql
Owners: @vital-path/docs-team, @vital-path/team

Fix login redirect issue - redirect to home page instead of non-existent dashboard
  src/app/(auth)/login/page.tsx
  src/middleware.ts
Owners: @vital-path/team

Fix login redirect and Quirks Mode issues - add auth state listener and proper HTML structure
  src/app/(auth)/login/page.tsx
  src/app/layout.tsx
Owners: @vital-path/team

Add role-based redirect after login - super admins go to admin dashboard
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

Fix login redirects - super admin to admin dashboard, regular users to platform dashboard, remove dashboard redirect
  src/app/(auth)/login/page.tsx
  src/middleware.ts
Owners: @vital-path/team

Add debugging and timeout fallback to login redirect - handle missing user profiles
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

Fix table name - use 'profiles' instead of 'user_profiles' for login redirect
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

Simplify login redirect - use email-based role detection to avoid RLS issues
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

fix: resolve login stuck in 'Signing in...' state
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

fix: resolve user profile fetching errors
  src/hooks/useAuth.ts
  src/lib/auth/supabase-auth-context.tsx
  src/shared/hooks/useAuth.ts
Owners: @vital-path/team

fix(auth): ensure redirect after login by waiting for Supabase session cookies and using hard navigation to protected routes; add guard to prevent duplicate redirects
  src/app/(auth)/login/page.tsx
Owners: @vital-path/team

fix: Resolve build errors for Vercel deployment
  src/app/admin/api-keys/components/ApiKeyManagementViewer.tsx
  src/app/admin/audit-logs/components/AuditLogViewer.tsx
  src/app/admin/governance/components/ChangeManagement.tsx
  src/services/compliance-reporting.service.ts
Owners: @vital-path/team

fix: Remove calendar dependency from AuditLogFilters
  src/app/admin/audit-logs/components/AuditLogFilters.tsx
Owners: @vital-path/team

fix: Correct services path mapping in tsconfig.json
  tsconfig.json
Owners: @vital-path/team

fix: Resolve remaining build errors for Vercel deployment
  src/app/admin/identity/components/AccessReviewManagement.tsx
  src/app/admin/identity/components/IdentityDashboard.tsx
  src/app/admin/identity/components/ImpersonationManagement.tsx
  src/app/admin/identity/components/MFAManagement.tsx
  src/app/admin/identity/components/SSOManagement.tsx
  src/app/admin/users/components/UserManagementViewer.tsx
Owners: @vital-path/team

fix: Resolve variable name conflicts in API routes
  src/app/api/admin/compliance/reports/route.ts
  src/app/api/admin/health/route.ts
Owners: @vital-path/team

feat: Add comprehensive RBAC testing interface
  src/app/admin/dev-user-switcher/page.tsx
  src/app/admin/rbac-test/page.tsx
  src/app/api/admin/test-permission/route.ts
  src/app/api/admin/test-role/route.ts
  src/components/admin/AdminNav.tsx
  src/lib/security/audit-logger.ts
Owners: @vital-path/team

feat: implement comprehensive RBAC testing system
  admin-complete-plan.md
  admin-dashboard-complete.md
  docs/ADMIN_DASHBOARD_ASSESSMENT.md
  src/app/admin/audit-immutable/components/ImmutableAuditDashboard.tsx
  src/app/admin/audit-immutable/components/IntegrityManagement.tsx
  src/app/admin/audit-immutable/components/SIEMExportManagement.tsx
  src/app/admin/audit-immutable/components/WORMConfigManagement.tsx
  src/app/admin/audit-immutable/page.tsx
  src/app/admin/governance/components/ApprovalWorkflows.tsx
  src/app/admin/identity/page.tsx
  src/app/admin/page.tsx
  src/app/api/admin/governance/changes/[id]/deploy/route.ts
  src/app/api/admin/governance/changes/[id]/review/route.ts
  src/app/api/admin/governance/changes/[id]/rollback/route.ts
  src/app/api/admin/governance/changes/route.ts
  src/app/api/admin/governance/policies/route.ts
  src/lib/auth/supabase-auth-context.tsx
  src/middleware.ts
  src/services/identity-hardening.service.ts
  src/services/immutable-audit.service.ts
Owners: @vital-path/docs-team, @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
