Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

feat: Sprints 10-11! 255 tests, 19.84% coverage! 🚀
  services/ai-engine/tests/critical/test_sprint10_push_to_25.py
  services/ai-engine/tests/critical/test_sprint11_cross_20_push_22.py
Owners: @vital-path/team

feat: Sprints 10-11! 255 tests, 19.84% coverage! 🚀
  services/ai-engine/tests/critical/test_sprint10_push_to_25.py
  services/ai-engine/tests/critical/test_sprint11_cross_20_push_22.py
Owners: @vital-path/team

feat: Sprint 12! 313 tests, 19.91% coverage! 🔥
  services/ai-engine/tests/critical/test_sprint12_massive_execution.py
Owners: @vital-path/team

feat: Sprint 12! 313 tests, 19.91% coverage! 🔥
  services/ai-engine/tests/critical/test_sprint12_massive_execution.py
Owners: @vital-path/team

feat: Sprint 13 FINAL! 461 tests, 19.91% coverage! 🎉🎉🎉
  FINAL_TESTING_ACHIEVEMENT_461_TESTS.md
  services/ai-engine/tests/critical/test_sprint13_final_push_to_25.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Sprint 13 FINAL! 461 tests, 19.91% coverage! 🎉🎉🎉
  FINAL_TESTING_ACHIEVEMENT_461_TESTS.md
  services/ai-engine/tests/critical/test_sprint13_final_push_to_25.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Sprints 14-15! 20% HEALTHCARE MINIMUM ACHIEVED! 🎉🏥
  services/ai-engine/tests/critical/test_sprint14_fix_and_push_25.py
  services/ai-engine/tests/critical/test_sprint15_ultimate_push_25.py
Owners: @vital-path/team

feat: Sprints 14-15! 20% HEALTHCARE MINIMUM ACHIEVED! 🎉🏥
  services/ai-engine/tests/critical/test_sprint14_fix_and_push_25.py
  services/ai-engine/tests/critical/test_sprint15_ultimate_push_25.py
Owners: @vital-path/team

feat: Sprint 16! 475 tests, 20.09% coverage maintained! 🏥✅
  services/ai-engine/tests/critical/test_sprint16_push_to_22.py
Owners: @vital-path/team

feat: Sprint 16! 475 tests, 20.09% coverage maintained! 🏥✅
  services/ai-engine/tests/critical/test_sprint16_push_to_22.py
Owners: @vital-path/team

docs: 20% HEALTHCARE MINIMUM ACHIEVED! Complete Summary 🏥✅🎉
  20_PERCENT_HEALTHCARE_ACHIEVED.md
Owners: @vital-path/docs-team

docs: 20% HEALTHCARE MINIMUM ACHIEVED! Complete Summary 🏥✅🎉
  20_PERCENT_HEALTHCARE_ACHIEVED.md
Owners: @vital-path/docs-team

fix: Add autoprefixer and exclude problematic pages for Vercel deployment
  apps/digital-health-startup/.vercelignore
  apps/digital-health-startup/package.json
  pnpm-lock.yaml
Owners: @vital-path/team

fix: Add autoprefixer and exclude problematic pages for Vercel deployment
  apps/digital-health-startup/.vercelignore
  apps/digital-health-startup/package.json
  pnpm-lock.yaml
Owners: @vital-path/team

fix: Add sentry-sdk to Python requirements for Railway deployment
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix: Add sentry-sdk to Python requirements for Railway deployment
  services/ai-engine/requirements.txt
Owners: @vital-path/team

docs: PRE-DEPLOYMENT AUDIT - Critical Issues Found ⚠️🔴
  PRE_DEPLOYMENT_AUDIT_REPORT.md
Owners: @vital-path/docs-team

docs: PRE-DEPLOYMENT AUDIT - Critical Issues Found ⚠️🔴
  PRE_DEPLOYMENT_AUDIT_REPORT.md
Owners: @vital-path/docs-team

docs: FRONTEND FIX PLAN - Systematic Approach 🛠️✅
  FRONTEND_FIX_PLAN.md
Owners: @vital-path/docs-team

docs: FRONTEND FIX PLAN - Systematic Approach 🛠️✅
  FRONTEND_FIX_PLAN.md
Owners: @vital-path/docs-team

docs: Knowledge Section Analysis & Attempted Fix 🛠️⚠️
  DEV_SERVER_RUNNING.md
  KNOWLEDGE_SECTION_FIX_PLAN.md
  WORKFLOWS_RESTORED.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge-domains/page.tsx
  apps/digital-health-startup/src/components/admin/OverviewDashboard.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Knowledge Section Analysis & Attempted Fix 🛠️⚠️
  DEV_SERVER_RUNNING.md
  KNOWLEDGE_SECTION_FIX_PLAN.md
  WORKFLOWS_RESTORED.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge-domains/page.tsx
  apps/digital-health-startup/src/components/admin/OverviewDashboard.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: Add mounted check and WorkflowFlowVisualizer component
  SENTRY_INSTALLED_SUCCESS.md
  apps/digital-health-startup/package.json
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge-domains/page.tsx.bak
  apps/digital-health-startup/src/app/(app)/workflows/[code]/page.tsx
  apps/digital-health-startup/src/components/admin/UserManagement.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/components/workflow-flow.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainBasicInfo.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainDetailsDialog.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainEditForm.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainMetadata.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainModelConfig.tsx
  apps/digital-health-startup/src/features/knowledge/components/index.ts
  pnpm-lock.yaml
Owners: @vital-path/docs-team, @vital-path/team

fix: Add mounted check and WorkflowFlowVisualizer component
  SENTRY_INSTALLED_SUCCESS.md
  apps/digital-health-startup/package.json
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge-domains/page.tsx.bak
  apps/digital-health-startup/src/app/(app)/workflows/[code]/page.tsx
  apps/digital-health-startup/src/components/admin/UserManagement.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/components/workflow-flow.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainBasicInfo.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainDetailsDialog.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainEditForm.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainMetadata.tsx
  apps/digital-health-startup/src/features/knowledge/components/DomainModelConfig.tsx
  apps/digital-health-startup/src/features/knowledge/components/index.ts
  pnpm-lock.yaml
Owners: @vital-path/docs-team, @vital-path/team

fix: Add client-side hydration check to UnifiedDashboardLayout to fix appendChild error
  apps/digital-health-startup/src/components/dashboard/unified-dashboard-layout.tsx
Owners: @vital-path/team

fix: Add client-side hydration check to UnifiedDashboardLayout to fix appendChild error
  apps/digital-health-startup/src/components/dashboard/unified-dashboard-layout.tsx
Owners: @vital-path/team

fix: Make OpenAI client initialization lazy in agent-recommendation-engine
  CACHE_CLEARED_SERVER_RESTART.md
  HYDRATION_ERROR_FIXED.md
  KNOWLEDGE_SECTION_REFACTOR_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/components/admin/AgentManagement.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/features/ask-panel/services/agent-recommendation-engine.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: Make OpenAI client initialization lazy in agent-recommendation-engine
  CACHE_CLEARED_SERVER_RESTART.md
  HYDRATION_ERROR_FIXED.md
  KNOWLEDGE_SECTION_REFACTOR_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/components/admin/AgentManagement.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/features/ask-panel/services/agent-recommendation-engine.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: Add support for multiple LLM providers and create comprehensive environment template
  ENV_TEMPLATE.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/components/admin/PromptManagement.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/types/environment.d.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: Add support for multiple LLM providers and create comprehensive environment template
  ENV_TEMPLATE.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/components/admin/PromptManagement.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/types/environment.d.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Add comprehensive multi-LLM setup guide and environment template
  MULTI_LLM_COMPLETE.md
  MULTI_LLM_SETUP_GUIDE.md
Owners: @vital-path/docs-team

docs: Add comprehensive multi-LLM setup guide and environment template
  MULTI_LLM_COMPLETE.md
  MULTI_LLM_SETUP_GUIDE.md
Owners: @vital-path/docs-team

docs: Add Vercel environment variables quick reference guide
  COMPONENT_REFACTORING_PLAYBOOK.md
  VERCEL_ENV_QUICK_REFERENCE.md
  apps/digital-health-startup/src/components/admin/ToolManagement.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Add Vercel environment variables quick reference guide
  COMPONENT_REFACTORING_PLAYBOOK.md
  VERCEL_ENV_QUICK_REFERENCE.md
  apps/digital-health-startup/src/components/admin/ToolManagement.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Add complete session summary with all fixes and next steps
  COMPLETE_SESSION_SUMMARY.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Add complete session summary with all fixes and next steps
  COMPLETE_SESSION_SUMMARY.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: Wrap Sonner Toaster in client component to fix SSR appendChild error
  apps/digital-health-startup/src/app/layout.tsx
  apps/digital-health-startup/src/components/toaster-wrapper.tsx
Owners: @vital-path/team

fix: Wrap Sonner Toaster in client component to fix SSR appendChild error
  apps/digital-health-startup/src/app/layout.tsx
  apps/digital-health-startup/src/components/toaster-wrapper.tsx
Owners: @vital-path/team

docs: Agents Section Analysis - 6 Components Need Refactoring 📊🔴
  AGENTS_SECTION_ANALYSIS.md
Owners: @vital-path/docs-team

docs: Agents Section Analysis - 6 Components Need Refactoring 📊🔴
  AGENTS_SECTION_ANALYSIS.md
Owners: @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
