Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

debug: Add comprehensive logging for reasoning component visibility
  src/app/(app)/ask-expert/page.tsx
  src/components/chat/enhanced-reasoning-display.tsx
Owners: @vital-path/team

fix: Use correct API endpoint for reasoning events
  src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

fix: Connect ReasoningDisplay to state and add beautiful styling
  src/app/globals.css
  src/components/chat/reasoning-display.tsx
  src/components/chat/redesigned-chat-container.tsx
Owners: @vital-path/team

fix: Transform reasoning events to display clean formatted text
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: Display clean formatted reasoning text instead of raw JSON
  src/components/chat/reasoning-display.tsx
Owners: @vital-path/team

feat: Complete Memory Manager and Evidence Verifier services
  AUTONOMOUS_AGENT_IMPLEMENTATION_COMPLETE.md
  autonomous-agent-implementation.plan.md
  debug-workflow.js
  package-lock.json
  package.json
  src/agents/core/conflict-resolver.ts
  src/app/api/autonomous/tasks/route.ts
  src/app/api/chat/autonomous/route.ts
  src/components/autonomous/autonomous-control-panel.tsx
  src/components/autonomous/progress-dashboard.tsx
  src/components/autonomous/task-visualizer.tsx
  src/components/ui/select.tsx
  src/components/ui/shadcn-io/ai/actions.tsx
  src/features/autonomous/autonomous-orchestrator.ts
  src/features/autonomous/autonomous-state.ts
  src/features/autonomous/autonomous-workflow-nodes.ts
  src/features/autonomous/enhanced-ask-expert-graph.ts
  src/features/autonomous/evidence-verifier.ts
  src/features/autonomous/goal-extractor.ts
  src/features/autonomous/memory-manager.ts
  src/features/autonomous/safety-manager.ts
  src/features/autonomous/task-executor.ts
  src/features/autonomous/task-generator.ts
Owners: @vital-path/docs-team, @vital-path/team

test: Add comprehensive Phase 6 test suite for autonomous agents
  PHASE_6_TESTING_STATUS.md
  jest.config.js
  src/features/autonomous/__tests__/autonomous-integration.test.ts
  src/features/autonomous/__tests__/evidence-verifier.test.ts
  src/features/autonomous/__tests__/memory-manager.test.ts
  src/features/autonomous/__tests__/setup.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: Complete VERIFY protocol integration with autonomous evidence verification
  src/features/autonomous/__tests__/evidence-verifier.test.ts
  src/features/autonomous/__tests__/memory-manager.test.ts
  src/features/autonomous/autonomous-orchestrator.ts
  src/features/autonomous/evidence-verifier.ts
  src/features/autonomous/memory-manager.ts
  src/features/autonomous/verify-protocol-integration.ts
Owners: @vital-path/team

feat: Complete Phase 7 - UI Integration with Autonomous Mode
  src/app/(app)/chat/page.tsx
  src/components/chat/autonomous-mode-toggle.tsx
  src/components/chat/autonomous-task-progress.tsx
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
  src/hooks/use-autonomous-mode.ts
Owners: @vital-path/team

docs: update plan with complete audit results and final status
  AUDIT_REPORT.md
  DEPLOYMENT_SUMMARY.md
  autonomous-agent-implementation.plan.md
Owners: @vital-path/docs-team

feat: implement advanced features for production-ready autonomous agents
  LANGCHAIN_LANGGRAPH_AUDIT.md
  package.json
  src/app/api/autonomous/analytics/route.ts
  src/app/api/autonomous/load-balancer/route.ts
  src/features/autonomous/__tests__/advanced-features.test.ts
  src/features/autonomous/analytics.ts
  src/features/autonomous/enhanced-tool-schemas.ts
  src/features/autonomous/load-balancer.ts
  src/features/autonomous/redis-cache.ts
  src/features/autonomous/retry-logic.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve critical audit issues - tool registry, race conditions, and test configuration
  AUDIT_FIXES_IMPLEMENTATION_REPORT.md
  src/features/autonomous/__tests__/advanced-features.test.ts
  src/features/autonomous/__tests__/autonomous-integration-enhanced.test.ts
  src/features/autonomous/__tests__/autonomous-integration.test.ts
  src/features/autonomous/__tests__/complex-scenarios.test.ts
  src/features/autonomous/__tests__/evidence-verifier.test.ts
  src/features/autonomous/__tests__/memory-manager.test.ts
  src/features/autonomous/__tests__/monitoring-system.test.ts
  src/features/autonomous/__tests__/performance-optimizer.test.ts
  src/features/autonomous/autonomous-orchestrator.ts
  src/features/autonomous/logger.ts
  src/features/autonomous/task-executor.ts
  src/features/autonomous/tool-registry.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve TypeError 'Cannot read properties of undefined (reading map)'
  src/app/(app)/ask-expert/page.tsx
  src/components/chat/VitalChatInterface.tsx
Owners: @vital-path/team

fix: resolve root cause of TypeError 'Cannot read properties of undefined (reading map)'
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
Owners: @vital-path/team

fix: add missing automatic and autonomous mode toggles to chat interface
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
Owners: @vital-path/team

fix: resolve message sending issue and add debug logging
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
Owners: @vital-path/team

fix: resolve API 400 error, restore prompt starters, and hide duplicate sidebar
  src/app/(app)/chat/page.tsx
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: restore chat history sidebar and hide agent selection sidebar
  src/app/(app)/chat/page.tsx
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
Owners: @vital-path/team

debug: add logging to autonomous API to diagnose 405 error
  src/app/api/chat/autonomous/route.ts
Owners: @vital-path/team

fix: resolve 405 error by replacing broken autonomous route with working version
  src/app/api/chat/autonomous/route-broken.ts
  src/app/api/chat/autonomous/route.ts
Owners: @vital-path/team

feat: restore streaming and reasoning functionality to autonomous API
  src/app/api/chat/autonomous/route.ts
Owners: @vital-path/team

fix: correct reasoning event format and add debug logging
  src/app/api/chat/autonomous/route.ts
Owners: @vital-path/team

fix: comprehensive solution for reasoning steps not appearing
  src/app/api/chat/autonomous/route.ts
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

CRITICAL FIX: Remove hardcoded ADHD content, use actual user query
  src/app/api/chat/autonomous/route.ts
Owners: @vital-path/team

feat: implement real AI-powered analysis instead of hardcoded templates
  src/app/api/chat/autonomous/route.ts
Owners: @vital-path/team

feat: implement comprehensive ReAct loop with task management
  src/app/api/chat/autonomous/route.ts
Owners: @vital-path/team

fix: resolve streaming issue in autonomous mode
  src/app/api/chat/autonomous/route.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

feat: Complete Ask Expert backend fixes and 4-mode implementation
  backend/node-gateway/dist/server_simple.js
  backend/node-gateway/package-lock.json
  backend/node-gateway/src/routes/ask-expert.ts
  backend/node-gateway/src/server_simple.ts
  backend/node-gateway/src/types/expert-consultation.ts
Owners: @vital-path/team

feat: Replace Ask Expert page with same sidebar interface as chat view
  src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

fix: Replace complex API routes with simple mock implementations
  src/app/api/chat/autonomous/route.ts
  src/app/api/chat/route-complex.ts
  src/app/api/chat/route-simple.ts
  src/app/api/chat/route.ts
Owners: @vital-path/team

feat: Implement enhanced streaming transparency and reasoning visualization
  src/app/api/chat/autonomous/route.ts
  src/app/api/expert-consultation/stream/[sessionId]/route.ts
  src/features/expert-consultation/components/LiveReasoningView.tsx
  src/features/expert-consultation/components/PhaseIndicator.tsx
  src/features/expert-consultation/components/ReasoningStepCard.tsx
  src/features/expert-consultation/hooks/useReasoningStream.ts
  src/lib/stores/chat-store.ts
  src/types/reasoning.ts
Owners: @vital-path/team

feat: Integrate reasoning steps directly into chat message flow like AutoGPT
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
  src/features/expert-consultation/components/ReasoningMessage.tsx
Owners: @vital-path/team

feat: Transform reasoning display to streaming text flow with icons
  src/features/expert-consultation/components/ReasoningMessage.tsx
Owners: @vital-path/team

feat: Display detailed reasoning content with visual design and final results
  src/features/expert-consultation/components/ReasoningMessage.tsx
Owners: @vital-path/team

feat: Create clean flowing text display for detailed reasoning content
  src/features/expert-consultation/components/ReasoningMessage.tsx
Owners: @vital-path/team

fix: Correct data mapping for detailed reasoning content display
  src/components/chat/enhanced-chat-container-with-autonomous.tsx
  src/features/expert-consultation/components/ReasoningMessage.tsx
Owners: @vital-path/team

feat: Add detailed reasoning streaming to Interactive mode
  src/app/api/chat/route-simple.ts
Owners: @vital-path/team

fix: Update main chat route with detailed reasoning streaming
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: Resolve 500 error in API routes
  src/app/api/chat/autonomous/route.ts
  src/app/api/chat/route.ts
  src/app/globals.css
  src/components/chat/unified-chat-sidebar.tsx
  src/lib/services/streaming-proxy.ts
Owners: @vital-path/team

docs: Add testing checklist results
  TESTING_CHECKLIST_RESULTS.md
Owners: @vital-path/docs-team
