Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

docs: Add complete session summary for TypeScript error fixing
  TYPESCRIPT_FIXES_COMPLETE_SESSION_SUMMARY.md
Owners: @vital-path/docs-team

docs: Add complete session summary for TypeScript error fixing
  TYPESCRIPT_FIXES_COMPLETE_SESSION_SUMMARY.md
Owners: @vital-path/docs-team

fix: Replace server Supabase client with browser client in agent-graph-service
  ASK_EXPERT_HEADER_STANDARDIZATION.md
  COMPLETE_HEADER_STANDARDIZATION.md
  DESIGN_SYSTEM_UNIFIED.md
  HONEST_BUILD_AUDIT.md
  PAGEHEADER_COMPONENT_APPLIED.md
  PAGE_HEADER_STANDARDIZATION.md
  WEBSEARCH_TOOL_FIX.md
  apps/digital-health-startup/src/app/(app)/agents/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge/page.tsx
  apps/digital-health-startup/src/app/(app)/solution-builder/page.tsx
  apps/digital-health-startup/src/app/(app)/tools/page.tsx
  apps/digital-health-startup/src/app/(app)/workflows/page.tsx
  apps/digital-health-startup/src/components/page-header.tsx
  apps/digital-health-startup/src/lib/services/agents/agent-graph-service.ts
  services/ai-engine/src/tools/web_tools.py
Owners: @vital-path/docs-team, @vital-path/team

fix: Replace server Supabase client with browser client in agent-graph-service
  ASK_EXPERT_HEADER_STANDARDIZATION.md
  COMPLETE_HEADER_STANDARDIZATION.md
  DESIGN_SYSTEM_UNIFIED.md
  HONEST_BUILD_AUDIT.md
  PAGEHEADER_COMPONENT_APPLIED.md
  PAGE_HEADER_STANDARDIZATION.md
  WEBSEARCH_TOOL_FIX.md
  apps/digital-health-startup/src/app/(app)/agents/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/(app)/dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/knowledge/page.tsx
  apps/digital-health-startup/src/app/(app)/solution-builder/page.tsx
  apps/digital-health-startup/src/app/(app)/tools/page.tsx
  apps/digital-health-startup/src/app/(app)/workflows/page.tsx
  apps/digital-health-startup/src/components/page-header.tsx
  apps/digital-health-startup/src/lib/services/agents/agent-graph-service.ts
  services/ai-engine/src/tools/web_tools.py
Owners: @vital-path/docs-team, @vital-path/team

fix: Remove ioredis from unified-rag-service (browser compatibility)
  ASK_EXPERT_AUDIT.md
  ASK_EXPERT_COMPREHENSIVE_AUDIT.md
  BUILD_FIX_ARCHITECTURE_PLAN.md
  IOREDIS_REMOVAL_EXPLANATION.md
  MODE1_TOOL_FIXES.md
  SUPABASE_SINGLETON_FIX.md
  apps/digital-health-startup/next.config.js
  apps/digital-health-startup/src/app/(app)/langgraph-studio/page.tsx
  apps/digital-health-startup/src/app/(app)/workflow-designer/page.tsx
  apps/digital-health-startup/src/app/api/admin/knowledge-domains/[id]/route.ts
  apps/digital-health-startup/src/app/api/agents/[id]/stats/route.ts
  apps/digital-health-startup/src/app/api/analytics/dashboard/route.ts.bak
  apps/digital-health-startup/src/app/api/backup/chat-route-original.ts.bak
  apps/digital-health-startup/src/app/api/executions/[id]/stream/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/execute/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/route.ts
  apps/digital-health-startup/src/components/ui/slider.tsx
  apps/digital-health-startup/src/lib/services/rag/unified-rag-service.ts
  apps/digital-health-startup/src/lib/supabase/client.ts
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

fix: Remove ioredis from unified-rag-service (browser compatibility)
  ASK_EXPERT_AUDIT.md
  ASK_EXPERT_COMPREHENSIVE_AUDIT.md
  BUILD_FIX_ARCHITECTURE_PLAN.md
  IOREDIS_REMOVAL_EXPLANATION.md
  MODE1_TOOL_FIXES.md
  SUPABASE_SINGLETON_FIX.md
  apps/digital-health-startup/next.config.js
  apps/digital-health-startup/src/app/(app)/langgraph-studio/page.tsx
  apps/digital-health-startup/src/app/(app)/workflow-designer/page.tsx
  apps/digital-health-startup/src/app/api/admin/knowledge-domains/[id]/route.ts
  apps/digital-health-startup/src/app/api/agents/[id]/stats/route.ts
  apps/digital-health-startup/src/app/api/analytics/dashboard/route.ts.bak
  apps/digital-health-startup/src/app/api/backup/chat-route-original.ts.bak
  apps/digital-health-startup/src/app/api/executions/[id]/stream/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/execute/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/route.ts
  apps/digital-health-startup/src/components/ui/slider.tsx
  apps/digital-health-startup/src/lib/services/rag/unified-rag-service.ts
  apps/digital-health-startup/src/lib/supabase/client.ts
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

fix: Complete ioredis removal from unified-rag-service
  apps/digital-health-startup/src/lib/services/rag/unified-rag-service.ts
Owners: @vital-path/team

fix: Complete ioredis removal from unified-rag-service
  apps/digital-health-startup/src/lib/services/rag/unified-rag-service.ts
Owners: @vital-path/team

feat: Update Modes 2, 3, 4 to use database-backed tool registry and verify RAG services
  MODES_2_3_4_TOOLS_UPDATED.md
  RAG_SERVICES_VERIFICATION.md
  TOOLS_ASSIGNED_TO_AGENTS.md
  services/ai-engine/src/langgraph_workflows/mode2_interactive_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/mode3_autonomous_auto_workflow.py
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Update Modes 2, 3, 4 to use database-backed tool registry and verify RAG services
  MODES_2_3_4_TOOLS_UPDATED.md
  RAG_SERVICES_VERIFICATION.md
  TOOLS_ASSIGNED_TO_AGENTS.md
  services/ai-engine/src/langgraph_workflows/mode2_interactive_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/mode3_autonomous_auto_workflow.py
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

fix: Fix Next.js 16 params syntax errors in API routes
  apps/digital-health-startup/src/app/api/agents/[id]/stats/route.ts
  apps/digital-health-startup/src/app/api/executions/[id]/stream/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/execute/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/route.ts
Owners: @vital-path/team

fix: Fix Next.js 16 params syntax errors in API routes
  apps/digital-health-startup/src/app/api/agents/[id]/stats/route.ts
  apps/digital-health-startup/src/app/api/executions/[id]/stream/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/execute/route.ts
  apps/digital-health-startup/src/app/api/workflows/[id]/route.ts
Owners: @vital-path/team

fix: Mode 1 LangGraph streaming - backend SSE serialization and frontend updates mode handler
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/mode2_automatic_workflow.py
  services/ai-engine/src/langgraph_workflows/mode2_interactive_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/state_schemas.py
  services/ai-engine/src/main.py
Owners: @vital-path/team

feat: integrate Shadcn AI components for reasoning and sources
  apps/digital-health-startup/src/components/ai/ai-reasoning-panel.tsx
  apps/digital-health-startup/src/components/ai/collapsible-sources.tsx
  apps/digital-health-startup/src/components/ui/button.tsx
  apps/digital-health-startup/src/components/ui/select.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/actions.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/branch.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/code-block.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/conversation.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/image.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/inline-citation.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/loader.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/message.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/prompt-input.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/reasoning.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/response.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/source.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/suggestion.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/task.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/tool.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/web-preview.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/code-block/index.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/code-block/server.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
  pnpm-lock.yaml
Owners: @vital-path/team

fix: remove AnimatePresence wrapper from Reasoning component
  SHADCN_AI_COMPONENTS_COMPLETE.md
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: update Shadcn AI component imports to use @vital/ui
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/actions.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/branch.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/code-block.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/conversation.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/image.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/inline-citation.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/loader.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/message.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/prompt-input.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/reasoning.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/response.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/source.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/suggestion.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/task.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/tool.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/web-preview.tsx
Owners: @vital-path/team

fix: standardize all Shadcn AI component imports to @vital/ui
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/actions.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/branch.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/code-block.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/conversation.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/message.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/prompt-input.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/reasoning.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/source.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/suggestion.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/task.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/tool.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/web-preview.tsx
Owners: @vital-path/team

feat: add Carousel component to UI package
  packages/ui/package.json
  packages/ui/src/components/carousel.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Owners: @vital-path/team, @vital-path/frontend-team

fix: add missing InlineCitationCarouselControls component
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/inline-citation.tsx
Owners: @vital-path/team

fix: correct Conversation component imports and utils path
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
Owners: @vital-path/team

docs: add comprehensive Ask Expert frontend audit report
  ASK_EXPERT_FRONTEND_AUDIT.md
Owners: @vital-path/docs-team

feat: add comprehensive Ask Expert performance optimization
  ASK_EXPERT_OPTIMIZATION_GUIDE.md
  ASK_EXPERT_PERFORMANCE_PLAN.md
  apps/digital-health-startup/src/components/skeletons/ask-expert-skeletons.tsx
  apps/digital-health-startup/src/lib/hooks/use-conversations-optimistic.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: allow JSX children in ReasoningContent component
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/reasoning.tsx
Owners: @vital-path/team

fix: persist AI reasoning and workflow steps after streaming completes
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

feat: replace workflow steps with real-time AI reasoning from LangGraph nodes
  AGENT_UPDATE_UX_IMPROVEMENTS.md
  AGENT_USER_ID_AUDIT_COMPLETE.md
  ASK_EXPERT_4_MODES_VISUAL_MATRIX.md
  MIDDLEWARE_FIX_SUMMARY.md
  QUICK_FIX_GUIDE_AGENT_USER_ID.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  scripts/fix_user_profiles_user_id.sql
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

fix: handle 'final' event from format_output node to ensure chat completion renders
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

fix: extract source metadata from nested RAG service structure (Issue #4)
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/team

feat: use Shadcn AI inline-citation component with pill-style badges (Issue #5)
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/inline-citation.tsx
Owners: @vital-path/team

docs: comprehensive summary of all 5 issues resolved
  ALL_5_ISSUES_RESOLVED.md
Owners: @vital-path/docs-team

fix: remove duplicate component definitions in inline-citation.tsx
  apps/digital-health-startup/src/components/ui/shadcn-io/ai/inline-citation.tsx
Owners: @vital-path/team

fix: remove workflowSteps reference causing runtime error
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

fix: remove all workflowSteps references from Mode 1 frontend
  REFACTORING_PLAN.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/docs-team, @vital-path/team

fix: remove nested AI Reasoning components - use single per-message reasoning
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/team

docs: add Mode 1 Gold Standard status and refactoring plan
  MODE1_GOLD_STANDARD_STATUS.md
Owners: @vital-path/docs-team

fix: remove duplicate 'AI Thinking' heading under reasoning trigger
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
Owners: @vital-path/team

docs: comprehensive Mode 1 UX enhancement plan and implementation guide
  MODE1_FIXES_SUMMARY.md
  MODE1_UX_ENHANCEMENTS.md
Owners: @vital-path/docs-team

fix: Phase 1 - Critical AI Reasoning and Insight fixes
  MODE1_ROOT_CAUSE_ANALYSIS.md
  apps/digital-health-startup/package.json
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  pnpm-lock.yaml
  services/ai-engine/src/langgraph_workflows/mode1_manual_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

docs: comprehensive progress report and remaining implementation guide
  MODE1_PROGRESS_REPORT.md
Owners: @vital-path/docs-team

feat: Complete Mode 1 UX overhaul - all 6 issues fixed
  MODE1_FINAL_SUMMARY.md
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: add visual before/after summary for all Mode 1 fixes
  MODE1_VISUAL_SUMMARY.md
Owners: @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
