Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

fix: add fallback agents and better error handling
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: remove agent limit and add fallback query
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: correct agent suggestions data property
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: use real database agents instead of fallback agents
  src/app/api/chat/route.ts
Owners: @vital-path/team

debug: add comprehensive database connection debugging
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: use service role key in API routes to bypass RLS
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: comprehensive data structure and agent count issues
  src/app/api/agents-crud/route.ts
  src/app/api/chat/route.ts
  src/components/ai/agent-selection.tsx
  src/components/ui/enhanced-agent-card.tsx
  src/features/agents/components/agents-board.tsx
Owners: @vital-path/team

debug: add comprehensive capabilities normalization debugging
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: implement proper agent processing with Langchain integration
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: limit agent suggestions to top 3 agents only
  src/app/api/chat/route.ts
Owners: @vital-path/team

perf: optimize loading time and improve agent responses
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: remove agent response pattern and enable conversation continuation
  src/app/api/chat/route.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: comprehensive audit and fix of agent response patterns and conversation flow
  src/app/api/chat/route.ts
  src/features/chat/components/chat-messages.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: enable conversation continuation after agent selection
  src/features/chat/components/chat-messages.tsx
Owners: @vital-path/team

feat: redesign with simplified auto-agent selection flow
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: implement correct agent selection flow as requested
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: implement proper agent response generation with Langchain integration
  src/app/api/chat/route.ts
Owners: @vital-path/team

fix: Resolve LangGraph workflow _interrupt_ node error
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

fix: Replace 'Thinking...' with reasoning component and fix no response issue
  src/components/ai/reasoning.tsx
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

fix: Replace 'I am thinking...' with 'Reasoning...' and fix duplication
  src/components/ai/reasoning.tsx
  src/features/chat/components/chat-messages.tsx
Owners: @vital-path/team

feat: Create enhanced chat container with real-time LangGraph reasoning
  package-lock.json
  package.json
  src/app/(app)/chat-enhanced/page.tsx
  src/components/chat/enhanced-chat-container.tsx
  src/components/ui/chat-container.tsx
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team

feat: implement dynamic reasoning system with real-time LangChain workflow tracking
  src/components/ai/dynamic-reasoning.tsx
  src/components/chat/enhanced-chat-container.tsx
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: integrate dynamic reasoning into main chat page
  src/app/(app)/chat/page.tsx
Owners: @vital-path/team

fix: manual mode workflow and agent selection
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: stepIndex variable scope error in DynamicReasoning component
  src/components/ai/dynamic-reasoning.tsx
Owners: @vital-path/team

Fix streaming response issues
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
  src/useStreamingResponse.ts
Owners: @vital-path/team

Fix Manual Mode Interactive chat issues
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team

Fix TypeScript errors and improve Manual Mode workflow
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

Fix Manual Mode issues: JSON truncation, workflow routing, and reasoning steps
  LANGCHAIN_IMPLEMENTATION_AUDIT_REPORT.md
  langchain-langgraph-multi-agent-modes.plan.md
  src/agents/core/conflict-resolver.ts
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/docs-team, @vital-path/team

Fix Manual Mode interactionMode not being passed to API
  src/app/api/chat/route.ts
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Set manual mode as default and add debugging for workflow execution
  src/features/chat/services/ask-expert-graph.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Fix LangGraph stream event processing - use correct state structure
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

Add comprehensive debugging to track workflow execution
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

feat: apply cyberpunk theme to platform
  src/app/globals.css
  tailwind.config.ts
Owners: @vital-path/team

Add detailed debugging to processWithAgentNormalNode
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team

Fix manual mode agent selection requirement
  src/app/api/chat/route.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Add agent selection UI for manual mode
  src/app/(app)/chat/page.tsx
  src/components/chat/enhanced-chat-container.tsx
Owners: @vital-path/team

Fix interactionMode import in enhanced-chat-container
  src/components/chat/enhanced-chat-container.tsx
Owners: @vital-path/team

Phase 0: Critical security and bug fixes
  CHAT_REDESIGN_PLAN_AUDIT.md
  src/features/chat/services/ask-expert-graph.ts
  src/lib/stores/chat-store.ts
  src/lib/supabase/server-only.ts
  src/types/sse.types.ts
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

Phase 0.4: Add comprehensive stream error handling
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
