Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

docs: Railway deployment verification guide
  RAILWAY_DEPLOYMENT_VERIFICATION.md
Owners: @vital-path/docs-team

docs: AutoGPT Implementation Cross-Check Report - 100% COMPLETE
  AUTOGPT_IMPLEMENTATION_CROSSCHECK.md
Owners: @vital-path/docs-team

docs: HONEST AutoGPT Assessment - No BS Reality Check
  HONEST_AUTOGPT_ASSESSMENT.md
Owners: @vital-path/docs-team

feat: Add Golden Rule #6 - Honest Assessment Only (No BS)
  GOLDEN_RULES_MASTER_PLAN.md
Owners: @vital-path/docs-team

fix: Railway crash - Pydantic v2 reserved keyword llm_config
  services/ai-engine/src/models/responses.py
Owners: @vital-path/team

docs: Railway crash postmortem and Pydantic v2 reserved keywords guide
  RAILWAY_CRASH_DEBUG.md
Owners: @vital-path/docs-team

docs: Complete Railway DEV + STAGING deployment setup guide
  RAILWAY_DEV_STAGING_SETUP.md
Owners: @vital-path/docs-team

docs: Quick start checklist for Railway DEV + STAGING setup
  RAILWAY_DEPLOYMENT_CHECKLIST.md
Owners: @vital-path/docs-team

fix: Force Docker cache bust to rebuild with Pydantic v2 fix
  services/ai-engine/Dockerfile
Owners: @vital-path/team

fix: Force Railway to re-clone repo (stale Git cache)
  services/ai-engine/Dockerfile
Owners: @vital-path/team

trigger: Railway reconnected to GitHub - trigger fresh deployment
  services/ai-engine/Dockerfile
Owners: @vital-path/team

fix: Correct indentation in unified_rag_service.py - SyntaxError resolved
  services/ai-engine/src/services/unified_rag_service.py
Owners: @vital-path/team

fix: Add comment to force Railway cache bust - SyntaxError line 156 fix
  services/ai-engine/src/services/unified_rag_service.py
Owners: @vital-path/team

fix: NUCLEAR OPTION - Force Railway to rebuild from scratch (Docker cache stuck on broken syntax)
  services/ai-engine/Dockerfile
Owners: @vital-path/team

feat: Add comprehensive database schema for agent orchestration, workflows, and knowledge domains
  database/sql/migrations/2025/20251101121500_create_template_and_skill_registries.sql
  database/sql/migrations/2025/20251101123000_unique_ids_and_task_resource_assignments.sql
  database/sql/migrations/2025/20251101124000_prompt_suite_registry.sql
  database/sql/migrations/2025/20251101124500_agent_store_registry.sql
  database/sql/migrations/2025/20251101125000_agent_prompt_starters.sql
  database/sql/migrations/2025/20251101125500_prompt_agent_capabilities.sql
  database/sql/migrations/2025/20251101130000_knowledge_domain_registry.sql
  database/sql/seeds/2025/20251101130500_seed_knowledge_domains.sql
  database/sql/seeds/knowledge_domains_full.json
Owners: @vital-path/team

test: Add comprehensive unit tests for UnifiedRAGService
  services/ai-engine/tests/test_unified_rag_service.py
Owners: @vital-path/team

fix: Add migration to handle existing knowledge_domains schema
  database/sql/migrations/2025/20251101130001_fix_knowledge_domains_schema.sql
Owners: @vital-path/team

fix: Handle UUID vs TEXT type mismatch in knowledge_domains
  database/sql/migrations/2025/20251101130001_fix_knowledge_domains_schema.sql
  database/sql/seeds/2025/20251101130501_seed_knowledge_domains_uuid.sql
Owners: @vital-path/team

fix: Add code column handling for knowledge_domains
  database/sql/migrations/2025/20251101130001_fix_knowledge_domains_schema.sql
  database/sql/seeds/2025/20251101130501_seed_knowledge_domains_uuid.sql
Owners: @vital-path/team

fix: Add slug column handling for knowledge_domains
  RAG_WORK_COMPLETED.md
  database/sql/migrations/2025/20251101130001_fix_knowledge_domains_schema.sql
  database/sql/seeds/2025/20251101130501_seed_knowledge_domains_uuid.sql
Owners: @vital-path/docs-team, @vital-path/team

fix: Handle domain_name unique constraint in seed file
  database/sql/seeds/2025/20251101130501_seed_knowledge_domains_uuid.sql
Owners: @vital-path/team

feat: Implement Redis caching for RAG service (Golden Rule #3)
  database/sql/migrations/2025/20251101131200_update_knowledge_domain_metadata.sql
  database/sql/seeds/2025/20251101131500_seed_rag_sources_and_mappings.sql
  services/ai-engine/REDIS_CACHING_IMPLEMENTATION.md
  services/ai-engine/src/main.py
  services/ai-engine/src/services/unified_rag_service.py
  services/ai-engine/test_redis_caching.py
Owners: @vital-path/team, @vital-path/docs-team

docs: Add Redis caching completion summary
  database/sql/seeds/2025/20251101131500_seed_rag_sources_and_mappings.sql
  services/ai-engine/REDIS_CACHING_COMPLETE.md
Owners: @vital-path/team, @vital-path/docs-team

feat: Implement real web tools with Supabase tool registry (Option A)
  database/sql/migrations/2025/20251102_create_tools_registry.sql
  database/sql/seeds/2025/20251101131500_seed_rag_sources_and_mappings.sql
  database/sql/seeds/2025/20251102_seed_core_tools.sql
  services/ai-engine/requirements.txt
  services/ai-engine/src/services/tool_registry_service.py
  services/ai-engine/src/tools/web_tools.py
Owners: @vital-path/team

feat: Add comprehensive tools registry with medical/research APIs
  TOOLS_DATABASE_SETUP.md
  database/sql/migrations/2025/20251101131200_update_knowledge_domain_metadata.sql
  database/sql/migrations/2025/20251102_fix_and_create_tools.sql
  database/sql/seeds/2025/20251102_link_tools_to_agents.sql
  database/sql/seeds/2025/20251102_seed_all_tools.sql
  drop_old_tools.sql
  services/ai-engine/WEB_TOOLS_COMPLETE.md
Owners: @vital-path/docs-team, @vital-path/team

feat(tools): Add AI tool-task linking system
  TOOLS_DATABASE_SETUP.md
  database/sql/seeds/2025/20251101131500_seed_rag_sources_and_mappings.sql
  database/sql/seeds/2025/20251102_link_ai_tools_to_tasks.sql
Owners: @vital-path/docs-team, @vital-path/team

docs: Add comprehensive task-tool linking system documentation
  TASK_TOOL_LINKING_COMPLETE.md
Owners: @vital-path/docs-team

feat(tools): Initialize tool registry and implement medical research tools
  database/sql/seeds/2025/20251101131500_seed_rag_sources_and_mappings.sql
  services/ai-engine/src/main.py
  services/ai-engine/src/tools/medical_research_tools.py
Owners: @vital-path/team

docs: Add comprehensive tools implementation status and setup script
  TOOLS_IMPLEMENTATION_STATUS.md
  setup_tools_database.sh
Owners: @vital-path/docs-team, @vital-path/team

docs: Add comprehensive Supabase database schema documentation
  CROSS_REFERENCE_AUDIT_ALL_PLANS.md
  CURRENT_POSITION_SUMMARY.md
  DEPLOYMENT_READINESS_REPORT.md
  FINAL_COMPREHENSIVE_AUDIT_ALL_DOCUMENTS.md
  GOLDEN_RULES_MASTER_PLAN.md
  HONEST_AUDIT_GOLDEN_RULES_COMPLIANCE.md
  HONEST_DEPLOYMENT_CHECKLIST.md
  PLAN_UPDATE_SUMMARY_NOV2_2025.md
  SECURITY_CHECKLIST.md
  SUPABASE_DATABASE_SCHEMA.md
  database/sql/migrations/2025/20251102_create_persona_agent_separation.sql
  database/sql/seeds/2025/01_all_domains_and_usecases.sql
  database/sql/seeds/2025/02_usecases_workflows.sql
  database/sql/seeds/2025/03_cd_005_pro_selection_tasks.sql
  database/sql/seeds/2025/20251102_seed_cd_personas.sql
  database/sql/seeds/2025/20251102_seed_clinical_development_roles.sql
  services/ai-engine/5_DAY_IMPLEMENTATION_PLAN.md
  services/ai-engine/DAY_1_COMPLETION_REPORT.md
  services/ai-engine/DEPLOYMENT_READINESS_REPORT.md
  services/ai-engine/TESTING_PROGRESS_REPORT.md
  services/ai-engine/security_audit.py
  services/ai-engine/src/middleware/admin_auth.py
  services/ai-engine/src/middleware/rate_limiting.py
  services/ai-engine/src/monitoring/performance_monitor.py
  services/ai-engine/src/tests/integration/test_all_modes_integration.py
  services/ai-engine/src/tests/test_autonomous_controller.py
  services/ai-engine/src/tests/test_memory_integration.py
  services/ai-engine/src/tests/test_mode3_workflow.py
  services/ai-engine/src/tests/test_mode4_workflow.py
  services/ai-engine/src/tests/test_tool_chain_executor.py
  services/ai-engine/src/tools/medical_research_tools.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Add comprehensive PRISM prompt table identification queries
  PRISM_PROMPT_TABLE_IDENTIFICATION.sql
Owners: @vital-path/team

fix: resolve import errors - pinecone, copyright_checker, timeout_handler, web_tools
  services/ai-engine/src/langgraph_workflows/tool_chain_mixin.py
  services/ai-engine/src/services/copyright_checker.py
  services/ai-engine/src/services/data_sanitizer.py
  services/ai-engine/src/services/resilience.py
  services/ai-engine/src/services/unified_rag_service.py
Owners: @vital-path/team

fix: resolve remaining import errors - agent_selector, List typing, function order
  ALL_TODOS_COMPLETE.md
  DEPLOYMENT_READY_FINAL_STATUS.md
  ENVIRONMENT_VARIABLES_GUIDE.md
  MIGRATION_GUIDE_VERCEL_TO_RAILWAY.md
  PRE_DEPLOYMENT_CHECKLIST.md
  QUICK_DEPLOY_COMMANDS.md
  RAILWAY_DEPLOYMENT_GUIDE.md
  database/sql/seeds/2025/00_foundation_agents.sql
  database/sql/seeds/2025/01_foundation_personas.sql
  database/sql/seeds/2025/01_foundation_personas.sql.broken
  database/sql/seeds/2025/02_foundation_tools.sql
  database/sql/seeds/2025/03_cd_005_pro_selection_tasks.sql.backup
  database/sql/seeds/2025/03_cd_005_pro_selection_tasks.sql.bak2
  database/sql/seeds/2025/03_foundation_rag_sources.sql
  database/sql/seeds/2025/04_foundation_kpis.sql
  database/sql/seeds/2025/06_cd_001_endpoint_selection_CLEAN.sql
  database/sql/seeds/2025/06_cd_001_endpoint_selection_part1.sql
  database/sql/seeds/2025/06_cd_001_endpoint_selection_part1.sql.backup_wf
  database/sql/seeds/2025/06_cd_001_endpoint_selection_part1_CURRENT_BROKEN.sql
  database/sql/seeds/SEED_SCHEMA_REFERENCE.md
  services/ai-engine/.env.template
  services/ai-engine/COMPREHENSIVE_TESTING_REPORT.md
  services/ai-engine/SETUP_BOTH_LOCAL_AND_RAILWAY.md
  services/ai-engine/TESTING_STATUS_UPDATE_RAILWAY_ISSUES.md
  services/ai-engine/requirements.txt
  services/ai-engine/src/langgraph_workflows/mode1_interactive_auto_workflow.py
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team

fix: update test parameter names (current_cost -> current_cost_usd)
  database/sql/seeds/USECASE_SEED_TEMPLATE.sql
  services/ai-engine/src/tests/test_autonomous_controller.py
Owners: @vital-path/team

docs: add comprehensive testing status report
  TESTING_STATUS_COMPREHENSIVE.md
Owners: @vital-path/docs-team

fix: local environment fully operational
  CURRENT_STATUS_COMPREHENSIVE.md
  FINAL_STATUS_TESTING_DEPLOYMENT.md
  SUCCESS_LOCAL_ENVIRONMENT_RUNNING.md
  database/sql/seeds/2025/07_cd_002_biomarker_validation.sql
  database/sql/seeds/2025/07_cd_002_biomarker_validation_part2.sql
  database/sql/seeds/2025/SEED_STATUS_AND_TEMPLATES.md
  database/sql/seeds/2025/UC_CD_002_FOUNDATION_STATUS.md
  database/sql/seeds/QUICK_REFERENCE.md
  database/sql/seeds/SEED_SCHEMA_REFERENCE.md
  services/ai-engine/start.py
Owners: @vital-path/docs-team, @vital-path/team

docs: backend services configuration complete
  BACKEND_SERVICES_STATUS.md
  FINAL_STATUS_ALL_SERVICES_CONFIGURED.md
Owners: @vital-path/docs-team

fix: supabase database connection - all services now working
  services/ai-engine/src/services/supabase_client.py
Owners: @vital-path/team

docs: backend services configuration complete
  .gitignore
  SUCCESS_ALL_DATABASE_FEATURES_WORKING.md
Owners: @vital-path/team, @vital-path/docs-team

chore: cleanup - remove .env files and update documentation
  database/sql/seeds/2025/05_foundation_prompts.sql
  database/sql/seeds/2025/05_foundation_prompts_SCHEMA_CHECK.md
  database/sql/seeds/2025/05_foundation_prompts_SUMMARY.md
  database/sql/seeds/2025/SEED_STATUS_AND_TEMPLATES.md
  services/ai-engine/.env.database
Owners: @vital-path/team, @vital-path/docs-team
