Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

Phase 1: Install shadcn UI components
  package-lock.json
  package.json
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/sonner.tsx
Owners: @vital-path/team

Phase 2: Create new chat UI components
  package-lock.json
  package.json
  src/app/(app)/chat/page.tsx
  src/app/framework/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/platform/page.tsx
  src/app/services/page.tsx
  src/components/chat/agent-selection-panel.tsx
  src/components/chat/chat-container.tsx
  src/components/chat/message-bubble.tsx
  src/components/chat/reasoning-display.tsx
  src/components/ui/alert.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/hooks/use-toast.ts
Owners: @vital-path/team

Phase 3: Integrate agent selection with chat store
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Phase 4: Refine streaming and reasoning display
  src/components/chat/chat-container.tsx
  src/components/chat/reasoning-display.tsx
  src/hooks/useStreamingResponse.ts
Owners: @vital-path/team

Fix import path errors
  src/app/page.tsx
  src/auto-scroll-chat.tsx
  src/batch-upload-panel.tsx
  src/chat-messages.tsx
  src/code-block.tsx
  src/components/agents/AgentConfigurationExample.tsx
  src/components/chat/ChatContainer.tsx
  src/components/chat/VitalChatInterface.tsx
  src/components/chat/WelcomeScreen.tsx
  src/components/chat/response/StreamingMarkdown.tsx
  src/components/dashboard/dashboard-main.tsx
  src/components/enhanced/EnhancedChatInterface.tsx
  src/components/landing/landing-page.tsx
  src/components/rag/RAGPerformanceWidget.tsx
  src/features/chat/components/enhanced-chat-input.tsx
  src/master-orchestrator.ts
  src/message-actions.tsx
  src/message.tsx
  src/model-selector.tsx
  src/resizable.tsx
  src/simple-conversation.tsx
  src/simple-message.tsx
  src/streaming-markdown.tsx
  src/suggestions.tsx
  src/supabase-rag-service.ts
  src/thinking-block.tsx
  src/useContextualQuickActions.ts
Owners: @vital-path/team

Fix use-toast import path issue
  src/components/chat/chat-container.tsx
  src/components/ui/toaster.tsx
Owners: @vital-path/team

Fix runtime error: remove toast from dependency array
  src/components/chat/chat-container.tsx
Owners: @vital-path/team

Fix input state missing from chat store
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Consolidate sidebars: Remove chat sidebar, enhance global sidebar
  src/app/(app)/chat/page.tsx
Owners: @vital-path/team

feat: redesign public pages with unified landing page and apply cyberpunk theme
  src/app/(app)/chat/page.tsx
  src/app/(app)/layout.tsx
  src/app/page.tsx
  src/components/chat/chat-container.tsx
  src/contexts/chat-context.tsx
  src/features/dashboard/components/dashboard-sidebar.tsx
Owners: @vital-path/team

feat: apply cyberpunk theme to landing page navigation and hero section
  src/app/page.tsx
Owners: @vital-path/team

fix: replace VitalLogo with custom logo component
  src/app/page.tsx
Owners: @vital-path/team

feat: implement chat frontend redesign with MCP server components
  package-lock.json
  package.json
  src/app/(app)/chat/page.tsx
  src/components/chat/agent-selection-panel.tsx
  src/components/chat/message-bubble.tsx
  src/components/chat/reasoning-display.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/lib/stores/chat-store.ts
  src/lib/supabase/server-only.ts
  src/types/sse.types.ts
Owners: @vital-path/team, @vital-path/database-team

feat: implement comprehensive LangChain/LangGraph/RAG improvements
  src/app/(app)/chat/page.tsx
  src/app/api/knowledge/upload/route.ts
  src/components/chat/README.md
  src/components/chat/agent-selection-panel.tsx
  src/components/chat/chat-header.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/components/monitoring/performance-dashboard.tsx
  src/features/chat/agents/autonomous-expert-agent.ts
  src/features/chat/parsers/structured-output.ts
  src/features/chat/services/enhanced-langchain-service.ts
  src/features/chat/services/memory-manager.ts
  src/lib/monitoring/performance-monitor.ts
  src/lib/services/agent-ranker.ts
  src/lib/services/expert-tools-rag-connector.ts
  src/lib/services/expert-tools.ts
  src/lib/services/knowledge-domain-detector.ts
  src/lib/stores/chat-store.ts
  src/lib/utils/circuit-breaker.ts
  src/lib/utils/embedding-cache.ts
  src/lib/utils/retry.ts
  supabase/migrations/20241220_create_chat_sessions.sql
Owners: @vital-path/team, @vital-path/docs-team, @vital-path/database-team

feat: integrate EnhancedAgentCard and unify agent store
  src/app/(app)/chat/page.tsx
  src/components/chat/agent-selection-panel.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

feat: implement comprehensive chat and agent management sidebar
  src/app/(app)/chat/page.tsx
  src/components/chat/enhanced-chat-sidebar.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

feat: fix all sidebar functionalities and enhance design
  src/components/chat/enhanced-chat-sidebar.tsx
Owners: @vital-path/team

feat: dramatically improve agent cards for easy adding
  src/components/chat/enhanced-chat-sidebar.tsx
Owners: @vital-path/team

feat: enable agent store integration for chat functionality
  src/components/chat/enhanced-chat-sidebar.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

feat: implement ChatGPT-style centered input layout
  src/components/chat/chat-input.tsx
  src/components/chat/redesigned-chat-container.tsx
Owners: @vital-path/team

fix: resolve agent selection error and implement proper avatar rendering
  package-lock.json
  package.json
  src/components/chat/enhanced-chat-sidebar.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

feat: implement enhanced prompt input with shadcn UI and proper avatars
  src/components/chat/chat-input.tsx
  src/components/chat/enhanced-prompt-input.tsx
  src/components/chat/message-bubble.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/components/ui/button.tsx
  src/components/ui/select.tsx
  src/components/ui/shadcn-io/ai/actions.tsx
  src/components/ui/shadcn-io/ai/branch.tsx
  src/components/ui/shadcn-io/ai/code-block.tsx
  src/components/ui/shadcn-io/ai/conversation.tsx
  src/components/ui/shadcn-io/ai/image.tsx
  src/components/ui/shadcn-io/ai/inline-citation.tsx
  src/components/ui/shadcn-io/ai/loader.tsx
  src/components/ui/shadcn-io/ai/message.tsx
  src/components/ui/shadcn-io/ai/prompt-input.tsx
  src/components/ui/shadcn-io/ai/reasoning.tsx
  src/components/ui/shadcn-io/ai/response.tsx
  src/components/ui/shadcn-io/ai/source.tsx
  src/components/ui/shadcn-io/ai/suggestion.tsx
  src/components/ui/shadcn-io/ai/task.tsx
  src/components/ui/shadcn-io/ai/tool.tsx
  src/components/ui/shadcn-io/ai/web-preview.tsx
  src/components/ui/shadcn-io/code-block/index.tsx
  src/components/ui/shadcn-io/code-block/server.tsx
Owners: @vital-path/team

fix: add debugging for manual mode input lock issue
  src/app/demo/streaming-markdown/page.tsx
  src/app/test-markdown/page.tsx
  src/components/chat/chat-input.tsx
  src/components/chat/enhanced-prompt-input.tsx
Owners: @vital-path/team

fix: resolve selectedModel ReferenceError causing app crash
  src/components/chat/redesigned-chat-container.tsx
Owners: @vital-path/team

fix: ensure EnhancedPromptInput shows and add debugging for input lock
  src/components/chat/redesigned-chat-container.tsx
Owners: @vital-path/team

fix: unlock input unconditionally and always use EnhancedPromptInput
  src/components/chat/chat-input.tsx
  src/components/chat/enhanced-prompt-input.tsx
  src/components/chat/redesigned-chat-container.tsx
Owners: @vital-path/team

fix: unlock input field by removing disabled={!canSend} from ChatInput
  src/components/chat/chat-input.tsx
Owners: @vital-path/team

fix: resolve sendMessage errors with null/undefined checks
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Fix undefined messages array errors in chat components
  chat-redesign-implementation.plan.md
  src/components/chat/ChatContainer.tsx
  src/components/chat/VitalChatInterface.tsx
  src/components/chat/chat-container.tsx
  src/components/chat/enhanced-chat-container.tsx
  src/components/chat/enhanced-chat-sidebar.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/features/knowledge/components/knowledge-analytics-dashboard.tsx
Owners: @vital-path/docs-team, @vital-path/team

Add debugging for agent selection and null reference issues
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Add comprehensive debugging for agent selection state synchronization
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Add debugging to sidebar agent selection and global store access
  src/components/chat/enhanced-chat-sidebar.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

Add prompt starters and fix agent selection synchronization
  src/components/chat/agent-prompt-starters.tsx
  src/components/chat/enhanced-chat-sidebar.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/components/ui/prompt-suggestion.tsx
Owners: @vital-path/team

🔧 CRITICAL FIX: Add proper state reducer for selectedAgent in LangGraph workflow
  src/features/chat/services/ask-expert-graph.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

🔍 DEBUG: Add comprehensive debugging for agent selection flow
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
  src/features/knowledge/components/knowledge-analytics-dashboard.tsx
Owners: @vital-path/team

🔍 DEBUG: Add comprehensive debugging for agent selection and chat loading
  src/components/chat/redesigned-chat-container.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

🔧 FIX: Make chat container dynamically update based on selected agent
  src/components/chat/enhanced-chat-sidebar.tsx
  src/components/chat/redesigned-chat-container.tsx
Owners: @vital-path/team

🔧 MAJOR FIX: Add multiple agent selection and persistence support
  src/components/chat/enhanced-chat-sidebar.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

🔧 CRITICAL FIX: Fix selectedAgent null issue in backend workflow
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team

🎯 CRITICAL FIX: Use agent-specific configuration in workflow execution
  src/features/chat/services/enhanced-langchain-service.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team
