Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

docs: Phase 3 progress - 17% coverage achieved! 🎯
  PHASE3_IN_PROGRESS_17_PERCENT.md
Owners: @vital-path/docs-team

docs: Phase 3 progress - 17% coverage achieved! 🎯
  PHASE3_IN_PROGRESS_17_PERCENT.md
Owners: @vital-path/docs-team

feat: Add 21 high-value service tests - 68 tests passing!
  services/ai-engine/tests/critical/test_high_value_services.py
Owners: @vital-path/team

feat: Add 21 high-value service tests - 68 tests passing!
  services/ai-engine/tests/critical/test_high_value_services.py
Owners: @vital-path/team

docs: Phase 3 complete - 17.29% coverage SUCCESS! 🎉
  PHASE3_SUCCESS_17_PERCENT.md
Owners: @vital-path/docs-team

docs: Phase 3 complete - 17.29% coverage SUCCESS! 🎉
  PHASE3_SUCCESS_17_PERCENT.md
Owners: @vital-path/docs-team

feat: Add 21 infrastructure tests - 89 tests passing!
  services/ai-engine/tests/critical/test_infrastructure_layer.py
Owners: @vital-path/team

feat: Add 21 infrastructure tests - 89 tests passing!
  services/ai-engine/tests/critical/test_infrastructure_layer.py
Owners: @vital-path/team

feat: Final coverage push - 105 tests passing, 17.71%!
  services/ai-engine/tests/critical/test_final_coverage_push.py
Owners: @vital-path/team

feat: Final coverage push - 105 tests passing, 17.71%!
  services/ai-engine/tests/critical/test_final_coverage_push.py
Owners: @vital-path/team

docs: Complete testing journey - 17.71% coverage! 🎉
  TESTING_JOURNEY_COMPLETE.md
Owners: @vital-path/docs-team

docs: Complete testing journey - 17.71% coverage! 🎉
  TESTING_JOURNEY_COMPLETE.md
Owners: @vital-path/docs-team

docs: Final comprehensive testing journey report! 🎉
  TESTING_JOURNEY_FINAL.md
Owners: @vital-path/docs-team

docs: Final comprehensive testing journey report! 🎉
  TESTING_JOURNEY_FINAL.md
Owners: @vital-path/docs-team

feat: Sprint 2 complete - 127 tests passing!
  services/ai-engine/tests/critical/test_sprint2_coverage.py
Owners: @vital-path/team

feat: Sprint 2 complete - 127 tests passing!
  services/ai-engine/tests/critical/test_sprint2_coverage.py
Owners: @vital-path/team

docs: Final milestone - 127 tests passing, production ready! 🎉
  TESTING_FINAL_MILESTONE.md
Owners: @vital-path/docs-team

docs: Final milestone - 127 tests passing, production ready! 🎉
  TESTING_FINAL_MILESTONE.md
Owners: @vital-path/docs-team

feat: Sprint 3 & 4 complete - 142 tests, 17.82% coverage! 🎉
  services/ai-engine/tests/critical/test_sprint3_4_execution.py
Owners: @vital-path/team

feat: Sprint 3 & 4 complete - 142 tests, 17.82% coverage! 🎉
  services/ai-engine/tests/critical/test_sprint3_4_execution.py
Owners: @vital-path/team

docs: Complete final testing report - 142 tests, 17.82%! 🎉
  TESTING_COMPLETE_FINAL_REPORT.md
Owners: @vital-path/docs-team

docs: Complete final testing report - 142 tests, 17.82%! 🎉
  TESTING_COMPLETE_FINAL_REPORT.md
Owners: @vital-path/docs-team

feat: Sprint 5 complete - 151 tests, 18% coverage! 🎉🎉
  services/ai-engine/tests/critical/test_sprint5_working.py
Owners: @vital-path/team

feat: Sprint 5 complete - 151 tests, 18% coverage! 🎉🎉
  services/ai-engine/tests/critical/test_sprint5_working.py
Owners: @vital-path/team

docs: Sprint 5 complete summary - 18% milestone! 🎉
  SPRINT5_COMPLETE_18_PERCENT.md
Owners: @vital-path/docs-team

docs: Sprint 5 complete summary - 18% milestone! 🎉
  SPRINT5_COMPLETE_18_PERCENT.md
Owners: @vital-path/docs-team

Add Sentry error tracking, E2E tests, and automated backup system
  CRITICAL_GAPS_ACTION_PLAN.md
  CRITICAL_GAPS_IMPLEMENTATION_STATUS.md
  CRITICAL_GAPS_SESSION_COMPLETE.md
  MONITORING_STACK_SETUP.md
  SENTRY_BACKEND_READY.md
  SENTRY_COMPLETE.md
  SENTRY_SETUP_COMPLETE.md
  apps/digital-health-startup/e2e/ask-expert.spec.ts
  apps/digital-health-startup/e2e/auth.spec.ts
  apps/digital-health-startup/e2e/dashboard.spec.ts
  apps/digital-health-startup/instrumentation.ts
  apps/digital-health-startup/sentry.client.config.ts
  apps/digital-health-startup/sentry.edge.config.ts
  apps/digital-health-startup/sentry.server.config.ts
  docs/operations/DISASTER_RECOVERY.md
  scripts/backup-database.sh
  scripts/restore-database.sh
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team

Add Sentry error tracking, E2E tests, and automated backup system
  CRITICAL_GAPS_ACTION_PLAN.md
  CRITICAL_GAPS_IMPLEMENTATION_STATUS.md
  CRITICAL_GAPS_SESSION_COMPLETE.md
  MONITORING_STACK_SETUP.md
  SENTRY_BACKEND_READY.md
  SENTRY_COMPLETE.md
  SENTRY_SETUP_COMPLETE.md
  apps/digital-health-startup/e2e/ask-expert.spec.ts
  apps/digital-health-startup/e2e/auth.spec.ts
  apps/digital-health-startup/e2e/dashboard.spec.ts
  apps/digital-health-startup/instrumentation.ts
  apps/digital-health-startup/sentry.client.config.ts
  apps/digital-health-startup/sentry.edge.config.ts
  apps/digital-health-startup/sentry.server.config.ts
  docs/operations/DISASTER_RECOVERY.md
  scripts/backup-database.sh
  scripts/restore-database.sh
  services/ai-engine/src/main.py
Owners: @vital-path/docs-team, @vital-path/team

fix: Quick win complete! Fixed 6 failing tests - 157 tests, 18% coverage! 🎉
  services/ai-engine/tests/critical/test_sprint5_working.py
Owners: @vital-path/team

fix: Quick win complete! Fixed 6 failing tests - 157 tests, 18% coverage! 🎉
  services/ai-engine/tests/critical/test_sprint5_working.py
Owners: @vital-path/team

feat: Sprint 6 complete! 172 tests, 19% coverage achieved! 🎉🎉🎉
  services/ai-engine/tests/critical/test_sprint6_20_percent.py
Owners: @vital-path/team

feat: Sprint 6 complete! 172 tests, 19% coverage achieved! 🎉🎉🎉
  services/ai-engine/tests/critical/test_sprint6_20_percent.py
Owners: @vital-path/team

docs: FINAL MILESTONE - 19% coverage complete! 🎉🎉🎉
  FINAL_19_PERCENT_MILESTONE.md
Owners: @vital-path/docs-team

docs: FINAL MILESTONE - 19% coverage complete! 🎉🎉🎉
  FINAL_19_PERCENT_MILESTONE.md
Owners: @vital-path/docs-team

feat: Sprint 7 complete! 180 tests, 19.50% coverage! 🎉🎉
  services/ai-engine/tests/critical/test_sprint7_healthcare_benchmark.py
Owners: @vital-path/team

feat: Sprint 7 complete! 180 tests, 19.50% coverage! 🎉🎉
  services/ai-engine/tests/critical/test_sprint7_healthcare_benchmark.py
Owners: @vital-path/team

docs: HEALTHCARE BENCHMARK ACHIEVED! 19.50% coverage! 🏥🎉
  HEALTHCARE_BENCHMARK_ACHIEVED.md
Owners: @vital-path/docs-team

docs: HEALTHCARE BENCHMARK ACHIEVED! 19.50% coverage! 🏥🎉
  HEALTHCARE_BENCHMARK_ACHIEVED.md
Owners: @vital-path/docs-team

feat: Sprints 8-9! 200 tests, 19.77% coverage! 🎉
  services/ai-engine/tests/critical/test_sprint8_push_to_20.py
  services/ai-engine/tests/critical/test_sprint9_push_to_22.py
Owners: @vital-path/team

feat: Sprints 8-9! 200 tests, 19.77% coverage! 🎉
  services/ai-engine/tests/critical/test_sprint8_push_to_20.py
  services/ai-engine/tests/critical/test_sprint9_push_to_22.py
Owners: @vital-path/team
