Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

feat: Phase 7 - Comprehensive testing suite and E2E testing
  apps/digital-health-startup/MODE1_IMPLEMENTATION_COMPLETE.md
Owners: @vital-path/docs-team

feat: Complete Phase 7 - E2E testing results and final documentation
  apps/digital-health-startup/MODE1_E2E_TEST_RESULTS.md
Owners: @vital-path/docs-team

docs: Final Mode 1 production readiness summary and documentation
  apps/digital-health-startup/MODE1_PRODUCTION_READY_SUMMARY.md
Owners: @vital-path/docs-team

fix: Complete LangSmith removal and fix async Prometheus export
  OBSERVABILITY_INTEGRATION_SUMMARY.md
  apps/digital-health-startup/src/lib/services/observability/structured-logger.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: Add production deployment infrastructure for agent operations
  DEPLOYMENT_PRODUCTION_CHECKLIST.md
  monitoring/grafana/dashboards/agent-operations.json
  monitoring/prometheus/alerts/agent-operations-alerts.yml
  monitoring/prometheus/prometheus.yml
  scripts/run-ask-expert-sessions-migration.sh
Owners: @vital-path/docs-team, @vital-path/team

feat: Remove breadcrumb navigation from top nav bar
  apps/digital-health-startup/src/components/dashboard-header-fixed.tsx
  apps/digital-health-startup/src/components/dashboard-header.tsx
  apps/digital-health-startup/src/components/dashboard/unified-dashboard-layout.tsx
Owners: @vital-path/team

chore: Clean up unused breadcrumb code and imports
  apps/digital-health-startup/src/components/dashboard-header-fixed.tsx
  apps/digital-health-startup/src/components/dashboard-header.tsx
  apps/digital-health-startup/src/components/dashboard/unified-dashboard-layout.tsx
  scripts/run-ask-expert-sessions-migration.ts
  scripts/verify-migration.ts
Owners: @vital-path/team

chore: Remove unused breadcrumb imports from unified-dashboard-layout
  apps/digital-health-startup/src/components/dashboard/unified-dashboard-layout.tsx
  scripts/setup-monitoring-stack.sh
  scripts/test-metrics-endpoints.sh
Owners: @vital-path/team

feat: Add production deployment scripts and quick start guide
  QUICK_START_PRODUCTION.md
  scripts/run-ask-expert-sessions-migration.ts
  scripts/setup-monitoring-stack.sh
  scripts/test-metrics-endpoints.sh
  scripts/verify-migration.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Add production deployment ready summary
  PRODUCTION_DEPLOYMENT_READY.md
Owners: @vital-path/docs-team

chore: Remove unused pathname imports from dashboard headers
  apps/digital-health-startup/src/components/dashboard-header-fixed.tsx
  apps/digital-health-startup/src/components/dashboard-header.tsx
Owners: @vital-path/team

feat: Add Agent Analytics Dashboard to admin panel
  ADMIN_AGENT_ANALYTICS_SETUP.md
  apps/digital-health-startup/src/app/(app)/admin/agent-analytics/page.tsx
  apps/digital-health-startup/src/app/admin/page.tsx
  apps/digital-health-startup/src/app/api/analytics/agents/route.ts
  apps/digital-health-startup/src/components/admin/AgentAnalyticsDashboard.tsx
  apps/digital-health-startup/src/features/dashboard/components/dashboard-sidebar.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Add monitoring setup instructions
  MONITORING_SETUP_INSTRUCTIONS.md
Owners: @vital-path/docs-team

feat: Add Docker startup helper script and setup guide
  DOCKER_SETUP_GUIDE.md
  scripts/start-docker-and-monitoring.sh
Owners: @vital-path/docs-team, @vital-path/team

docs: Add monitoring stack running status and access guide
  MONITORING_STACK_RUNNING.md
Owners: @vital-path/docs-team

feat: Fix localStorage in ask-expert and create missing infrastructure
  REMAINING_TASKS_ANALYSIS.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/lib/hooks/use-conversations.ts
  apps/digital-health-startup/src/lib/services/cache/embedding-cache.ts
  apps/digital-health-startup/src/lib/services/conversations/conversations-service.ts
  apps/digital-health-startup/src/lib/services/observability/tracing.ts
  apps/digital-health-startup/src/lib/services/resilience/circuit-breaker.ts
  supabase/migrations/20250129000002_create_user_conversations_table.sql
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

docs: Create comprehensive prioritized task list
  PRIORITIZED_TASK_LIST.md
Owners: @vital-path/docs-team

fix: Add useConversations import to ask-expert page
  COMPLETION_SUMMARY.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
Owners: @vital-path/docs-team, @vital-path/team

feat: Complete all remaining tasks - embedding cache, tracing, tests, docs
  ALL_TASKS_COMPLETE.md
  COMPLETE_PHASES_SUMMARY.md
  FINAL_SESSION_SUMMARY.md
  IMPLEMENTATION_COMPLETE.md
  TYPE_CONSOLIDATION_COMPLETE.md
  apps/digital-health-startup/src/__tests__/e2e/conversations-api.test.ts
  apps/digital-health-startup/src/__tests__/integration/agent-selector.test.ts
  apps/digital-health-startup/src/__tests__/setup.ts
  apps/digital-health-startup/src/__tests__/unit/conversations-service.test.ts
  apps/digital-health-startup/src/app/api/conversations/route.ts
  apps/digital-health-startup/src/features/chat/services/agent-selector-service.ts
  apps/digital-health-startup/src/lib/services/agents/agent-graphrag-service.ts
  apps/digital-health-startup/src/lib/services/resilience/retry.ts
  apps/digital-health-startup/src/lib/services/user-agents/user-agents-service.ts
  apps/digital-health-startup/src/lib/types/agents/adapters.ts
  apps/digital-health-startup/src/lib/types/agents/index.ts
  docs/api/conversations-api.md
  docs/migrations/localStorage-to-database.md
  docs/services/user-agents-service.md
  scripts/run-all-migrations.ts
Owners: @vital-path/docs-team, @vital-path/team

feat(mode1): enrich agent tools and messaging experience
  apps/digital-health-startup/src/app/(app)/knowledge-domains/page.tsx
  apps/digital-health-startup/src/app/api/analytics/agents/route.ts
  apps/digital-health-startup/src/components/prompt-input.tsx
  apps/digital-health-startup/src/contexts/ask-expert-context.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
  apps/digital-health-startup/src/features/chat/services/mode1-manual-interactive.ts
  apps/digital-health-startup/src/lib/services/rag/unified-rag-service.ts
  apps/digital-health-startup/src/lib/services/vectorstore/pinecone-vector-service.ts
Owners: @vital-path/team

docs(mode1): update plan status after phase 3
  apps/digital-health-startup/mode-1-production-ready-implementation.plan.md
Owners: @vital-path/docs-team

Enhance Mode 1 inline citations and source hover chips
  apps/digital-health-startup/src/components/ai/inline-citation.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
Owners: @vital-path/team

Extend modes 2-4 with inline citation streaming
  apps/digital-health-startup/src/features/chat/services/autonomous-types.ts
  apps/digital-health-startup/src/features/chat/services/mode2-automatic-agent-selection.ts
  apps/digital-health-startup/src/features/chat/services/mode3-autonomous-automatic.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
  apps/digital-health-startup/src/features/chat/services/react-engine.ts
Owners: @vital-path/team

feat(mode1): route manual workflow through python ai engine
  apps/digital-health-startup/src/features/ask-expert/mode-1/__tests__/context-manager.test.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/__tests__/enhanced-rag-service.test.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/__tests__/integration.test.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/__tests__/mode1-handler.test.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/services/context-manager.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/services/enhanced-rag-service.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/services/llm-service.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/services/message-builder-service.ts
  apps/digital-health-startup/src/features/ask-expert/mode-1/tools/langchain-tool-adapter.ts
  apps/digital-health-startup/src/features/chat/services/mode1-manual-interactive.ts
  package.json
  scripts/check-langchain-imports.js
  scripts/langchain-allowlist.json
  services/ai-engine/src/main.py
  services/ai-engine/src/models/requests.py
  services/ai-engine/src/services/agent_orchestrator.py
Owners: @vital-path/team

feat: Migrate Agent Selector Service to Python AI Engine
  apps/digital-health-startup/docs/EMBEDDING_SERVICES_MIGRATION_TEST_SUMMARY.md
  apps/digital-health-startup/docs/EMBEDDING_SERVICES_TEST_RESULTS.md
  apps/digital-health-startup/src/agents/core/DigitalHealthAgent.ts
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/api/agents/[id]/stats/route.ts
  apps/digital-health-startup/src/app/api/knowledge/analytics/route.ts
  apps/digital-health-startup/src/app/api/knowledge/upload/route.ts
  apps/digital-health-startup/src/contexts/ask-expert-context.tsx
  apps/digital-health-startup/src/features/ask-expert/components/EnhancedMessageDisplay.tsx
  apps/digital-health-startup/src/features/ask-expert/components/InlineArtifactGenerator.tsx
  apps/digital-health-startup/src/features/ask-expert/components/InlineDocumentGenerator.tsx
  apps/digital-health-startup/src/features/ask-expert/components/index.ts
  apps/digital-health-startup/src/features/ask-expert/hooks/useAgentWithStats.ts
  apps/digital-health-startup/src/features/chat/services/agent-selector-service.ts
  apps/digital-health-startup/src/features/chat/services/langchain-service.ts
  apps/digital-health-startup/src/features/chat/services/mode3-autonomous-automatic.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
  apps/digital-health-startup/src/features/knowledge/components/knowledge-uploader.tsx
  apps/digital-health-startup/src/lib/services/embeddings/__tests__/huggingface-embedding-service.test.ts
  apps/digital-health-startup/src/lib/services/embeddings/__tests__/openai-embedding-service.test.ts
  apps/digital-health-startup/src/lib/services/embeddings/huggingface-embedding-service.ts
  apps/digital-health-startup/src/lib/services/embeddings/openai-embedding-service.ts
  apps/digital-health-startup/src/lib/services/persona-agent-runner.ts
  apps/digital-health-startup/src/lib/services/rag/domain-specific-rag-service.ts
  apps/digital-health-startup/src/lib/services/rag/unified-rag-service.ts
  apps/digital-health-startup/src/lib/stores/agents-store.ts
  apps/digital-health-startup/src/lib/supabase/service-client.ts
  apps/digital-health-startup/tests/integration/api-gateway/embeddings.test.ts
  docs/GOLDEN_RULE_COMPLETE_AUDIT_REPORT.md
  docs/GOLDEN_RULE_VIOLATIONS_AUDIT.md
  docs/GOLDEN_RULE_VIOLATIONS_COMPLETE.md
  docs/GOLDEN_RULE_VIOLATIONS_SUMMARY.md
  docs/REMOVE_MOCK_DATA_COMPLETE.md
  services/ai-engine/requirements.txt
  services/ai-engine/src/main.py
  services/ai-engine/src/services/agent_selector_service.py
  services/ai-engine/src/services/file_renamer.py
  services/ai-engine/src/services/smart_metadata_extractor.py
  services/ai-engine/src/services/supabase_client.py
  services/api-gateway/src/index.js
Owners: @vital-path/docs-team, @vital-path/team, @vital-path/database-team

test: Add comprehensive unit and integration tests for Agent Selector Service
  apps/digital-health-startup/src/__tests__/integration/agent-selector.test.ts
  apps/digital-health-startup/src/__tests__/unit/agent-selector-service.test.ts
  apps/digital-health-startup/tests/integration/api-gateway/agent-selector.test.ts
Owners: @vital-path/team

fix: Update agent selector tests to use Jest instead of Vitest
  apps/digital-health-startup/src/__tests__/integration/agent-selector.test.ts
  apps/digital-health-startup/src/__tests__/unit/agent-selector-service.test.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
  apps/digital-health-startup/tests/integration/api-gateway/agent-selector.test.ts
Owners: @vital-path/team

fix: Update agent selector tests for async selectBestAgent method
  apps/digital-health-startup/src/__tests__/unit/agent-selector-service.test.ts
Owners: @vital-path/team

feat: Migrate Ask Expert Chat Route to use Python AI Engine via API Gateway
  apps/digital-health-startup/src/app/api/ask-expert/chat/route.ts
Owners: @vital-path/team

feat: Add OpenAI-compatible /v1/chat/completions endpoint in Python AI Engine
  services/ai-engine/src/main.py
Owners: @vital-path/team

fix: Add complete OpenAI-compatible /v1/chat/completions endpoint
  apps/digital-health-startup/src/lib/auth/supabase-auth-context.tsx
  services/ai-engine/src/main.py
Owners: @vital-path/team

feat: Migrate generate-system-prompt and generate-persona routes to Python AI Engine
  apps/digital-health-startup/src/app/api/generate-persona/route.ts
  apps/digital-health-startup/src/app/api/generate-system-prompt/route.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
Owners: @vital-path/team

feat: Migrate knowledge/process route to use Python AI Engine for embeddings
  apps/digital-health-startup/src/app/api/knowledge/process/route.ts
Owners: @vital-path/team

fix: Complete knowledge/process route migration to Python AI Engine
  apps/digital-health-startup/src/app/api/knowledge/process/route.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
Owners: @vital-path/team

feat: Create RAG domains migration script for knowledge_domains_new
  database/sql/migrations/2025/20250201000001_migrate_all_rag_domains.sql
Owners: @vital-path/team

feat: Migrate Supabase RAG Service and Expert Tools RAG Connector to API Gateway
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
  apps/digital-health-startup/src/lib/rag/supabase-rag-service.ts
  apps/digital-health-startup/src/lib/services/expert-tools-rag-connector.ts
Owners: @vital-path/team

feat: Migrate all RAG services and Pinecone Vector Service to API Gateway
  apps/digital-health-startup/src/features/chat/services/supabase-rag-service.ts
  apps/digital-health-startup/src/lib/services/vectorstore/pinecone-vector-service.ts
  apps/digital-health-startup/src/shared/services/rag/supabase-rag-service.ts
Owners: @vital-path/team

fix: Complete Pinecone Vector Service migration to API Gateway
  apps/digital-health-startup/src/lib/services/vectorstore/pinecone-vector-service.ts
Owners: @vital-path/team

feat: Migrate Intelligent Agent Router to API Gateway
  apps/digital-health-startup/src/features/chat/services/intelligent-agent-router.ts
Owners: @vital-path/team

fix: Handle missing recommended_models column in RAG domains migration
  database/sql/migrations/2025/20250201000001_migrate_all_rag_domains.sql
Owners: @vital-path/team
