Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

feat: Gold Standard Autonomous Mode Enhancement Plan
  services/ai-engine/AUTONOMOUS_MODE_ENHANCEMENT_PLAN.md
Owners: @vital-path/docs-team

feat: Phase 1.1 & 1.2 - Base Tool Interface + Tool Registry
  services/ai-engine/src/services/tool_registry.py
  services/ai-engine/src/tools/__init__.py
  services/ai-engine/src/tools/base_tool.py
Owners: @vital-path/team

feat: Phase 1.3 - Concrete Tools (RAG + Web)
  services/ai-engine/src/tools/rag_tool.py
  services/ai-engine/src/tools/web_tools.py
Owners: @vital-path/team

docs: AutoGPT Enhancement Progress Report
  services/ai-engine/AUTOGPT_IMPLEMENTATION_PROGRESS.md
Owners: @vital-path/docs-team

feat: Phase 1.4 - ToolChainExecutor (CORE AutoGPT Capability)
  services/ai-engine/src/langgraph_workflows/tool_chain_executor.py
Owners: @vital-path/team

feat: Phase 1.5 - Tool Chaining Integration (Mode 3)
  services/ai-engine/src/langgraph_workflows/mode3_autonomous_auto_workflow.py
Owners: @vital-path/team

feat: Phase 1 COMPLETE - Tool Chaining Fully Integrated
  services/ai-engine/src/langgraph_workflows/tool_chain_mixin.py
Owners: @vital-path/team

docs: Update plan with Phase 1 completion and roadmap
  services/ai-engine/AUTOGPT_GUIDES_COMPLIANCE_AUDIT.md
  services/ai-engine/AUTONOMOUS_MODE_ENHANCEMENT_PLAN.md
Owners: @vital-path/docs-team

feat: Phase 1.1.1 - Tool Chaining Integration (Mode 4)
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
Owners: @vital-path/team

feat: Phase 1.1.2 - Tool Chaining Integration (Mode 1)
  services/ai-engine/src/langgraph_workflows/mode1_interactive_auto_workflow.py
Owners: @vital-path/team

feat: Phase 1.1.3 - Tool Chaining Integration (Mode 2)
  services/ai-engine/src/langgraph_workflows/mode2_interactive_manual_workflow.py
Owners: @vital-path/team

refactor: Mode 3 - Use ToolChainMixin for consistency
  services/ai-engine/src/langgraph_workflows/mode3_autonomous_auto_workflow.py
Owners: @vital-path/team

feat: Phase 2.1 & 2.2 - Database Schema + EmbeddingService
  database/sql/migrations/2025/20251101120000_session_memories.sql
  services/ai-engine/requirements.txt
  services/ai-engine/src/services/embedding_service.py
Owners: @vital-path/team

feat: Phase 2 COMPLETE - Long-Term Session Memory
  services/ai-engine/src/langgraph_workflows/memory_integration_mixin.py
  services/ai-engine/src/services/session_memory_service.py
  services/ai-engine/src/tests/test_phase2_memory.py
Owners: @vital-path/team

feat: Phase 2 Migration + Phase 3.1 - AutonomousController
  database/sql/migrations/2025/run_phase2_migrations.sql
  services/ai-engine/src/services/autonomous_controller.py
Owners: @vital-path/team

feat: Phase 3.2 - Goal-Based Continuation Integration
  services/ai-engine/src/langgraph_workflows/mode3_autonomous_auto_workflow.py
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
Owners: @vital-path/team

feat: Phase 3 COMPLETE - Goal-Based Autonomous Execution
  services/ai-engine/src/main.py
Owners: @vital-path/team

docs: Phase 2 & 3 Deployment Package
  DEPLOYMENT_GUIDE_PHASE2_3.md
  quick_start_phase2_3.sh
  services/ai-engine/verify_deployment.py
Owners: @vital-path/docs-team, @vital-path/team

docs: Phase 2 & 3 COMPLETE Summary
  PHASE_2_3_COMPLETE_SUMMARY.md
Owners: @vital-path/docs-team

feat: Railway Docker Deployment Configuration
  RAILWAY_DEPLOYMENT_GUIDE.md
  services/ai-engine/railway.env.template
  services/ai-engine/railway.json
Owners: @vital-path/docs-team, @vital-path/team

docs: Railway Environment Variables Quick Setup Guide
  RAILWAY_ENV_QUICK_SETUP.md
Owners: @vital-path/docs-team

fix: Pin LangChain dependencies to resolve Railway build timeout
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix: Upgrade langchain-core to 0.2.0 for langgraph compatibility
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix: Upgrade entire LangChain ecosystem to 0.2.x for compatibility
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix: Upgrade to latest stable LangChain ecosystem (all 0.2.x compatible)
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix: Bump langchain-core to 0.2.39 (langgraph requirement)
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix: Downgrade langgraph-checkpoint to 1.x (langgraph 0.2.28 requirement)
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix: Remove startCommand from railway.json (let Dockerfile CMD handle it)
  services/ai-engine/railway.json
Owners: @vital-path/team

fix: Force Railway cache invalidation for Dockerfile CMD fix
  services/ai-engine/Dockerfile
Owners: @vital-path/team

fix: FORCE Railway cache rebuild with --no-cache and ENV var
  services/ai-engine/Dockerfile
  services/ai-engine/railway.json
Owners: @vital-path/team

fix: Add watchPaths to railway.json for correct file detection
  services/ai-engine/.railwayignore
  services/ai-engine/railway.json
Owners: @vital-path/team

fix: Remove railway.json to use Dashboard settings
  services/ai-engine/railway.json
Owners: @vital-path/team

fix: Rename model_config to llm_config to avoid Pydantic v2 reserved keyword conflict
  services/ai-engine/src/models/responses.py
Owners: @vital-path/team

feat: Phase 2 COMPLETE - Long-Term Memory Integration
  PHASE_2_3_IMPLEMENTATION_GUIDE.md
  RAILWAY_DEPLOYMENT_SUCCESS.md
  scripts/run_phase2_migration.sh
  services/ai-engine/src/langgraph_workflows/mode1_interactive_auto_workflow.py
  services/ai-engine/src/langgraph_workflows/mode2_interactive_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/mode3_autonomous_auto_workflow.py
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Phase 3 (partial) - Autonomous Controller added to Mode 4
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
Owners: @vital-path/team

docs: Add progress report for Phases A, B, C
  PHASE_ABC_PROGRESS_REPORT.md
Owners: @vital-path/docs-team

feat: Phase 3 COMPLETE - Autonomous Controller Fully Integrated
  DATABASE_MIGRATION_SUCCESS.md
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
Owners: @vital-path/docs-team, @vital-path/team

docs: Phase A 100% complete summary
  PHASE_A_COMPLETE_SUMMARY.md
Owners: @vital-path/docs-team

docs: Complete Phase B & C implementation guides
  PHASE_BC_EXECUTION_LOG.md
  PHASE_B_TESTING_GUIDE.md
  PHASE_C_FRONTEND_GUIDE.md
Owners: @vital-path/docs-team

docs: FINAL COMPLETE SUMMARY - All Phases A, B, C Done
  FINAL_COMPLETE_SUMMARY.md
Owners: @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
