Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

feat: Complete AI Engine fixes and PHARMA/VERIFY protocols
  AGENTS_DATABASE_STATUS.md
  FINAL_STATUS_ALL_SYSTEMS.md
  PHARMA_VERIFY_PROTOCOLS_STATUS.md
  services/ai-engine/src/main.py
  services/ai-engine/src/protocols/__init__.py
  services/ai-engine/src/protocols/demo_protocols.py
  services/ai-engine/src/protocols/pharma_protocol.py
  services/ai-engine/src/protocols/protocol_manager.py
  services/ai-engine/src/protocols/verify_protocol.py
  services/ai-engine/src/services/agent_orchestrator.py
  services/ai-engine/src/services/supabase_client.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Integrate shared-kernel with ai-engine middleware
  docs/Ask Panel/SHARED_KERNEL_INTEGRATION_COMPLETE.md
  services/ai-engine/requirements.txt
  services/ai-engine/src/middleware/tenant_context.py
Owners: @vital-path/docs-team, @vital-path/team

🐛 Fix build error: Replace Accordion with Collapsible in ExpertAgentCard
  apps/digital-health-startup/src/features/ask-expert/components/ExpertAgentCard.tsx
Owners: @vital-path/team

🐛 Fix build error: Replace Accordion with Collapsible in ExpertAgentCard
  apps/digital-health-startup/src/features/ask-expert/components/ExpertAgentCard.tsx
Owners: @vital-path/team

⏮️ Revert to original Ask Expert interface
  GOLD_STANDARD_READY_TO_TEST.md
  apps/ask-panel/ENHANCED_FEATURES_SUMMARY.md
  apps/ask-panel/FINAL_STATUS.md
  apps/ask-panel/src/components/panels/panel-stream.tsx
  apps/ask-panel/src/components/panels/reasoning-display.tsx
  apps/ask-panel/src/components/panels/sources-panel.tsx
  apps/ask-panel/src/components/panels/streaming-window.tsx
  apps/ask-panel/src/components/ui/progress.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-gold-standard.tsx
  database/sql/seeds/2025/17_ma_002_health_economics_part1.sql
  database/sql/seeds/2025/17_ma_002_health_economics_part2.sql
  database/sql/seeds/2025/18_ma_003_cpt_hcpcs_code_part1.sql
  database/sql/seeds/2025/18_ma_003_cpt_hcpcs_code_part2.sql
  database/sql/seeds/2025/19_ma_004_formulary_positioning_part1.sql
  database/sql/seeds/2025/19_ma_004_formulary_positioning_part2.sql
  database/sql/seeds/2025/20_ma_005_pt_presentation_part1.sql
  database/sql/seeds/2025/20_ma_005_pt_presentation_part2.sql
  database/sql/seeds/2025/21-25_ma_006-010_combined_part1.sql
  database/sql/seeds/2025/MA_FINAL_STATUS.md
  database/sql/seeds/2025/MA_PROGRESS_REPORT.md
Owners: @vital-path/docs-team, @vital-path/team

⏮️ Revert to original Ask Expert interface
  GOLD_STANDARD_READY_TO_TEST.md
  apps/ask-panel/ENHANCED_FEATURES_SUMMARY.md
  apps/ask-panel/FINAL_STATUS.md
  apps/ask-panel/src/components/panels/panel-stream.tsx
  apps/ask-panel/src/components/panels/reasoning-display.tsx
  apps/ask-panel/src/components/panels/sources-panel.tsx
  apps/ask-panel/src/components/panels/streaming-window.tsx
  apps/ask-panel/src/components/ui/progress.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-gold-standard.tsx
  database/sql/seeds/2025/17_ma_002_health_economics_part1.sql
  database/sql/seeds/2025/17_ma_002_health_economics_part2.sql
  database/sql/seeds/2025/18_ma_003_cpt_hcpcs_code_part1.sql
  database/sql/seeds/2025/18_ma_003_cpt_hcpcs_code_part2.sql
  database/sql/seeds/2025/19_ma_004_formulary_positioning_part1.sql
  database/sql/seeds/2025/19_ma_004_formulary_positioning_part2.sql
  database/sql/seeds/2025/20_ma_005_pt_presentation_part1.sql
  database/sql/seeds/2025/20_ma_005_pt_presentation_part2.sql
  database/sql/seeds/2025/21-25_ma_006-010_combined_part1.sql
  database/sql/seeds/2025/MA_FINAL_STATUS.md
  database/sql/seeds/2025/MA_PROGRESS_REPORT.md
Owners: @vital-path/docs-team, @vital-path/team

fix: Revert to original Ask Expert UI and ensure local AI Engine setup
  apps/ask-panel/src/app/page.tsx
  apps/ask-panel/src/app/workflows/[code]/page.tsx
  apps/ask-panel/src/app/workflows/page.tsx
  apps/ask-panel/src/hooks/use-workflows.ts
  apps/ask-panel/src/lib/api/panel-client.ts
  apps/ask-panel/src/types/workflow.types.ts
  database/sql/seeds/2025/21-25_ma_006-010_combined_part2.sql
  database/sql/seeds/2025/MA_COMPLETE_SUMMARY.md
  database/sql/seeds/2025/MA_QUICK_START.md
  database/sql/seeds/2025/execute_all_ma_usecases.sh
  docs/Ask Panel/WEEK3_DAY11-12_COMPLETE.md
  services/ai-engine/src/api/dependencies.py
  services/ai-engine/src/api/routes/panels.py
  services/ai-engine/src/main.py
  services/ai-engine/tests/api/__init__.py
  services/ai-engine/tests/api/test_panel_routes.py
Owners: @vital-path/team, @vital-path/docs-team

fix: Revert to original Ask Expert UI and ensure local AI Engine setup
  apps/ask-panel/src/app/page.tsx
  apps/ask-panel/src/app/workflows/[code]/page.tsx
  apps/ask-panel/src/app/workflows/page.tsx
  apps/ask-panel/src/hooks/use-workflows.ts
  apps/ask-panel/src/lib/api/panel-client.ts
  apps/ask-panel/src/types/workflow.types.ts
  database/sql/seeds/2025/21-25_ma_006-010_combined_part2.sql
  database/sql/seeds/2025/MA_COMPLETE_SUMMARY.md
  database/sql/seeds/2025/MA_QUICK_START.md
  database/sql/seeds/2025/execute_all_ma_usecases.sh
  docs/Ask Panel/WEEK3_DAY11-12_COMPLETE.md
  services/ai-engine/src/api/dependencies.py
  services/ai-engine/src/api/routes/panels.py
  services/ai-engine/src/main.py
  services/ai-engine/tests/api/__init__.py
  services/ai-engine/tests/api/test_panel_routes.py
Owners: @vital-path/team, @vital-path/docs-team

fix: Allow extra fields in Settings config to prevent validation errors
  services/ai-engine/src/core/config.py
Owners: @vital-path/team

fix: Allow extra fields in Settings config to prevent validation errors
  services/ai-engine/src/core/config.py
Owners: @vital-path/team

feat(security): RLS deployed to production - Phase 0 COMPLETE! 🎉
  RLS_PRODUCTION_DEPLOYMENT_COMPLETE.md
Owners: @vital-path/docs-team

feat(security): RLS deployed to production - Phase 0 COMPLETE! 🎉
  RLS_PRODUCTION_DEPLOYMENT_COMPLETE.md
Owners: @vital-path/docs-team

feat(deployment): Add Railway deployment automation
  NEXT_STEP_RAILWAY.md
  services/ai-engine/RAILWAY_DEPLOYMENT_INSTRUCTIONS.md
  services/ai-engine/deploy-to-railway.sh
Owners: @vital-path/docs-team, @vital-path/team

feat(deployment): Add Railway deployment automation
  NEXT_STEP_RAILWAY.md
  services/ai-engine/RAILWAY_DEPLOYMENT_INSTRUCTIONS.md
  services/ai-engine/deploy-to-railway.sh
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Configure root directory and update deployment script
  RAILWAY_DEPLOYMENT_IN_PROGRESS.md
  RAILWAY_ROOT_DIRECTORY_FIX.md
  services/ai-engine/deploy-to-railway.sh
  services/ai-engine/railway.toml
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Configure root directory and update deployment script
  RAILWAY_DEPLOYMENT_IN_PROGRESS.md
  RAILWAY_ROOT_DIRECTORY_FIX.md
  services/ai-engine/deploy-to-railway.sh
  services/ai-engine/railway.toml
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Move railway.toml to repo root for monorepo support
  RAILWAY_BUILD_ERROR_FIX.md
  railway.toml
  services/ai-engine/railway.toml
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Move railway.toml to repo root for monorepo support
  RAILWAY_BUILD_ERROR_FIX.md
  railway.toml
  services/ai-engine/railway.toml
Owners: @vital-path/docs-team, @vital-path/team

feat: add minimal diagnostic server for Railway debugging
  services/ai-engine/Dockerfile
  services/ai-engine/start_minimal.py
Owners: @vital-path/team

feat: add minimal diagnostic server for Railway debugging
  services/ai-engine/Dockerfile
  services/ai-engine/start_minimal.py
Owners: @vital-path/team

fix: apply critical Docker and Railway optimizations
  LANGFUSE_SETUP_GUIDE.md
  railway.toml
  services/ai-engine/Dockerfile
Owners: @vital-path/docs-team, @vital-path/team

fix: apply critical Docker and Railway optimizations
  LANGFUSE_SETUP_GUIDE.md
  railway.toml
  services/ai-engine/Dockerfile
Owners: @vital-path/docs-team, @vital-path/team

fix: create appuser before chown in Dockerfile
  services/ai-engine/Dockerfile
Owners: @vital-path/team

fix: create appuser before chown in Dockerfile
  services/ai-engine/Dockerfile
Owners: @vital-path/team

fix: use start_minimal.py in railway.toml for diagnostic deployment
  railway.toml
Owners: @vital-path/team

fix: use start_minimal.py in railway.toml for diagnostic deployment
  railway.toml
Owners: @vital-path/team

docs: add comprehensive Railway deployment failure analysis report
  RAILWAY_DEPLOYMENT_FAILURE_REPORT.md
Owners: @vital-path/docs-team

docs: add comprehensive Railway deployment failure analysis report
  RAILWAY_DEPLOYMENT_FAILURE_REPORT.md
Owners: @vital-path/docs-team

feat: add LLM descriptions and usage guides for all 142 tools
  TOOL_METADATA_UPDATE_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/admin/feedback-dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/components/pattern-library.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/components/admin/batch-upload-panel.tsx
  apps/digital-health-startup/src/components/enhanced/EnhancedChatInterface.tsx
  apps/digital-health-startup/src/components/langgraph-visualizer.tsx
  apps/digital-health-startup/src/components/ui/radio-group.tsx
  apps/digital-health-startup/src/features/admin/components/batch-upload-panel.tsx
  apps/digital-health-startup/src/features/agents/components/AgentImport.tsx
  apps/digital-health-startup/src/features/agents/components/agents-board.tsx
  apps/digital-health-startup/src/features/ask-expert/hooks/useDocumentGeneration.ts
  apps/digital-health-startup/src/features/ask-expert/services/rich-media-service.ts
  apps/digital-health-startup/src/features/chat/components/metrics-dashboard.tsx
  apps/digital-health-startup/src/features/chat/services/agent-selector-service.ts
  apps/digital-health-startup/src/features/chat/services/intelligent-agent-router.ts
  apps/digital-health-startup/src/features/chat/services/mode1-manual-interactive.ts
  apps/digital-health-startup/src/features/chat/services/mode2-automatic-agent-selection.ts
  apps/digital-health-startup/src/features/chat/services/mode3-autonomous-automatic.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
  apps/digital-health-startup/src/features/chat/services/supabase-rag-service.ts
  apps/digital-health-startup/src/features/solution-builder/components/ClinicalTrialDesigner/ClinicalTrialDesigner.tsx
  apps/digital-health-startup/src/features/solution-builder/components/ComplianceTestingSuite/ComplianceTestingSuite.tsx
  apps/digital-health-startup/src/features/solution-builder/components/DigitalBiomarkerSDK/DigitalBiomarkerSDK.tsx
  apps/digital-health-startup/src/features/solution-builder/components/RemoteMonitoringBuilder/RemoteMonitoringBuilder.tsx
  apps/digital-health-startup/src/features/workflow-designer/components/code/CodePreview.tsx
  apps/digital-health-startup/src/features/workflow-designer/components/designer/WorkflowDesigner.tsx
  apps/digital-health-startup/src/features/workflow-designer/components/state/StateInspector.tsx
  apps/digital-health-startup/src/lib/services/tool-registry-service.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: add LLM descriptions and usage guides for all 142 tools
  TOOL_METADATA_UPDATE_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/admin/feedback-dashboard/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/components/pattern-library.tsx
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/components/admin/batch-upload-panel.tsx
  apps/digital-health-startup/src/components/enhanced/EnhancedChatInterface.tsx
  apps/digital-health-startup/src/components/langgraph-visualizer.tsx
  apps/digital-health-startup/src/components/ui/radio-group.tsx
  apps/digital-health-startup/src/features/admin/components/batch-upload-panel.tsx
  apps/digital-health-startup/src/features/agents/components/AgentImport.tsx
  apps/digital-health-startup/src/features/agents/components/agents-board.tsx
  apps/digital-health-startup/src/features/ask-expert/hooks/useDocumentGeneration.ts
  apps/digital-health-startup/src/features/ask-expert/services/rich-media-service.ts
  apps/digital-health-startup/src/features/chat/components/metrics-dashboard.tsx
  apps/digital-health-startup/src/features/chat/services/agent-selector-service.ts
  apps/digital-health-startup/src/features/chat/services/intelligent-agent-router.ts
  apps/digital-health-startup/src/features/chat/services/mode1-manual-interactive.ts
  apps/digital-health-startup/src/features/chat/services/mode2-automatic-agent-selection.ts
  apps/digital-health-startup/src/features/chat/services/mode3-autonomous-automatic.ts
  apps/digital-health-startup/src/features/chat/services/mode4-autonomous-manual.ts
  apps/digital-health-startup/src/features/chat/services/supabase-rag-service.ts
  apps/digital-health-startup/src/features/solution-builder/components/ClinicalTrialDesigner/ClinicalTrialDesigner.tsx
  apps/digital-health-startup/src/features/solution-builder/components/ComplianceTestingSuite/ComplianceTestingSuite.tsx
  apps/digital-health-startup/src/features/solution-builder/components/DigitalBiomarkerSDK/DigitalBiomarkerSDK.tsx
  apps/digital-health-startup/src/features/solution-builder/components/RemoteMonitoringBuilder/RemoteMonitoringBuilder.tsx
  apps/digital-health-startup/src/features/workflow-designer/components/code/CodePreview.tsx
  apps/digital-health-startup/src/features/workflow-designer/components/designer/WorkflowDesigner.tsx
  apps/digital-health-startup/src/features/workflow-designer/components/state/StateInspector.tsx
  apps/digital-health-startup/src/lib/services/tool-registry-service.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: honest tool status assessment and lifecycle correction
  ASK_PANEL_DATABASE_INVENTORY.md
  TOOL_STATUS_HONEST_ASSESSMENT.md
Owners: @vital-path/docs-team

feat: honest tool status assessment and lifecycle correction
  ASK_PANEL_DATABASE_INVENTORY.md
  TOOL_STATUS_HONEST_ASSESSMENT.md
Owners: @vital-path/docs-team

fix: explicitly set PORT=8000 in railway.toml startCommand
  railway.toml
Owners: @vital-path/team

fix: explicitly set PORT=8000 in railway.toml startCommand
  railway.toml
Owners: @vital-path/team

fix: align all ports to 8080 as configured in Railway
  railway.toml
  services/ai-engine/Dockerfile
Owners: @vital-path/team

fix: align all ports to 8080 as configured in Railway
  railway.toml
  services/ai-engine/Dockerfile
Owners: @vital-path/team

docs: add Railway deployment guides and Ask Panel improvements
  .gitignore
  ASK_PANEL_AGENT_SELECTOR_SUMMARY.md
  ASK_PANEL_RESTORATION_PLAN.md
  ASK_PANEL_USER_JOURNEY.md
  RAILWAY_ENVIRONMENT_VARIABLES_GUIDE.md
  RAILWAY_ENV_SETUP_COMPLETE.md
  RAILWAY_PORT_FIX_APPLIED.md
  STRATEGIC_INTELLIGENCE_TOOLS_COMPREHENSIVE.md
  TOOL_CLEANUP_COMPLETE.md
  TOOL_FIELDS_AND_CATEGORIES_COMPLETE.md
  TOOL_USAGE_FEEDBACK_OPERATIONS_COMPLETE.md
  apps/digital-health-startup/database/migrations/021_create_agent_suites.sql
  apps/digital-health-startup/database/migrations/022_create_agent_suite_members.sql
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/features/ask-panel/components/AgentCard.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelCreationWizard.tsx
  apps/digital-health-startup/src/features/ask-panel/constants/panel-templates.ts
  apps/digital-health-startup/src/features/ask-panel/services/agent-recommendation-engine.ts
  apps/digital-health-startup/src/features/ask-panel/services/agent-service.ts
  apps/digital-health-startup/src/features/ask-panel/types/agent.ts
  database/sql/seeds/2025/38_strategic_intelligence_tools.sql
  setup-railway-env.sh
Owners: @vital-path/team, @vital-path/docs-team

docs: add Railway deployment guides and Ask Panel improvements
  .gitignore
  ASK_PANEL_AGENT_SELECTOR_SUMMARY.md
  ASK_PANEL_RESTORATION_PLAN.md
  ASK_PANEL_USER_JOURNEY.md
  RAILWAY_ENVIRONMENT_VARIABLES_GUIDE.md
  RAILWAY_ENV_SETUP_COMPLETE.md
  RAILWAY_PORT_FIX_APPLIED.md
  STRATEGIC_INTELLIGENCE_TOOLS_COMPREHENSIVE.md
  TOOL_CLEANUP_COMPLETE.md
  TOOL_FIELDS_AND_CATEGORIES_COMPLETE.md
  TOOL_USAGE_FEEDBACK_OPERATIONS_COMPLETE.md
  apps/digital-health-startup/database/migrations/021_create_agent_suites.sql
  apps/digital-health-startup/database/migrations/022_create_agent_suite_members.sql
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/features/ask-panel/components/AgentCard.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelCreationWizard.tsx
  apps/digital-health-startup/src/features/ask-panel/constants/panel-templates.ts
  apps/digital-health-startup/src/features/ask-panel/services/agent-recommendation-engine.ts
  apps/digital-health-startup/src/features/ask-panel/services/agent-service.ts
  apps/digital-health-startup/src/features/ask-panel/types/agent.ts
  database/sql/seeds/2025/38_strategic_intelligence_tools.sql
  setup-railway-env.sh
Owners: @vital-path/team, @vital-path/docs-team

feat: add 8 strategic intelligence tools to Supabase
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/api/ask-panel/consult/route.ts
  apps/digital-health-startup/src/app/api/frameworks/autogen/execute/route.ts
  apps/digital-health-startup/src/app/api/frameworks/crewai/execute/route.ts
  apps/digital-health-startup/src/app/api/frameworks/langgraph/execute/route.ts
  apps/digital-health-startup/src/features/ask-panel/components/PanelConsultationView.tsx
Owners: @vital-path/team

feat: add 8 strategic intelligence tools to Supabase
  apps/digital-health-startup/src/app/(app)/ask-panel/page.tsx
  apps/digital-health-startup/src/app/api/ask-panel/consult/route.ts
  apps/digital-health-startup/src/app/api/frameworks/autogen/execute/route.ts
  apps/digital-health-startup/src/app/api/frameworks/crewai/execute/route.ts
  apps/digital-health-startup/src/app/api/frameworks/langgraph/execute/route.ts
  apps/digital-health-startup/src/features/ask-panel/components/PanelConsultationView.tsx
Owners: @vital-path/team
