Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team

feat(phase-9.1): Complete integration testing infrastructure
  docs/INTEGRATION_TESTING_GUIDE.md
  services/ai-engine/src/tests/integration/test_api_endpoints.py
  services/api-gateway/src/__tests__/integration/api-gateway-to-ai-engine.test.js
Owners: @vital-path/docs-team, @vital-path/team

fix(integration-tests): Add missing import for app in Python integration tests
  services/ai-engine/src/tests/integration/test_api_endpoints.py
Owners: @vital-path/team

feat(phase-9.2-9.3): Complete documentation and production readiness
  docs/PHASE_8_9_COMPLETE_SUMMARY.md
  docs/PRODUCTION_READINESS_CHECKLIST.md
  docs/README.md
Owners: @vital-path/docs-team

docs(deployment): Add quick deployment guides for Python AI Engine
  services/ai-engine/DEPLOY_TODAY.md
  services/ai-engine/QUICK_DEPLOY.md
  services/ai-engine/deploy-railway.sh
Owners: @vital-path/docs-team, @vital-path/team

docs(deployment): Add deployment status and instructions
  services/ai-engine/DEPLOYMENT_STATUS.md
  services/ai-engine/DEPLOY_INSTRUCTIONS.md
  services/ai-engine/DEPLOY_NOW.md
  services/ai-engine/RUN_THESE_COMMANDS.md
  services/ai-engine/set-env-vars.sh
Owners: @vital-path/docs-team, @vital-path/team

deploy: Configure Python AI Engine for Railway deployment
  services/ai-engine/DEPLOYMENT_COMPLETE.md
  services/ai-engine/DEPLOYMENT_IN_PROGRESS.md
  services/ai-engine/README_DEPLOYMENT.md
Owners: @vital-path/docs-team

fix(deployment): Add Railway root directory configuration guide
  services/ai-engine/RAILWAY_FIX.md
Owners: @vital-path/docs-team

docs: Add GitHub path reference for vital-ai-service
  services/ai-engine/GITHUB_PATH.md
  services/ai-engine/QUICK_DEPLOYMENT_STATUS.md
  services/ai-engine/RAILWAY_DASHBOARD_URL.md
Owners: @vital-path/docs-team

docs: Add deployment troubleshooting guide
  services/ai-engine/DEPLOYMENT_TROUBLESHOOTING.md
Owners: @vital-path/docs-team

docs: Add Railway root directory fix guide
  services/ai-engine/GITHUB_STRUCTURE_VERIFICATION.md
  services/ai-engine/PUSH_TO_GITHUB.md
  services/ai-engine/RAILWAY_ROOT_DIRECTORY_FIX.md
Owners: @vital-path/docs-team

fix(deps): Update langsmith to compatible version
  services/ai-engine/requirements.txt
Owners: @vital-path/team

fix(deployment): Update Dockerfile path in railway.toml
  services/ai-engine/railway.toml
Owners: @vital-path/team

fix(deployment): Remove ./ prefix from Dockerfile path
  services/ai-engine/railway.toml
Owners: @vital-path/team

trigger: Force Railway redeploy
  services/ai-engine/.gitkeep
  services/ai-engine/BRANCH_AND_ROOT_DIRECTORY_FIX.md
  services/ai-engine/COPY_PASTE_ROOT_DIRECTORY.md
  services/ai-engine/CURRENT_DEPLOYMENT_STATUS.md
  services/ai-engine/DEPENDENCY_FIX.md
  services/ai-engine/DEPLOYMENT_FIXED.md
  services/ai-engine/DOCKERFILE_NOT_FOUND_FIX.md
  services/ai-engine/DOCKERFILE_PATH_FIXED.md
  services/ai-engine/DOCKERFILE_RAILWAY_SETTINGS.md
  services/ai-engine/MANUAL_ROOT_DIRECTORY_SETUP.md
  services/ai-engine/RAILWAY_BUILD_DEBUG.md
  services/ai-engine/URGENT_FIXES.md
Owners: @vital-path/team, @vital-path/docs-team

fix(deployment): Add railway.toml to repository root
  railway.toml
Owners: @vital-path/team

feat(deployment): Switch to Nixpacks buildpack (skip Docker)
  railway.toml
  services/ai-engine/CLI_ACTIONS_COMPLETE.md
  services/ai-engine/CLI_DEPLOYMENT_GUIDE.md
  services/ai-engine/FINAL_DEPLOYMENT_CHECK.md
  services/ai-engine/Procfile
  services/ai-engine/RAILWAY_CLI_STATUS.md
  services/ai-engine/SERVICE_LINKING_ISSUE.md
  services/ai-engine/railway.toml
Owners: @vital-path/team, @vital-path/docs-team

docs: Add Nixpacks deployment status and instructions
  services/ai-engine/CURRENT_STATUS_NIXPACKS.md
  services/ai-engine/NIXPACKS_DEPLOYMENT_STATUS.md
Owners: @vital-path/docs-team

fix(deps): Resolve httpx dependency conflict with supabase
  services/ai-engine/DEPENDENCY_FIX.md
  services/ai-engine/Dockerfile.backup
  services/ai-engine/modal_deploy.py
  services/ai-engine/requirements.txt
Owners: @vital-path/docs-team, @vital-path/team

fix(deps): Resolve LangChain version conflict with langsmith
  services/ai-engine/LANGCHAIN_VERSION_FIX.md
  services/ai-engine/modal_deploy.py
  services/ai-engine/requirements.txt
Owners: @vital-path/docs-team, @vital-path/team

fix(startup): Make app startup resilient to missing environment variables
  services/ai-engine/src/core/config.py
  services/ai-engine/src/main.py
Owners: @vital-path/team

fix(supabase): Add validation for required Supabase settings
  services/ai-engine/STARTUP_FIX.md
  services/ai-engine/src/services/supabase_client.py
Owners: @vital-path/docs-team, @vital-path/team

fix(startup): Improve startup script error handling and path resolution
  services/ai-engine/start.py
Owners: @vital-path/team

fix(startup): Fix working directory and uvicorn app loading
  services/ai-engine/start.py
Owners: @vital-path/team

fix(startup): Change working directory to src for correct module resolution
  services/ai-engine/STARTUP_DEBUG.md
  services/ai-engine/start.py
Owners: @vital-path/docs-team, @vital-path/team

fix(startup): Change to src directory BEFORE importing main module
  services/ai-engine/start.py
Owners: @vital-path/team

fix(startup): Make startup non-blocking with timeouts
  services/ai-engine/src/main.py
  services/ai-engine/start.py
Owners: @vital-path/team

feat(deploy): Add Modal serverless deployment option
  services/ai-engine/MODAL_SERVERLESS_DEPLOYMENT.md
  services/ai-engine/STARTUP_COMPREHENSIVE_FIX.md
  services/ai-engine/modal_deploy.py
Owners: @vital-path/docs-team, @vital-path/team

feat(modal): Improve Modal deployment configuration
  services/ai-engine/SERVERLESS_DOCKER_OPTIONS.md
  services/ai-engine/modal_deploy.py
Owners: @vital-path/docs-team, @vital-path/team

feat(deploy): Add Docker Build Cloud + Cloud Run deployment
  services/ai-engine/DEPLOY_MODAL_NOW.md
  services/ai-engine/DOCKER_BUILD_CLOUD_DEPLOY.md
  services/ai-engine/DOCKER_BUILD_CLOUD_QUICKSTART.md
  services/ai-engine/Dockerfile
  services/ai-engine/MODAL_QUICK_DEPLOY.md
  services/ai-engine/build-cloud.sh
  services/ai-engine/deploy-cloud-run.sh
  services/ai-engine/deploy-modal.sh
Owners: @vital-path/docs-team, @vital-path/team

feat(deploy): Push Docker image to Hub and add Cloud Run deployment guide
  services/ai-engine/DEPLOY_TO_CLOUD_RUN.md
  services/ai-engine/README_DOCKER_BUILD_CLOUD.md
  services/ai-engine/build-with-hub.sh
Owners: @vital-path/docs-team, @vital-path/team

fix(deploy): Switch to Python 3.11 and update pydantic for langsmith compatibility
  services/ai-engine/BILLING_SETUP.md
  services/ai-engine/BILLING_STATUS.md
  services/ai-engine/Dockerfile
  services/ai-engine/requirements.txt
Owners: @vital-path/docs-team, @vital-path/team

fix(deploy): Add pydantic-settings for BaseSettings migration
  services/ai-engine/DEPLOYMENT_STATUS.md
  services/ai-engine/requirements.txt
  services/ai-engine/src/core/config.py
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Update railway.toml to use DOCKERFILE builder
  services/ai-engine/RAILWAY_DEPLOY_NOW.md
  services/ai-engine/railway.toml
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Remove dockerfilePath from railway.toml for auto-detection
  services/ai-engine/DEPLOY_RAILWAY_STEPS.md
  services/ai-engine/RAILWAY_DOCKERFILE_FIX.md
  services/ai-engine/RAILWAY_SERVICE_INSTRUCTIONS.md
  services/ai-engine/railway.toml
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Comprehensive deployment fixes for healthcheck
  services/ai-engine/COMPREHENSIVE_DEPLOYMENT_FIX.md
  services/ai-engine/src/main.py
  services/ai-engine/start.py
Owners: @vital-path/docs-team, @vital-path/team

fix(railway): Add robust startup logging and error handling
  services/ai-engine/VERIFICATION_CHECKLIST.md
  services/ai-engine/railway.toml
  services/ai-engine/start.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Complete Phase 5 - LangGraph Integration for Feedback, Memory & Enrichment
  services/ai-engine/PHASE_5_COMPLETION_REPORT.md
  services/ai-engine/src/langgraph_workflows/enrichment_nodes.py
  services/ai-engine/src/langgraph_workflows/feedback_nodes.py
  services/ai-engine/src/langgraph_workflows/memory_nodes.py
  services/ai-engine/src/langgraph_workflows/mode1_enhanced_workflow.py
  services/ai-engine/src/tests/test_phase5_integration.py
Owners: @vital-path/docs-team, @vital-path/team

feat: Complete All 4 Modes with Gold Standard LangGraph Architecture
  services/ai-engine/src/langgraph_workflows/__init__.py
  services/ai-engine/src/langgraph_workflows/base_workflow.py
  services/ai-engine/src/langgraph_workflows/checkpoint_manager.py
  services/ai-engine/src/langgraph_workflows/mode1_interactive_auto_workflow.py
  services/ai-engine/src/langgraph_workflows/mode2_interactive_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/mode3_autonomous_auto_workflow.py
  services/ai-engine/src/langgraph_workflows/mode4_autonomous_manual_workflow.py
  services/ai-engine/src/langgraph_workflows/observability.py
  services/ai-engine/src/langgraph_workflows/react_engine.py
  services/ai-engine/src/langgraph_workflows/state_schemas.py
Owners: @vital-path/team

feat: Gold Standard Streaming Manager for Real-Time AI Reasoning
  services/ai-engine/src/services/streaming_manager.py
Owners: @vital-path/team

docs: Complete Implementation Summary - Gold Standard Achievement
  services/ai-engine/COMPLETE_IMPLEMENTATION_SUMMARY.md
Owners: @vital-path/docs-team
