Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

🔧 CRITICAL FIX: Remove blocking retrieveContextNode from workflow
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

🏆 WORLD-CLASS LANGGRAPH WORKFLOW: Complete rebuild with expert-level architecture
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team

🔧 LANGGRAPH EXPERT FIX: Remove unreachable handleError node
  src/features/chat/services/ask-expert-graph.ts
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team

🔧 CRITICAL FIX: Add missing SSE events that frontend expects
  src/features/chat/services/ask-expert-graph.ts
Owners: @vital-path/team

Fix contradictory interaction mode state - remove duplicate setInteractionMode functions and duplicate toggle switches
  LANDING_PAGE_COPY_AND_DESIGN.md
  src/app/page.tsx
  src/components/chat/enhanced-chat-sidebar.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/docs-team, @vital-path/team

Clean up sidebar UI - remove tabs and settings toggles, simplify to single content area
  src/components/chat/enhanced-chat-sidebar.tsx
Owners: @vital-path/team

Fix SSE event handling - API route now properly forwards workflow events to frontend
  src/app/api/chat/route.ts
Owners: @vital-path/team

feat: implement cyberpunk-themed landing page
  src/app/globals.css
  src/app/page.tsx
Owners: @vital-path/team

fix: replace invalid Tailwind class with proper color value
  src/app/globals.css
Owners: @vital-path/team

feat: Phase 1 - Critical Fixes & Cleanup
  .cursor/commands.md
  .cursor/context.md
  .cursor/progress.md
  .cursorrules
  ASK_EXPERT_SERVICE_AUDIT_REPORT.md
  CURSOR_AI_IMPLEMENTATION_PLAN.md
  src/app/api/chat/route.ts
  src/components/chat/reasoning-display.tsx
  src/lib/stores/chat-store.backup.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Update Phase 1 implementation plan with actual results
  CURSOR_AI_IMPLEMENTATION_PLAN.md
Owners: @vital-path/docs-team

feat: complete Phase 1 critical fixes
  CURSOR_AI_IMPLEMENTATION_PLAN.md
  src/components/chat/reasoning-display.tsx
  src/features/chat/services/ask-expert-graph.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/docs-team, @vital-path/team

feat: complete Phase 2 - Core Architecture
  src/core/domain/entities/agent.entity.ts
  src/core/domain/entities/chat.entity.ts
  src/core/domain/entities/index.ts
  src/core/domain/entities/user.entity.ts
  src/core/services/agent-orchestrator/agent-orchestrator.service.ts
  src/core/services/agent-orchestrator/agent-scorer.interface.ts
  src/core/services/agent-orchestrator/index.ts
  src/core/services/agent-orchestrator/intent-analyzer.interface.ts
  src/core/services/index.ts
  src/core/services/workflow-engine/index.ts
  src/core/services/workflow-engine/workflow-engine.service.ts
Owners: @vital-path/team

docs: update Phase 2 implementation status in plan
  CURSOR_AI_IMPLEMENTATION_PLAN.md
Owners: @vital-path/docs-team

feat: complete Phase 3 - Security & Validation
  src/application/middleware/index.ts
  src/application/middleware/rate-limiter.middleware.ts
  src/infrastructure/monitoring/logger/index.ts
  src/infrastructure/monitoring/logger/secure-logger.ts
  src/infrastructure/monitoring/logger/structured-logger.ts
  src/shared/validation/agent.schemas.ts
  src/shared/validation/chat.schemas.ts
  src/shared/validation/index.ts
  src/shared/validation/user.schemas.ts
Owners: @vital-path/team

docs: update Phase 3 implementation status in plan
  CURSOR_AI_IMPLEMENTATION_PLAN.md
Owners: @vital-path/docs-team

feat: implement professional clinical theme landing page
  src/app/globals.css
  src/app/page.tsx
Owners: @vital-path/team

feat: implement comprehensive testing framework
  jest.config.js
  src/__tests__/integration/api/chat/route.test.ts
  src/__tests__/unit/application/middleware/rate-limiter.middleware.test.ts
  src/__tests__/unit/core/domain/entities/agent.entity.test.ts
  src/__tests__/unit/core/services/agent-orchestrator/agent-orchestrator.service.test.ts
  src/__tests__/unit/core/services/workflow-engine/workflow-engine.service.test.ts
  src/__tests__/unit/infrastructure/monitoring/logger/secure-logger.test.ts
  src/__tests__/unit/shared/validation/chat.schemas.test.ts
Owners: @vital-path/team

feat: refine landing page with Scalar template design patterns
  package-lock.json
  package.json
  src/__tests__/e2e/agent-selection.test.ts
  src/__tests__/e2e/autonomous-mode.test.ts
  src/__tests__/e2e/chat-workflow.test.ts
  src/__tests__/integration/api/agent/route.test.ts
  src/__tests__/integration/services/workflow-integration.test.ts
  src/app/globals.css
  src/app/page.tsx
  src/components/icons/diamonds.tsx
  src/components/icons/plus-signs-with-svg.tsx
  src/components/icons/plus-signs.tsx
  src/components/magicui/marquee.tsx
  src/components/magicui/meteors.tsx
  src/components/ui/moving-border.tsx
Owners: @vital-path/team

fix: resolve build errors and import path issues
  src/components/ui/toaster.tsx
  src/shared/hooks/use-media-query.ts
  src/shared/hooks/use-mobile.ts
  src/shared/hooks/use-toast.ts
  src/shared/hooks/use-workflow-admin.ts
  src/shared/hooks/useAgentFilters.ts
  src/shared/hooks/useAuth.ts
  src/shared/hooks/useAutonomousAgent.ts
  src/shared/hooks/useLLMProviders.ts
  src/shared/hooks/useOrgStructure.ts
  src/shared/hooks/usePromptEnhancement.ts
  src/shared/hooks/useStreamingResponse.ts
  src/shared/hooks/useUsageData.ts
  src/shared/hooks/useUserRole.ts
  src/shared/hooks/useWorkspaceManager.ts
Owners: @vital-path/team

feat: implement comprehensive VITAL Path landing page
  package-lock.json
  package.json
  src/__tests__/integration/chat-workflow.test.ts
  src/__tests__/setup.ts
  src/__tests__/unit/core/services/agent-orchestrator.test.ts
  src/__tests__/unit/core/services/workflow-engine.test.ts
  src/app/admin/governance/components/ApprovalWorkflows.tsx
  src/app/admin/governance/components/PolicyManager.tsx
  src/app/admin/identity/components/SSOManagement.tsx
  src/app/admin/identity/page.tsx
  src/app/admin/settings/components/AnnouncementManager.tsx
  src/app/admin/settings/components/FeatureFlagsManager.tsx
  src/app/admin/settings/components/MaintenanceMode.tsx
  src/app/admin/settings/components/SystemConfiguration.tsx
  src/app/admin/settings/page.tsx
  src/app/globals.css
  src/app/page.tsx
  src/components/sections/vital-features.tsx
  src/components/sections/vital-framework.tsx
  src/components/sections/vital-hero.tsx
  src/components/sections/vital-problem.tsx
  src/components/sections/vital-solution.tsx
  src/components/sections/vital-testimonials.tsx
  src/components/sections/vital-trust-bar.tsx
  src/components/sections/vital-waitlist.tsx
  vitest.config.ts
Owners: @vital-path/team

fix: improve hero section UX and remove distracting animations
  CURSOR_AI_IMPLEMENTATION_PLAN.md
  src/components/sections/vital-hero.tsx
Owners: @vital-path/docs-team, @vital-path/team

feat: Fix test failures and create clean architecture migration tools
  architecture-analysis-report.json
  package-lock.json
  package.json
  scripts/analyze-architecture.js
  scripts/migrate-to-clean-architecture.js
  scripts/update-import-paths.js
  src/__tests__/e2e/agent-selection.test.ts
  src/__tests__/e2e/autonomous-mode.test.ts
  src/__tests__/e2e/chat-workflow.test.ts
  src/__tests__/integration/api/agent/route.test.ts
  src/__tests__/integration/api/chat/route.test.ts
  src/__tests__/integration/chat-workflow.test.ts
  src/__tests__/integration/services/workflow-integration.test.ts
  src/__tests__/unit/application/middleware/rate-limiter.middleware.test.ts
  src/__tests__/unit/core/domain/entities/agent.entity.test.ts
  src/__tests__/unit/core/services/agent-orchestrator.test.ts
  src/__tests__/unit/core/services/agent-orchestrator/agent-orchestrator.service.test.ts
  src/__tests__/unit/core/services/workflow-engine.test.ts
  src/__tests__/unit/core/services/workflow-engine/workflow-engine.service.test.ts
  src/__tests__/unit/infrastructure/monitoring/logger/secure-logger.test.ts
  src/__tests__/unit/shared/validation/chat.schemas.test.ts
  src/app/api/agent/route.ts
  src/auth-flow.test.ts
  tests/unit/agents/agent-store.test.ts
  tests/unit/agents/orchestration-system.test.ts
Owners: @vital-path/team

fix: Resolve build errors for deployment
  src/components/ui/select.tsx
  src/shared/validation/agent.schemas.ts
Owners: @vital-path/team

feat: add navigation bar and dynamic AI icon animations
  CHANGELOG.md
  CURSOR_AI_IMPLEMENTATION_PLAN.md
  README.md
  src/app/globals.css
  src/app/page.tsx
  src/components/layout/vital-navbar.tsx
  src/components/sections/vital-agents.tsx
  src/components/sections/vital-framework.tsx
  src/components/sections/vital-hero.tsx
  src/components/sections/vital-metrics.tsx
  src/components/sections/vital-pricing.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Complete comprehensive documentation suite
  CURSOR_AI_IMPLEMENTATION_PLAN.md
  docs/api.md
  docs/deployment.md
Owners: @vital-path/docs-team

feat: apply VITAL v3.0 design system to all pages
  src/app/(app)/dashboard/page.tsx
  src/app/(app)/layout.tsx
  src/app/admin/page.tsx
  src/components/layout/vital-page-layout.tsx
Owners: @vital-path/team

fix: Add comprehensive safety checks to prevent undefined array access errors
  src/app/(app)/ask-expert/page.tsx
  src/components/chat/enhanced-agent-sidebar.tsx
  src/components/chat/reasoning-display.tsx
  src/components/chat/tool-selector.tsx
  src/lib/stores/agents-store.ts
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: Connect workflow to actual AI service for real responses
  src/features/chat/services/workflow-nodes.ts
Owners: @vital-path/team

fix: Replace broken workflow with working LangChain service
  src/app/api/chat/route.ts
Owners: @vital-path/team

feat: implement automatic agent selection system
  AUTOMATIC_AGENT_QUICKSTART.md
  AUTOMATIC_AGENT_SELECTION_README.md
  src/__tests__/automatic-agent-selection.test.ts
  src/app/api/chat/automatic-agent/route.ts
  src/components/chat/automatic-agent-demo.tsx
  src/components/chat/automatic-mode-interface.tsx
  src/components/chat/chat-with-automatic-mode.tsx
  src/features/chat/services/agent-matcher.ts
  src/features/chat/services/automatic-orchestrator.ts
  src/features/chat/services/performance-tracker.ts
  src/features/chat/services/query-analyzer.ts
  src/hooks/use-automatic-mode.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: resolve TypeScript compilation issues
  src/components/chat/automatic-mode-interface.tsx
  src/features/chat/services/agent-matcher.ts
  src/features/chat/services/automatic-orchestrator.ts
  src/features/chat/services/performance-tracker.ts
  src/features/chat/services/query-analyzer.ts
  src/hooks/use-automatic-mode.ts
Owners: @vital-path/team

fix: resolve build issues and create server-side query analyzer
  next.config.js
  src/features/chat/services/agent-matcher.ts
  src/features/chat/services/automatic-orchestrator.ts
  src/features/chat/services/query-analyzer-server.ts
Owners: @vital-path/team

feat: add test page for automatic agent selection
  src/app/test-automatic-agent/page.tsx
Owners: @vital-path/team

docs: add deployment summary and finalize automatic agent selection
  AUTOMATIC_AGENT_DEPLOYMENT_SUMMARY.md
Owners: @vital-path/docs-team

fix: resolve automatic mode UI and API issues
  src/app/api/chat/middleware.ts
  src/components/chat/chat-input.tsx
  src/components/chat/enhanced-chat-container.tsx
  src/lib/stores/chat-store.ts
  src/shared/hooks/use-automatic-mode.ts
Owners: @vital-path/team

fix: resolve automatic mode state persistence issues
  src/components/chat/chat-input.tsx
  src/components/chat/redesigned-chat-container.tsx
  src/components/debug/state-debugger.tsx
  src/hooks/use-chat-sync.ts
  src/lib/stores/chat-store.ts
  tsconfig.json
Owners: @vital-path/team

debug: add logging to diagnose interaction mode state issue
  .cursor/rules
  src/components/chat/enhanced-chat-container.tsx
Owners: @vital-path/team

fix: remove forced manual mode in setSelectedExpert
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

fix: resolve build errors, duplicate messages, and avatar issues
  .cursor/rules
  src/app/test-automatic-agent/page.tsx
  src/components/chat/message-bubble.tsx
  src/components/ui/toaster.tsx
  src/lib/stores/chat-store.ts
Owners: @vital-path/team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
