Repository curatedhealth/vital-expert-platform, changes with the owners that CODEOWNERS names for each.
All owners: @vital-path/team, @vital-path/frontend-team, @vital-path/backend-team, @vital-path/database-team, @vital-path/devops-team, @vital-path/docs-team

docs: Add Sonner SSR fix documentation
  SONNER_SSR_FIX.md
Owners: @vital-path/docs-team

docs: Add Sonner SSR fix documentation
  SONNER_SSR_FIX.md
Owners: @vital-path/docs-team

docs: COMPREHENSIVE FRONTEND AUDIT - Critical Issues Found 🔍🚨
  COMPREHENSIVE_FRONTEND_AUDIT.md
Owners: @vital-path/docs-team

docs: COMPREHENSIVE FRONTEND AUDIT - Critical Issues Found 🔍🚨
  COMPREHENSIVE_FRONTEND_AUDIT.md
Owners: @vital-path/docs-team

fix: Use dynamic import for Sonner to prevent SSR and add null checks for agent properties
  apps/digital-health-startup/src/components/toaster-wrapper.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelCreationWizard.tsx
Owners: @vital-path/team

fix: Use dynamic import for Sonner to prevent SSR and add null checks for agent properties
  apps/digital-health-startup/src/components/toaster-wrapper.tsx
  apps/digital-health-startup/src/features/ask-panel/components/PanelCreationWizard.tsx
Owners: @vital-path/team

docs: Complete Frontend Refactoring Project Plan & Tracking 📋✅
  FRONTEND_REFACTORING_PROJECT_PLAN.md
  REFACTORING_PROGRESS_DASHBOARD.md
Owners: @vital-path/docs-team

docs: Complete Frontend Refactoring Project Plan & Tracking 📋✅
  FRONTEND_REFACTORING_PROJECT_PLAN.md
  REFACTORING_PROGRESS_DASHBOARD.md
Owners: @vital-path/docs-team

docs: Add environment setup script and success documentation
  ALL_ERRORS_FIXED.md
  setup-env.sh
Owners: @vital-path/docs-team, @vital-path/team

docs: Add environment setup script and success documentation
  ALL_ERRORS_FIXED.md
  setup-env.sh
Owners: @vital-path/docs-team, @vital-path/team

docs: Add setup complete documentation
  SETUP_COMPLETE.md
Owners: @vital-path/docs-team

docs: Add setup complete documentation
  SETUP_COMPLETE.md
Owners: @vital-path/docs-team

fix: Change login redirect from /ask-expert to /dashboard
  apps/digital-health-startup/src/app/(auth)/login/actions.ts
  apps/digital-health-startup/src/app/(auth)/login/page.tsx
  apps/digital-health-startup/src/app/auth/callback/route.ts
Owners: @vital-path/team

fix: Change login redirect from /ask-expert to /dashboard
  apps/digital-health-startup/src/app/(auth)/login/actions.ts
  apps/digital-health-startup/src/app/(auth)/login/page.tsx
  apps/digital-health-startup/src/app/auth/callback/route.ts
Owners: @vital-path/team

cleanup: Delete 8 duplicate ask-expert page versions ♻️
  FIX_MISSING_BUSINESS_FUNCTIONS_TABLE.md
  apps/digital-health-startup/src/app/(app)/ask-expert-copy/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-backup-5mode.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-backup-before-gold.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-complete.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-enhanced.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-gold-standard.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-legacy-single-agent.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page-modern.tsx
  database/migrations/100_create_business_functions.sql
Owners: @vital-path/docs-team, @vital-path/team

fix: Handle NULL agent_id in Ask Expert sessions API
  ASK_EXPERT_NULL_AGENT_FIX.md
  REFACTORING_PROGRESS_DASHBOARD.md
  apps/digital-health-startup/src/app/api/ask-expert/route.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Update dashboard - Phase 1 COMPLETE! 🎉
  REFACTORING_PROGRESS_DASHBOARD.md
Owners: @vital-path/docs-team

fix: Map database summary field to description for workflows UI
  apps/digital-health-startup/src/app/api/workflows/usecases/[code]/complete/route.ts
  apps/digital-health-startup/src/app/api/workflows/usecases/[code]/route.ts
  apps/digital-health-startup/src/app/api/workflows/usecases/route.ts
Owners: @vital-path/team

docs: Add workflows 404 fix documentation
  WORKFLOWS_404_FIX.md
Owners: @vital-path/docs-team

docs: Add Phase 1 completion report
  PHASE1_CLEANUP_COMPLETE.md
Owners: @vital-path/docs-team

docs: Add comprehensive re-assessment report
  COMPREHENSIVE_REASSESSMENT_REPORT.md
Owners: @vital-path/docs-team

docs: Add comprehensive re-assessment report
  COMPREHENSIVE_REASSESSMENT_REPORT.md
Owners: @vital-path/docs-team

docs: Add workflows detail 404 fix guide
  FIX_WORKFLOWS_DETAIL_404.md
  WORKFLOWS_404_AUTH_ISSUE.md
Owners: @vital-path/docs-team

docs: Add workflows detail 404 fix guide
  FIX_WORKFLOWS_DETAIL_404.md
  WORKFLOWS_404_AUTH_ISSUE.md
Owners: @vital-path/docs-team

fix: Re-apply Ask Expert NULL agent_id fix (was reverted)
  apps/digital-health-startup/src/app/api/ask-expert/route.ts
Owners: @vital-path/team

fix: Re-apply Ask Expert NULL agent_id fix (was reverted)
  apps/digital-health-startup/src/app/api/ask-expert/route.ts
Owners: @vital-path/team

docs: Add Option 1 completion report
  OPTION1_FRESH_CLEANUP_COMPLETE.md
Owners: @vital-path/docs-team

docs: Add Option 1 completion report
  OPTION1_FRESH_CLEANUP_COMPLETE.md
Owners: @vital-path/docs-team

docs: Phase 1 merged to main - Complete success!
  PHASE1_MERGED_COMPLETE.md
Owners: @vital-path/docs-team

docs: Phase 1 merged to main - Complete success!
  PHASE1_MERGED_COMPLETE.md
Owners: @vital-path/docs-team

fix: Make Pinecone and Redis optional for development
  LOG_ANALYSIS_AND_FIXES.md
  RESTART_DEV_SERVER_NOW.md
  apps/digital-health-startup/src/app/api/workflows/[id]/tasks/route.ts
  apps/digital-health-startup/src/lib/security/rate-limiter.ts
  apps/digital-health-startup/src/lib/services/vectorstore/pinecone-vector-service.ts
Owners: @vital-path/docs-team, @vital-path/team

fix: Make Pinecone and Redis optional for development
  LOG_ANALYSIS_AND_FIXES.md
  RESTART_DEV_SERVER_NOW.md
  apps/digital-health-startup/src/app/api/workflows/[id]/tasks/route.ts
  apps/digital-health-startup/src/lib/security/rate-limiter.ts
  apps/digital-health-startup/src/lib/services/vectorstore/pinecone-vector-service.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Complete Phase 2 analysis - Agent Creator refactoring plan
  AGENT_CREATOR_ANALYSIS_COMPLETE.md
  FIXES_COMPLETE_RESTART_NOW.md
  PHASE2_AGENT_CREATOR_PROJECT_PLAN.md
  RESTART_DEV_SERVER_NOW.md
Owners: @vital-path/docs-team

docs: Complete Phase 2 analysis - Agent Creator refactoring plan
  AGENT_CREATOR_ANALYSIS_COMPLETE.md
  FIXES_COMPLETE_RESTART_NOW.md
  PHASE2_AGENT_CREATOR_PROJECT_PLAN.md
  RESTART_DEV_SERVER_NOW.md
Owners: @vital-path/docs-team

docs: Add comprehensive environment setup documentation
  ENVIRONMENT_SETUP_COMPLETE.md
  QUICK_START.md
Owners: @vital-path/docs-team

feat: Enable Pinecone and Upstash Redis - All features active
  ALL_KEYS_CONFIGURED.md
  QUICK_START.md
Owners: @vital-path/docs-team

refactor: Sprint 1 - Extract hooks and tab components for Agent Creator
  PROMPT_STARTERS_IMPLEMENTATION_COMPLETE.md
  SPRINT1_PROGRESS_REPORT.md
  apps/digital-health-startup/src/app/(app)/admin/page.tsx
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/api/prompt-detail/route.ts
  apps/digital-health-startup/src/app/api/prompt-starters/route.ts
  apps/digital-health-startup/src/components/admin/AuditLogs.tsx
  apps/digital-health-startup/src/components/admin/WorkflowManagement.tsx
  apps/digital-health-startup/src/components/prompt-starters.tsx
  apps/digital-health-startup/src/components/sidebar-view-content.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/BasicTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/OrganizationTab.tsx
  apps/digital-health-startup/src/features/chat/components/agent-creator/index.ts
  apps/digital-health-startup/src/features/chat/components/agent-creator/types.ts
  apps/digital-health-startup/src/features/chat/hooks/index.ts
  apps/digital-health-startup/src/features/chat/hooks/useAvailableTools.ts
  apps/digital-health-startup/src/features/chat/hooks/useKnowledgeDomains.ts
  apps/digital-health-startup/src/features/chat/hooks/useMedicalData.ts
  apps/digital-health-startup/src/features/chat/hooks/useModelOptions.ts
  apps/digital-health-startup/src/features/chat/hooks/useOrganizationFilters.ts
Owners: @vital-path/docs-team, @vital-path/team

docs: Add comprehensive Sprint 1 completion summary
  SPRINT1_COMPLETE.md
Owners: @vital-path/docs-team

refactor: Complete Sprint 1 - JSX integration for BasicTab and OrganizationTab
  ALL_AGENTS_PROMPT_STARTERS_COMPLETE.md
  apps/digital-health-startup/src/app/(app)/ask-expert/page.tsx
  apps/digital-health-startup/src/app/api/prompt-starters/route.ts
  apps/digital-health-startup/src/features/chat/components/agent-creator.tsx
Owners: @vital-path/docs-team, @vital-path/team

docs: Add Sprint 1 final report - 100% complete
  SPRINT1_FINAL_REPORT.md
Owners: @vital-path/docs-team

CODEOWNERS:

# Global owners
* @vital-path/team

# Frontend
apps/frontend/ @vital-path/frontend-team
packages/ui/ @vital-path/frontend-team

# Backend Services
apps/node-gateway/ @vital-path/backend-team
apps/python-services/ @vital-path/backend-team
packages/core/ @vital-path/backend-team

# Database
db/ @vital-path/database-team
supabase/ @vital-path/database-team

# Infrastructure
infra/ @vital-path/devops-team
k8s/ @vital-path/devops-team
.github/workflows/ @vital-path/devops-team

# Documentation
docs/ @vital-path/docs-team
*.md @vital-path/docs-team

# Configuration
package.json @vital-path/team
pnpm-workspace.yaml @vital-path/team
tsconfig.json @vital-path/team
